<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  name="Live"
		  connectionString="Data Source=sql-lab-2;Initial Catalog=Live;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<!-- Previous dev (Juan) used SQL Authentication @lab-1; now removed for security -->
	</connectionStrings>
</configuration>
