USE LIVE
GO

WITH CTE_REV AS 
(SELECT GJL.GJ_ID 
FROM [LIVE].[dbo].[GJ_LINE] GJL 
LEFT OUTER JOIN [LIVE].[dbo].[GJ] GJ
ON GJL.GJ_ID = GJ.ID
WHERE GJL.[GL_ACCOUNT_ID] LIKE '4%' 
AND GJ.GJ_DATE >= '1/1/2019'
GROUP BY GJL.GJ_ID
)
--SELECT * FROM CTE_REV 


SELECT GJ.*, GJL.*
FROM [LIVE].[dbo].[GJ_LINE] GJL
INNER JOIN CTE_REV CTE
ON CTE.GJ_ID = GJL.GJ_ID
LEFT OUTER JOIN [LIVE].[dbo].[GJ] GJ
ON GJL.GJ_ID = GJ.ID
--LEFT OUTER JOIN [LIVE].[dbo].[GJ_DIST] GJD
--ON GJD.GJ_ID = GJL.GJ_ID
--AND GJD.[GL_ACCOUNT_ID] = GJL.[GL_ACCOUNT_ID]
--LEFT OUTER JOIN [LIVE].[dbo].[JOURNAL] J
--ON J.[BATCH_ID] = GJD.[BATCH_ID]
--AND J.[ACCOUNT_ID] = GJL.[GL_ACCOUNT_ID]
--AND J.[DEBIT_AMOUNT] = GJL.[DEBIT_AMOUNT]
--AND J.[CREDIT_AMOUNT] = GJL.[CREDIT_AMOUNT]
--> NOT USED SINCE 2017.  WHY?
--LEFT OUTER JOIN [LIVE].[dbo].[JOURNAL_DIM] JD
--ON J.BATCH_ID = JD.BATCH_ID
--AND GJD.[GL_ACCOUNT_ID] = GJL.[GL_ACCOUNT_ID]
--LEFT OUTER JOIN [LIVE].[dbo].[JOURNAL_BATCH] JB
--ON J.BATCH_ID = JB.ID
WHERE GJ.GJ_DATE >= '1/1/2019'
--J.ACCT_YEAR = 2019
--AND J.ACCT_PERIOD = 1
--AND J.BATCH_ID = 30131
--AND GJL.GJ_ID = 'T21139'
--AND J.ACCOUNT_ID = '6493'
ORDER BY GJL.GJ_ID, GJL.LINE_NO

SELECT GJ.POSTING_DATE
, GJL.GL_ACCOUNT_ID
, SUM(GJL.DEBIT_AMOUNT) AS DEBIT_AMOUNT
, SUM(GJL.CREDIT_AMOUNT) AS CREDIT_AMOUNT
FROM [LIVE].[dbo].[GJ_LINE] GJL
LEFT OUTER JOIN [LIVE].[dbo].[GJ] GJ
ON GJL.GJ_ID = GJ.ID
WHERE GJ.POSTING_DATE >= '1/1/2019'
AND GJ.POSTING_DATE < '1/1/2020'
GROUP BY GJ.POSTING_DATE
, GJL.GL_ACCOUNT_ID
ORDER BY GJ.POSTING_DATE
, GJL.GL_ACCOUNT_ID

SELECT A.ID
, A.[DESCRIPTION]
, SUM(GJL.DEBIT_AMOUNT) AS DEBIT_AMOUNT
, SUM(GJL.CREDIT_AMOUNT) AS CREDIT_AMOUNT
FROM ACCOUNT A
LEFT OUTER JOIN [LIVE].[dbo].[GJ_LINE] GJL
ON A.ID = GJL.GL_ACCOUNT_ID
LEFT OUTER JOIN [LIVE].[dbo].[GJ] GJ
ON GJL.GJ_ID = GJ.ID
WHERE GJ.POSTING_DATE >= '1/1/2019'
AND GJ.POSTING_DATE < '1/1/2020'
AND GJL.GL_ACCOUNT_ID = '4310'
GROUP BY A.ID
, A.[DESCRIPTION]
ORDER BY A.ID
, A.[DESCRIPTION]

SELECT * FROM ACCOUNT WHERE ID = '4310'
SELECT * 
FROM [LIVE].[dbo].[GJ_LINE] GJL 
LEFT OUTER JOIN [LIVE].[dbo].[GJ] GJ
ON GJL.GJ_ID = GJ.ID
WHERE GL_ACCOUNT_ID = '4310' 
AND GJ.POSTING_DATE >= '1/1/2019'
AND GJ.POSTING_DATE < '1/1/2020'
