/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ROWID]
      ,[USER_ID]
      ,[LAST_LOGIN]
      ,[MPS]
      ,[KEY]
  FROM [LIVE].[dbo].[LMC_MRP_USERS]

--  insert into [LMC_MRP_USERS] values ('SYSADM', NULL, 'N', NULL)