USE [Datamart]
GO
/****** Object:  StoredProcedure [Derived].[usp_Extract_Cost_Of_Quality2]    Script Date: 5/25/2020 8:56:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

IF OBJECT_ID('TEMPDB..#TEMP1') IS NOT NULL DROP TABLE #TEMP1
IF OBJECT_ID('TEMPDB..#TEMP2') IS NOT NULL DROP TABLE #TEMP2
IF OBJECT_ID('TEMPDB..#RESULTS') IS NOT NULL DROP TABLE #RESULTS
IF OBJECT_ID('TEMPDB..#RESULTS2') IS NOT NULL DROP TABLE #RESULTS2
IF OBJECT_ID('TEMPDB..#REQUIRESET') IS NOT NULL DROP TABLE #REQUIRESET
IF OBJECT_ID('TEMPDB..#DATASETNCM') IS NOT NULL DROP TABLE #DATASETNCM

DECLARE @IDX NVARCHAR(30); ---- = '1549524'; 

------------------------------
--> LUKE: DATE DEFINITION
DECLARE @STARTDATE DATE = '1/1/2019'
	, @ENDDATE DATE = '1/1/2020'
------------------------------

; WITH REQUIRESETX AS 
(SELECT WO.BASE_ID
	, IDX = DATAWAREHOUSE.MANAGEDDATA.FN_PARSE_NUMERIC(BASE_ID)
	, WO.LOT_ID
	, WO.SUB_ID
	, WO.SPLIT_ID
	, WO.[TYPE]
	, WO.PART_ID
	, DESCRIPT = CASE 
		WHEN ((WO.SUB_ID > 0) AND (WO.PART_ID LIKE '%REWORK%') AND (WO.[TYPE] LIKE 'W')) THEN 'LEG'
		WHEN ((WO.SUB_ID = 0) AND ( WO.BASE_ID LIKE '%R%') AND (WO.[TYPE] LIKE 'W')) THEN 'HEADERITEM'
	END				
FROM WORK_ORDER WO WITH (NOLOCK)
WHERE (1=1)
	AND (WO.SUB_ID > 0)	
	AND (WO.PART_ID LIKE '%REWORK%') 
	AND (WO.[TYPE] = 'W')
--> LUKE: DATA RESTRICTION
--	 AND (WO.CREATE_DATE > DATEADD(DAY,1,EOMONTH( DATEADD(YEAR,-1,GETDATE()),0))) 
	 AND (WO.CREATE_DATE >= @STARTDATE) 


UNION ALL

SELECT WO.BASE_ID
	, IDX = DATAWAREHOUSE.MANAGEDDATA.FN_PARSE_NUMERIC(BASE_ID)
	, WO.LOT_ID
	, WO.SUB_ID
	, WO.SPLIT_ID
	, WO.[TYPE]
	, WO.PART_ID
	, DESCRIPT = CASE 
		WHEN ((WO.SUB_ID > 0) AND (WO.PART_ID LIKE '%REWORK%') AND (WO.[TYPE] LIKE 'W')) THEN 'LEG'
		WHEN ((WO.SUB_ID = 0) AND (WO.BASE_ID LIKE '%R%') AND (WO.[TYPE] LIKE 'W')) THEN 'HEADERITEM'
	END				
FROM WORK_ORDER WO WITH (NOLOCK)
WHERE (1=1)
	AND (WO.SUB_ID = 0) 
	AND (WO.BASE_ID LIKE '%R%') 
	AND (WO.[TYPE] LIKE 'W')
--> LUKE: DATA RESTRICTION
--	 AND (WO.CREATE_DATE > DATEADD(DAY,1,EOMONTH( DATEADD(YEAR,-1,GETDATE()),0))) 
	 AND (WO.CREATE_DATE >= @STARTDATE) 
) 

--REMOVE IF PARSE INCONSISTENT
, REQUIRESET AS 
(SELECT * FROM REQUIRESETX WO
WHERE (PART_ID IS NOT NULL)
	AND (ISNULL(PART_ID, '') != 'TEST')
	AND NOT(ISNULL(BASE_ID,'') IN ('R/T968273', 'R/T1005967', 'R/T1003608', 'RW/1/1019429', 'RW/2/1016996'))
)

, DATASETWO AS
(SELECT IDX = DATAWAREHOUSE.MANAGEDDATA.FN_PARSE_NUMERIC(WO.BASE_ID)
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.[TYPE]
	, WO.ACT_LABOR_COST
	, WO.ACT_BURDEN_COST
	, WO.ACT_SERVICE_COST
	, WO.ACT_MATERIAL_COST
	, WO.CREATE_DATE
	, WO.PART_ID
/* PROJECT INFORMATION */
	, DESCRIPT = CASE 
		WHEN  ((WO.SUB_ID > 0) AND (WO.PART_ID LIKE '%REWORK%') AND (WO.[TYPE] LIKE 'W')) THEN 'LEG'
		WHEN  ((WO.SUB_ID = 0) AND ( WO.BASE_ID LIKE '%R%') AND (WO.[TYPE] LIKE 'W')) THEN 'HEADERITEM'
	END		
FROM WORK_ORDER WO
WHERE EXISTS (SELECT 1 
	FROM REQUIRESET RS
	WHERE RS.BASE_ID = WO.BASE_ID
		AND RS.LOT_ID = WO.LOT_ID
		AND RS.SPLIT_ID = WO.SPLIT_ID
		AND RS.SUB_ID = WO.SUB_ID
		AND RS.TYPE = WO.[TYPE]
	)
)

-- GROUP BY FOR ONE-TO-MANY
, DATASETGROUPBYNCM AS
(SELECT DESCRIPT = 'LEG'
	, MAX(WO.BASE_ID) BASE_ID
	, (PO.ALT_ID_2) ALT_ID_2
	, (PO.ALT_ID_5) ALT_ID_5
	, MAX(WO.LOT_ID ) LOT_ID
	, (PO.ALT_ID_3 ) ALT_ID_3
	, MAX(WO.SPLIT_ID ) SPLIT_ID
	, (PO.ALT_ID_4 ) ALT_ID_4
	, MAX(WO.[TYPE]) [TYPE]
	, (PO.ALT_ID_1) ALT_ID_1 
	, MAX(WO.PART_ID) PART_ID
	, MAX(WO.CREATE_DATE) CREATE_DATE
-- PROJECTION PO --  >
	, PO.DISPLAY_ID
	, PO.RECORD_ID
-- PROJECTION PO /
-- PROJECTION NCM --  >
	, NCM.ACCEPTED
	, NCM.BUSINESS_UNIT_ID
	, NCM.DISPOSITION
	, NCM.DISPOSITION_TYPE
	, NCM.DISP_DATE
	, NCM.DUE_DATE
	, NCM.LOT_SIZE
	, NCM.NCM_DATE
	, NCM.NCM_ID
	, NCM.NCM_TYPE
	, NCM.PO_NUMBER -- AS VENDOR_PO_NUM
	, NCM.REFERENCE_1 --AS [SPEC_SECT]
	, NCM.REFERENCE_10 --AS [ASIS_QTY]
	, NCM.REFERENCE_2 --AS [DRAW_REF]
	, NCM.REFERENCE_3 --AS [ASIS_DIM]
	, NCM.REFERENCE_4 --AS [SHOULD_BE_DIM]
	, NCM.REFERENCE_6 --AS [REWORK_QTY]
	, NCM.REFERENCE_7 --AS [SCRAP_QTY]
	, NCM.REFERENCE_8 --AS [OVERAGE_QTY]
	, NCM.REFERENCE_9 --AS [RETURN_QTY]
	, NCM.REJECTED
	, NCM.SK_FIN_NCM_PROCESS
	, NCM.SK_MFG_NCM_PROCESS
	, NCM.USER_DEFINED_3 --AS [CATEGORY]
	, NCM.USER_DEFINED_4
	, NCM.USER_DEFINED_7
--- PROJECTION NCM /
--- PROJECTION P -- >
	, P.PRODUCT_ID
--- PROJECTION P /
FROM WORK_ORDER WO WITH (NOLOCK)
LEFT JOIN VQ_PRODUCTION_ORDER PO  WITH (NOLOCK)
	ON WO.BASE_ID = PO.ALT_ID_2
	AND WO.LOT_ID = PO.ALT_ID_3
	AND WO.SPLIT_ID = PO.ALT_ID_4
	AND WO.[TYPE] = PO.ALT_ID_1	
LEFT JOIN VQ_NONCONFORMANCE NCM  WITH (NOLOCK)
	ON PO.RECORD_ID = NCM.PROD_ORDER_REC_ID
LEFT JOIN [VQ_PRODUCT] P  WITH (NOLOCK)
	ON PO.PRODUCT_REC_ID = P.RECORD_ID
WHERE EXISTS (SELECT 1   
	FROM REQUIRESET	RS WITH (NOLOCK)
	WHERE (1=1)			
		AND RS.BASE_ID = WO.BASE_ID
		AND RS.LOT_ID = WO.LOT_ID
		AND RS.SPLIT_ID = WO.SPLIT_ID
		AND RS.SUB_ID = WO.SUB_ID
		AND RS.TYPE = WO.[TYPE]
	) 
--> LUKE: DATA RESTRICTION
--	AND NCM.NCM_DATE >= DATEADD(DAY,1,EOMONTH( DATEADD(YEAR,-1,GETDATE()),0))
	AND NCM.NCM_DATE >= @STARTDATE
GROUP BY PO.ALT_ID_1  -- > TYPE	
	, PO.ALT_ID_2  -- > BASE_ID
	, PO.ALT_ID_3  -- > LOT_ID
	, PO.ALT_ID_4  -- > SPLIT_ID 
	, PO.ALT_ID_5  -- > SUB_ID
	, PO.DISPLAY_ID
	, PO.RECORD_ID
	, NCM.ACCEPTED
	, NCM.BUSINESS_UNIT_ID
	, NCM.DISPOSITION
	, NCM.DISPOSITION_TYPE
	, NCM.DISP_DATE
	, NCM.DUE_DATE
	, NCM.LOT_SIZE
	, NCM.NCM_DATE
	, NCM.NCM_ID
	, NCM.NCM_TYPE
	, NCM.PO_NUMBER -- AS VENDOR_PO_NUM
	, NCM.REFERENCE_1 --AS [SPEC_SECT]
	, NCM.REFERENCE_10 --AS [ASIS_QTY]
	, NCM.REFERENCE_2 --AS [DRAW_REF]
	, NCM.REFERENCE_3 --AS [ASIS_DIM]
	, NCM.REFERENCE_4 --AS [SHOULD_BE_DIM]
	, NCM.REFERENCE_6 --AS [REWORK_QTY]
	, NCM.REFERENCE_7 --AS [SCRAP_QTY]
	, NCM.REFERENCE_8 --AS [OVERAGE_QTY]
	, NCM.REFERENCE_9 --AS [RETURN_QTY]
	, NCM.REJECTED
	, NCM.SK_FIN_NCM_PROCESS
	, NCM.SK_MFG_NCM_PROCESS
	, NCM.USER_DEFINED_3 --AS [CATEGORY]
	, NCM.USER_DEFINED_4
	, NCM.USER_DEFINED_7
	, P.PRODUCT_ID
)

, DATASETWOX AS
(SELECT IDX = DATAWAREHOUSE.MANAGEDDATA.FN_PARSE_NUMERIC(WO.BASE_ID)
	, DESCRIPT = 'LEG'
	, WO.BASE_ID 
	, PO.ALT_ID_2
	, WO.SUB_ID
	, PO.ALT_ID_5
	, WO.LOT_ID 
	, PO.ALT_ID_3 
	, WO.SPLIT_ID 
	, PO.ALT_ID_4
	, WO.[TYPE] 
	, NCM.NCM_TYPE
	, P.PRODUCT_ID
	, WO.PART_ID
	, NCM.DISPOSITION_TYPE 
	, NCM.NCM_DATE 
	, WO.CREATE_DATE
	, COALESCE(NCM.SK_FIN_NCM_PROCESS, NCM.SK_MFG_NCM_PROCESS) PROCESS
FROM WORK_ORDER WO WITH (NOLOCK)
LEFT JOIN VQ_PRODUCTION_ORDER PO  WITH (NOLOCK)
	ON WO.BASE_ID = PO.ALT_ID_2
	AND WO.LOT_ID = PO.ALT_ID_3
	AND WO.SPLIT_ID = PO.ALT_ID_4
	AND WO.[TYPE] = PO.ALT_ID_1
LEFT JOIN VQ_NONCONFORMANCE NCM  WITH (NOLOCK)
	ON PO.RECORD_ID = NCM.PROD_ORDER_REC_ID
LEFT JOIN [VQ_PRODUCT] P  WITH (NOLOCK)
	ON PO.PRODUCT_REC_ID = P.RECORD_ID
-- HEADER ITEMS (SUB_ID = 0) ----------------------------
WHERE (1=1)
	AND WO.SUB_ID > 0
	AND WO.[TYPE] = 'W'
	AND WO.PART_ID LIKE '%REWORK%'
	AND EXISTS (SELECT 1 
		FROM REQUIRESET RS
		WHERE RS.BASE_ID = WO.BASE_ID
		AND RS.LOT_ID = WO.LOT_ID
		AND RS.SPLIT_ID = WO.SPLIT_ID
		AND RS.SUB_ID = WO.SUB_ID
		AND RS.[TYPE] = WO.[TYPE]
		)
	AND NCM.DISPOSITION_TYPE NOT IN ('OVERAGE', 'NONDISCREPANT', 'NON-DISCREPANT','SCRAP')

--> LUKE: DATA RESTRICTION
--	AND NCM.NCM_DATE >= DATEADD(DAY,1,EOMONTH( DATEADD(YEAR,-1,GETDATE()),0))
	AND NCM.NCM_DATE >= @STARTDATE

	AND COALESCE(NCM.SK_FIN_NCM_PROCESS, NCM.SK_MFG_NCM_PROCESS, '') <> 'PENETRANT'
	AND COALESCE(NCM.SK_FIN_NCM_PROCESS, NCM.SK_MFG_NCM_PROCESS, '') <> 'NDT'
) 

SELECT *
	, CHRONORDER = ROW_NUMBER() OVER (PARTITION BY IDX ORDER BY CREATE_DATE ASC)
INTO #REQUIRESET
FROM DATASETWO
WHERE (IDX = @IDX OR @IDX IS NULL)
ORDER BY CREATE_DATE;

-- NCM ---------------------
WITH DATASETNCM AS
(SELECT IDX = DATAWAREHOUSE.MANAGEDDATA.FN_PARSE_NUMERIC(PO.ALT_ID_2)
	, PO.ALT_ID_1  -- > TYPE	
	, PO.ALT_ID_2  -- > BASE_ID
	, PO.ALT_ID_3  -- > LOT_ID
	, PO.ALT_ID_4  -- > SPLIT_ID 
	, PO.ALT_ID_5  -- > SUB_ID
	, PO.DISPLAY_ID
	, PO.RECORD_ID
	, NCM.ACCEPTED
	, NCM.BUSINESS_UNIT_ID
	, NCM.DISPOSITION
	, NCM.DISPOSITION_TYPE
	, NCM.DISP_DATE
	, NCM.DUE_DATE
	, NCM.LOT_SIZE
	, NCM.NCM_DATE
	, NCM.NCM_ID
	, NCM.NCM_TYPE
	, NCM.PO_NUMBER -- AS VENDOR_PO_NUM
	, NCM.REFERENCE_1 --AS [SPEC_SECT]
	, NCM.REFERENCE_10 --AS [ASIS_QTY]
	, NCM.REFERENCE_2 --AS [DRAW_REF]
	, NCM.REFERENCE_3 --AS [ASIS_DIM]
	, NCM.REFERENCE_4 --AS [SHOULD_BE_DIM]
	, NCM.REFERENCE_6 --AS [REWORK_QTY]
	, NCM.REFERENCE_7 --AS [SCRAP_QTY]
	, NCM.REFERENCE_8 --AS [OVERAGE_QTY]
	, NCM.REFERENCE_9 --AS [RETURN_QTY]
	, NCM.REJECTED
	, NCM.SK_FIN_NCM_PROCESS
	, NCM.SK_FIN_NCM_SUBPROCESS
	, NCM.SK_MFG_NCM_PROCESS
	, NCM.SK_MFG_NCM_SUBPROCESS
	, NCM.USER_DEFINED_3 --AS [CATEGORY]
	, NCM.USER_DEFINED_4
	, NCM.USER_DEFINED_7
	, P.PRODUCT_ID
	, COALESCE(NCM.SK_FIN_NCM_PROCESS, NCM.SK_MFG_NCM_PROCESS) PROCESSX
	, ISPAINT = CASE COALESCE(NCM.SK_FIN_NCM_PROCESS, NCM.SK_MFG_NCM_PROCESS)
		WHEN 'PAINT' THEN 1 ELSE 0 
	END
FROM VQ_PRODUCTION_ORDER PO  WITH (NOLOCK)
JOIN VQ_NONCONFORMANCE NCM  WITH (NOLOCK)
	ON PO.RECORD_ID = NCM.PROD_ORDER_REC_ID
LEFT JOIN [VQ_PRODUCT] P  WITH (NOLOCK)
	ON PO.PRODUCT_REC_ID = P.RECORD_ID
WHERE (1=1)
	AND NCM.DISPOSITION_TYPE NOT IN ('OVERAGE', 'NONDISCREPANT', 'NON-DISCREPANT', 'SCRAP')	
	AND COALESCE(NCM.SK_FIN_NCM_PROCESS, NCM.SK_MFG_NCM_PROCESS, '') <> 'PENETRANT'
	AND COALESCE(NCM.SK_FIN_NCM_PROCESS, NCM.SK_MFG_NCM_PROCESS, '') <> 'NDT'
) 

SELECT *
	, CHRONORDER = ROW_NUMBER() OVER (PARTITION BY IDX ORDER BY ISPAINT DESC, NCM_DATE DESC)
INTO #DATASETNCM
FROM DATASETNCM
WHERE (IDX = @IDX OR @IDX IS NULL)
ORDER BY NCM_DATE

SELECT 'Rework' as CLASS
	, WO.IDX
	, WO.CHRONORDER
	, WO.DESCRIPT
/* OUTPUT PROJECTION OP */
	, MAX(WO.ACT_BURDEN_COST + WO.ACT_SERVICE_COST + WO.ACT_LABOR_COST + WO.ACT_MATERIAL_COST) AS [TOTAL WO COST]
	, SUM(ISNULL(OP.ACT_ATL_BUR_COST,0) + ISNULL(OP.ACT_ATL_LAB_COST,0) + ISNULL(OP.ACT_ATL_SER_COST,0)) AS [TOTAL OPERATION COST]
/* OUTPUT PROJECTION WO */
	, WO.CREATE_DATE
	, WO.PART_ID
	, NCM.NCM_ID
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.[TYPE]
	, NCM.DISPLAY_ID AS PRODUCTION_ORDER_ID
	, NCM.ALT_ID_1 AS WORKORDER_TYPE
	, NCM.ALT_ID_2 AS WORKORDER_BASE_ID
	, NCM.ALT_ID_3 AS WORKORDER_LOT_ID
	, NCM.ALT_ID_4 AS WORKORDER_SPLIT_ID
	, NCM.ALT_ID_5 AS WORKORDER_SUB_ID
	, NCM.PO_NUMBER AS VENDOR_PO_NUM
	, NCM.LOT_SIZE
	, NCM.ACCEPTED
	, NCM.REJECTED
	, NCM.NCM_DATE
	, NCM.DUE_DATE
	, NCM.REFERENCE_1 AS [SPEC_SECT]
	, NCM.REFERENCE_2 AS [DRAW_REF]
	, NCM.REFERENCE_3 AS [ASIS_DIM]
	, NCM.REFERENCE_4 AS [SHOULD_BE_DIM]
	, COALESCE(NCM.SK_FIN_NCM_PROCESS, NCM.SK_MFG_NCM_PROCESS) AS [PROCESS]
	, COALESCE(NCM.SK_FIN_NCM_SUBPROCESS, NCM.SK_MFG_NCM_SUBPROCESS) AS [SUBPROCESS]
	, NCM.USER_DEFINED_3 AS [CATEGORY]
	, ISNULL(NCM.USER_DEFINED_4, NCM.USER_DEFINED_7) AS [DEFECT]
	, NCM.DISPOSITION_TYPE
	, NCM.DISP_DATE
	, NCM.REFERENCE_6 AS [REWORK_QTY]
	, NCM.REFERENCE_7 AS [SCRAP_QTY]
	, NCM.REFERENCE_8 AS [OVERAGE_QTY]
	, NCM.REFERENCE_9 AS [RETURN_QTY]
	, NCM.REFERENCE_10 AS [ASIS_QTY]
	, NCM.DISPOSITION
	, NCM.BUSINESS_UNIT_ID
	, DATEPART(WEEK,NCM.NCM_DATE) AS WEEK_NUM
	, NCM.PROCESSX AS PROCESSX
INTO #RESULTS
FROM #REQUIRESET WO 
LEFT OUTER JOIN [OPERATION] OP WITH (NOLOCK)
	ON OP.WORKORDER_BASE_ID = WO.BASE_ID
	AND OP.WORKORDER_LOT_ID = WO.LOT_ID
	AND OP.WORKORDER_SUB_ID = WO.SUB_ID
	AND OP.WORKORDER_SPLIT_ID = WO.SPLIT_ID
	AND OP.WORKORDER_TYPE = WO.[TYPE]
LEFT JOIN #DATASETNCM NCM 
	ON WO.CHRONORDER = NCM.CHRONORDER
	AND WO.IDX = NCM.IDX
	AND WO.LOT_ID = NCM.ALT_ID_3
	AND WO.SPLIT_ID = NCM.ALT_ID_4 
WHERE (1=1)
GROUP BY WO.IDX
	, WO.CHRONORDER
	, WO.DESCRIPT
	, NCM.NCM_ID 
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.[TYPE]
	, WO.CREATE_DATE
	, WO.PART_ID
	, NCM.DISPLAY_ID
	, NCM.ALT_ID_1 
	, NCM.ALT_ID_2 
	, NCM.ALT_ID_3 
	, NCM.ALT_ID_4 
	, NCM.ALT_ID_5 
	, NCM.PO_NUMBER 
	, NCM.LOT_SIZE
	, NCM.ACCEPTED
	, NCM.REJECTED
	, NCM.NCM_DATE
	, NCM.DUE_DATE
	, NCM.REFERENCE_1 
	, NCM.REFERENCE_2 
	, NCM.REFERENCE_3 
	, NCM.REFERENCE_4 
	, NCM.SK_FIN_NCM_PROCESS
	, NCM.SK_MFG_NCM_PROCESS 
	, NCM.SK_FIN_NCM_SUBPROCESS
	, NCM.SK_MFG_NCM_SUBPROCESS
	, NCM.USER_DEFINED_3 
	, NCM.USER_DEFINED_4
	, NCM.USER_DEFINED_7 
	, NCM.DISPOSITION_TYPE
	, NCM.DISP_DATE
	, NCM.REFERENCE_6 
	, NCM.REFERENCE_7 
	, NCM.REFERENCE_8 
	, NCM.REFERENCE_9 
	, NCM.REFERENCE_10 
	, NCM.DISPOSITION
	, NCM.BUSINESS_UNIT_ID
	, NCM.PROCESSX 
ORDER BY WO.IDX
	, WO.CHRONORDER;
--new cte's for Scrap & Warranty added
WITH CteBase as (
                SELECT 'Scrap' AS CLASS
                                ,W.BASE_ID
                                ,W.LOT_ID
                                ,W.SPLIT_ID
                                ,W.SUB_ID
                                ,CAST((W.ACT_MATERIAL_COST+W.ACT_LABOR_COST+W.ACT_BURDEN_COST+W.ACT_SERVICE_COST) / (CASE WHEN W.DESIRED_QTY = 0 THEN 1 ELSE W.DESIRED_QTY END) AS DECIMAL(14,2)) AS UNIT_COST
                                ,W.PART_ID
                                ,CAST(W.DESIRED_QTY AS DECIMAL(14,0)) AS DESIRED_QTY
                                ,W.CREATE_DATE
								,W.ACT_MATERIAL_COST+W.ACT_LABOR_COST+W.ACT_BURDEN_COST+W.ACT_SERVICE_COST AS WO_TTL_COST, 
								isnull((select sum(isnull(reference_7,0)) from vq_nonconformance ncms join vq_production_order pos on ncms.PROD_ORDER_REC_ID = pos.record_id 
										where pos.alt_id_1 = w.type and pos.alt_id_2 = w.base_id and pos.alt_id_3 = w.lot_id and pos.alt_id_4 = w.split_id),0) AS TotalNcmScrapQty
                FROM [WORK_ORDER] W 
                                 JOIN [PART] P ON W.PART_ID = P.ID AND P.TOOL_OR_FIXTURE = 'N'
                WHERE W.STATUS = 'X' AND W.SUB_ID = 0 
--> LUKE: DATA RESTRICTION
--				 AND w.CREATE_DATE >= DATEADD(DAY,1,EOMONTH( DATEADD(YEAR,-1,GETDATE()),0)) 
				 AND w.CREATE_DATE >= @STARTDATE 
                AND (W.ACT_MATERIAL_COST+W.ACT_LABOR_COST+W.ACT_BURDEN_COST+W.ACT_SERVICE_COST)>0
), CteBaseNCM AS (
                SELECT NCM.NCM_ID, B.CLASS, B.BASE_ID, B.LOT_ID, B.SPLIT_ID, B.PART_ID, B.UNIT_COST, 
				   CASE WHEN NCM.REFERENCE_7 IS NULL 
						THEN B.WO_TTL_COST
						ELSE (B.WO_TTL_COST / B.TotalNcmScrapQty) * NCM.REFERENCE_7 END AS OPERATIONAL_COST,
				   NCM.DISPOSITION_TYPE,
                   CAST(ISNULL(NCM.REFERENCE_6,0) AS DECIMAL(14,0)) AS REWORK_QTY, CAST(ISNULL(NCM.REFERENCE_7,0) AS DECIMAL(14,0)) AS SCRAP_QTY, CAST(ISNULL(NCM.REFERENCE_8,0)  AS DECIMAL(14,0)) AS OVERAGE_QTY,
                   CAST(ISNULL(NCM.REFERENCE_9,0) AS DECIMAL(14,0))AS RETURN_QTY, CAST(ISNULL(NCM.REFERENCE_10,0) AS DECIMAL(14,0)) AS ASIS_QTY, CAST(ISNULL(NCM.REJECTED,B.DESIRED_QTY) AS DECIMAL(14,0)) AS REJECTED, 
                   CAST(ISNULL(NCM.ACCEPTED,0) AS DECIMAL(14,0)) AS ACCEPTED, 
                   ISNULL(NCM.SK_FIN_NCM_PROCESS,NCM.SK_MFG_NCM_PROCESS) AS PROCESS, 
                   ISNULL(NCM.SK_FIN_NCM_SUBPROCESS,NCM.SK_MFG_NCM_SUBPROCESS) AS SUBPROCESS,
                   NCM.USER_DEFINED_3 AS CATEGORY, ISNULL(NCM.USER_DEFINED_4, NCM.USER_DEFINED_7) AS DEFECT,
				   B.WO_TTL_COST, B.CREATE_DATE,NCM.PO_NUMBER,NCM.LOT_SIZE,NCM.NCM_DATE, NCM.DUE_DATE AS DUE_DATE, NCM.DISP_DATE AS DISPOSITION_DATE,BUSINESS_UNIT_ID
                FROM CteBase B 
                LEFT JOIN ([VQ_PRODUCTION_ORDER] PO (NOLOCK) JOIN [VQ_NONCONFORMANCE] NCM (NOLOCK) ON PO.RECORD_ID = NCM.PROD_ORDER_REC_ID AND ISNULL(NCM.REFERENCE_7,0) > 0 )
                                ON B.BASE_ID = PO.ALT_ID_2 AND B.LOT_ID = PO.ALT_ID_3 AND B.SPLIT_ID = PO.ALT_ID_4 AND PO.ALT_ID_1 = 'W' AND PO.ALT_ID_5 = '0'
) 
, CteWarr AS (
                SELECT NULL AS NCM_ID, 'Warranty' AS CLASS, RL.INVOICE_ID AS BASE_ID, RL.LINE_NO AS LOT_ID, '0' AS SPLIT, 
								RL.REFERENCE AS PART_ID, CAST((RL.AMOUNT *-1)/(CASE WHEN RL.QTY = 0 THEN 1 ELSE RL.QTY END) AS DECIMAL(14,2)) AS UNIT_COST, 
								RL.AMOUNT*-1 AS OPERATIONAL_COST,
                                'AR MEMO' AS DISPOSITION_TYPE, NULL AS REWORK_QTY, CASE WHEN RL.QTY = 0 THEN 1 ELSE RL.QTY END AS SCRAP_QTY, 
                                NULL AS OVERAGE_QTY, NULL AS RETURN_QTY, NULL AS ASIS_QTY, CASE WHEN RL.QTY = 0 THEN 1 ELSE RL.QTY END AS REJECTED, 0 AS ACCEPTED, NULL AS PROCESS, 
								NULL AS SUB_PROCESS, NULL AS CATEGORY, NULL AS DEFECT, null AS WO_TTL_COST, R.CREATE_DATE, NULL AS PO_NUMBER, NULL AS LOT_SIZE, R.INVOICE_DATE, NULL AS DUE_DATE
								, NULL AS DISPOSITON_DATE, NULL AS BUSINESS_UNIT_ID
                FROM [RECEIVABLE_LINE] RL 
                                 JOIN [RECEIVABLE] R ON RL.INVOICE_ID = R.INVOICE_ID 
--> LUKE: DATA RESTRICTION
--								 AND R.CREATE_DATE >= DATEADD(DAY,1,EOMONTH( DATEADD(YEAR,-1,GETDATE()),0)) 
								 AND R.CREATE_DATE >= @STARTDATE
                                JOIN [ACCOUNT] A ON RL.GL_ACCOUNT_ID = A.ID AND CHARINDEX('WARRANTY',A.DESCRIPTION)>0
)
,CteNonRework as (
				select CLASS, null as IDX, null as CHRONORDER, CLASS AS DESCRIPT, NCM_ID, WO_TTL_COST AS [TOTAL WO COST]
				,OPERATIONAL_COST AS [TOTAL OPERATION COST],CREATE_DATE,PART_ID,BASE_ID,LOT_ID,SPLIT_ID, '0' AS SUB_ID,'W' AS TYPE
				,Q.BASE_ID + '/' + CAST(Q.LOT_ID AS VARCHAR) + CASE WHEN Q.SPLIT_ID = '0' THEN '' ELSE '.' + CAST(Q.SPLIT_ID AS VARCHAR) END AS PRODUCTION_ORDER_ID
				,'W' AS WORKORDER_TYPE, Q.BASE_ID AS WORKORDER_BASE_ID, CAST(Q.LOT_ID AS VARCHAR) AS WORKORDER_LOT_ID, Q.SPLIT_ID AS WORKORDER_SPLIT_ID, '0' AS WORKORDER_SUB_ID
				,PO_NUMBER,LOT_SIZE,ACCEPTED,REJECTED,NCM_DATE,DUE_DATE,NULL AS SPEC_SECT, NULL AS DRAW_REF,NULL AS ASIS_DIM, NULL AS SHOULD_BE_DIM,PROCESS,SUBPROCESS,CATEGORY,DEFECT
				,DISPOSITION_TYPE, DISPOSITION_DATE, REWORK_QTY,SCRAP_QTY,OVERAGE_QTY,RETURN_QTY,ASIS_QTY, NULL AS DISPOSITION, NULL AS BUSINESS_UNIT_ID, DATEPART(WW,CREATE_DATE) AS WEEK_NUM, NULL AS PROCESSX

				 from (
								SELECT * from CteBaseNCM
								UNION ALL
								SELECT * FROM CteWarr
				) q 
)
SELECT CteNonRework.* INTO #RESULTS2 
FROM CteNonRework 
--end new for scrap and warranty


SELECT CLASS,IDX,CHRONORDER,DESCRIPT,[NCM_ID],[TOTAL WO COST],[TOTAL OPERATION COST], CAST(PART_ID AS VARCHAR) AS PART_ID, CAST(BASE_ID AS VARCHAR) AS BASE_ID
		,CAST(LOT_ID AS VARCHAR) AS LOT_ID, CAST(SPLIT_ID AS VARCHAR) AS SPLIT_ID, CAST(PRODUCTION_ORDER_ID AS VARCHAR) AS PRODUCTION_ORDER, CREATE_DATE, LOT_SIZE, ACCEPTED, REJECTED
		,CAST(PROCESS AS VARCHAR) AS PROCESS, CAST(SUBPROCESS AS VARCHAR) AS SUBPROCESS, CAST(CATEGORY AS VARCHAR) AS CATEGORY
		,REWORK_QTY, SCRAP_QTY, OVERAGE_QTY, RETURN_QTY, ASIS_QTY, WEEK_NUM, CAST(BUSINESS_UNIT_ID AS VARCHAR) AS BUSINESS_UNIT
--> tt 20200121
		, RIGHT('00' + CONVERT(VARCHAR(2), MONTH(CREATE_DATE)), 2) + '-' + CONVERT(VARCHAR(4), YEAR(CREATE_DATE)) AS CREATE_LABEL
FROM #RESULTS2 WITH (NOLOCK)
UNION ALL 
SELECT CLASS,IDX,CHRONORDER,DESCRIPT,[NCM_ID],[TOTAL WO COST],[TOTAL OPERATION COST],PART_ID,BASE_ID,LOT_ID,SPLIT_ID,PRODUCTION_ORDER_ID,CREATE_DATE
		,LOT_SIZE,ACCEPTED,REJECTED,PROCESS,SUBPROCESS,CATEGORY,REWORK_QTY,SCRAP_QTY,OVERAGE_QTY,RETURN_QTY,ASIS_QTY,WEEK_NUM,BUSINESS_UNIT_ID
--> tt 20200121
		, RIGHT('00' + CONVERT(VARCHAR(2), MONTH(CREATE_DATE)), 2) + '-' + CONVERT(VARCHAR(4), YEAR(CREATE_DATE)) AS CREATE_LABEL
 FROM #RESULTS WITH (NOLOCK) 

ORDER BY IDX
, CHRONORDER, BASE_ID, LOT_ID, SPLIT_ID

