/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ROWID]
      ,[PART_ID]
      ,[TRACE_ID]
      ,[TRANSACTION_ID]
      ,[QTY]
      ,[CREATE_DATE]
      ,[COSTlukeg_QTY]
  FROM [DataWarehouse].[dbo].[TRACE_INV_TRANS]
  where part_id = 'BMS1-72-063X24 CMP'
  and TRANSACTION_ID = '2535644'

  select * from INVENTORY_TRANS where TRANSACTION_ID = '2535644'

  select 
	a.id
	, a.part_id
	, in_qty
	, out_qty
	, in_qty - out_qty
	, t.* 
	, case
		when Type = 'I' and Class = 'R' then 'Receipt'
		when Type = 'O' and Class = 'I' then 'Issue'
		when Type = 'O' and Class = 'A' then 'Adjust Out'
		when Type = 'I' and Class = 'A' then 'Adjust In'
		when Type = 'I' and Class = 'I' then 'Return Issue'
		when Type = 'O' and Class = 'R' then 'Return Receipt'
		else 'Fix'
	end as XctType
	, [type]
	, class
	, i.qty
	, I.WORKORDER_BASE_ID
	, I.WORKORDER_LOT_ID
	, I.WORKORDER_SPLIT_ID
	, I.WORKORDER_SUB_ID
	, I.CUST_ORDER_ID
	, I.CUST_ORDER_LINE_NO
	, I.PURC_ORDER_ID
	, I.PURC_ORDER_LINE_NO
	, i.[USER_ID]
	, i.TRANSACTION_DATE
	, warehouse_id
	, location_id
from trace_inv_trans t
inner join trace a
on t.trace_id = a.id
and t.part_id = a.part_id
inner join inventory_trans i
on t.transaction_id = i.transaction_id
and t.part_id = i.part_id
where 
--t.part_id in ('140T2522-285', '143T5352-27', '143T5352-28', '146T0395-159', '149A7590-8', '182T7120-5', '20240C-050', '20243C-063 PVC2', '20243E-32003', '20248R-0175', '232A4443-5', '272T4586-11', '287W4317-54', '3043-01', '343A9121-15', '401U3503-1273 CFM', '417T6511-1', '421W1189-12B', '453W3432-1', '60134B-063 36 X 48', '60134B-080-TRN', '60616B-160', '65B26315-928', '6AL4V-040-MIL', '6AL4V-080', '70750B-090', '70756B-125X2.40X119.4', '70756E-71303', '70757E-30601', '70757E-610024-MIL-NG', '70757E-9100274', '70757P-0375x1.8x2.0', '7150T77511-BAC1517-2864 CMP', 'BACB28AV04A012ZG', 'BACN10JZ3B2', 'BACN10XP1', 'BACR15BA3AD4C', 'BACR15BA5AD11C', 'BACR15BB4AD4R5C', 'BACR15CE4D4R5', 'BACS40R006E036F')
t.part_id = 'BMS1-72-063X24 CMP'
--	and trace_id = @traceid 
order by t.transaction_id