DECLARE @STARTDATE DATE = '12/1/2019'
, @ENDDATE DATE = GETDATE()
, @BOL NVARCHAR(10) = 'NONE'
, @PACKLIST NVARCHAR(15) = ''
, @BOLID NVARCHAR(15) = ''

SELECT S.PACKLIST_ID
	, SL.LINE_NO AS PACKLIST_LINE_NO
	, B.ID AS BOL_ID
	, S.SHIPPED_DATE
	, CO.CUSTOMER_ID
	, SL.CUST_ORDER_ID
	, SL.CUST_ORDER_LINE_NO
	, SL.SHIPPED_QTY
	, S.[USER_ID]
	, B.CARRIER_ID
	, B.SHIPTO_NAME
	, B.SHIPTO_CITY + ', ' +	B.SHIPTO_STATE + '  ' +	B.SHIPTO_ZIPCODE AS [LOCATION]
FROM SHIPPER_LINE SL
INNER JOIN SHIPPER S
ON S.PACKLIST_ID = SL.PACKLIST_ID
INNER JOIN CUSTOMER_ORDER CO
ON SL.CUST_ORDER_ID = CO.ID
LEFT OUTER JOIN BOL B
ON B.ID = S.BOL_ID
WHERE (
	(@BOL = 'BOL' AND B.ID IS NOT NULL
		AND S.SHIPPED_DATE >= @STARTDATE
		AND S.SHIPPED_DATE <= @ENDDATE
		AND CO.CUSTOMER_ID IN (@CUSTID)
		AND S.USER_ID IN (@USERID)
	)
	OR (@BOL = 'NONE' AND B.ID IS NULL
		AND S.SHIPPED_DATE >= @STARTDATE
		AND S.SHIPPED_DATE <= @ENDDATE
		AND CO.CUSTOMER_ID IN (@CUSTID)
		AND S.USER_ID IN (@USERID)
	)
	OR (@BOL = 'BOLID' AND B.ID = @BOLID)
	OR (@BOL = 'PACKLIST' AND S.PACKLIST_ID = @PACKLIST)
	OR (@BOL NOT IN ('NONE', 'BOL', 'BOLID', 'PACKLIST')
		AND S.SHIPPED_DATE >= @STARTDATE
		AND S.SHIPPED_DATE <= @ENDDATE
		AND CO.CUSTOMER_ID IN (@CUSTID)
		AND S.USER_ID IN (@USERID)
	)
	)
