/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Account_ID]
      ,[Salesperson_ID]
      ,[USER_ID]
      ,[Business_Unit]
  FROM [LIVESupplemental].[dbo].[buyer_assn]

/*

DECLARE @Salesrep NVARCHAR(255) = '<new salesrep>',
	@UserID NVARCHAR(255) = '<user id>',
	@AccountID NVARCHAR(255) = '<which account#>'

UPDATE [buyer_assn]
SET Salesperson_ID = @Salerep,
	USER_ID = @UserID
WHERE ACCOUNT_ID = @AccountID
