use live
go

WITH CTE_Base 
AS
(
	SELECT 
		W.[TYPE] 
		, W.BASE_ID
		, W.LOT_ID
		, W.SPLIT_ID
		, W.SUB_ID
		, W.[STATUS]
		--, Q.CP_COUNT
		--, Q.CP_QTY
		, CL.CUST_ORDER_ID
		, CL.LINE_NO
		, C.ID
		, co.CUSTOMER_PO_REF
		, cl.customer_part_id
		, C.SALESREP_ID
		, W.PART_ID
		, ISNULL(CL.ORDER_QTY, W.DESIRED_QTY) AS ORDER_QTY
		, P.[DESCRIPTION]
		, ISNULL(ISNULL(CL.DESIRED_SHIP_DATE, CO.DESIRED_SHIP_DATE),W.DESIRED_WANT_DATE) AS DUE_DATE
		, (SELECT MAX(EXPEDITE) 
		FROM LIVESupplemental.dbo.view_COL_expedite E
		WHERE E.CUST_ORDER_ID = CL.CUST_ORDER_ID
		) AS EXPEDITE
		, case 
			when convert(varchar,t.lastEMPop) IS null then 'No Labor Tickets' 
			else convert(varchar, t.lastEMPop) 
		end as lastop
		, t.TRANSACTION_DATE as [Time and Date]
		, t.lastEMPNAME as operator
		, (SELECT MIN(SEQUENCE_NO) 
		FROM OPERATION 
		WHERE 
			WORKORDER_TYPE = W.[TYPE] 
			AND WORKORDER_BASE_ID = W.BASE_ID 
			AND WORKORDER_LOT_ID = W.LOT_ID 
			AND WORKORDER_SPLIT_ID = W.SPLIT_ID 
			AND WORKORDER_SUB_ID = W.SUB_ID
		) AS MIN_OP
		, dbo.sfn_current_operation('W', w.base_id, w.lot_id, w.split_id, w.sub_id) AS Curr_Op
		, dbo.sfn_remaining_operations('W', w.base_id, w.lot_id, w.split_id, w.sub_id) AS remaining_ops
	FROM WORK_ORDER W 
	LEFT OUTER JOIN PART P 
		ON W.PART_ID = P.ID
	LEFT OUTER JOIN 
		(DEMAND_SUPPLY_LINK DSL
		INNER JOIN CUST_ORDER_LINE CL 
			ON DSL.DEMAND_BASE_ID = CL.CUST_ORDER_ID 
			AND CL.LINE_NO = DSL.DEMAND_SEQ_NO
		INNER JOIN CUSTOMER_ORDER CO 
			ON CL.CUST_ORDER_ID = CO.ID 
		INNER JOIN CUSTOMER C
			ON CO.CUSTOMER_ID = C.ID
		)                
		ON W.BASE_ID = DSL.SUPPLY_BASE_ID 
		AND W.LOT_ID = DSL.SUPPLY_LOT_ID 
		AND W.SPLIT_ID = DSL.SUPPLY_SPLIT_ID 
		AND W.SUB_ID = DSL.SUPPLY_SUB_ID 
		AND DSL.DEMAND_TYPE = 'CO' 
		AND DSL.SUPPLY_TYPE = 'WO'
	LEFT OUTER JOIN LIVESupplemental.dbo.customer_reps CR 
		ON C.ID = CR.id	
	left outer join svw_last_ticket_info t
		on W.BASE_ID = t.lastWObaseid
		and W.LOT_ID = t.lastWOlotid    
		and W.SPLIT_ID = t.lastWOsplitid
		AND W.SUB_ID = t.lastWOsubid 
		AND W.[TYPE] = 'W' 
	WHERE 
		W.[STATUS] IN ('R','F', 'U') 
		AND W.[TYPE] = 'W'
		AND CR.SHOWINLIST = 'Y'
		and c.SALESREP_ID in ('Meg', 'Tracy', 'Joe', 'Michele')
)

select 
	cte.SALESREP_ID
	, dbo.sfnWONUMFormat(cte.BASE_ID, cte.LOT_ID, cte.SPLIT_ID, cte.SUB_ID) AS JOB
	, cte.CUST_ORDER_ID
	, cte.ID AS CUST_ID
	, cte.CUSTOMER_PO_REF
	, cte.PART_ID
	, ISNULL(cte.[DESCRIPTION], 'MISCELLANIOUS') AS PART_DESC
	, CAST(cte.ORDER_QTY AS INT) AS ORDER_QTY
	, cte.DUE_DATE
	, cte.Expedite
	--, CURR_OP
	, isnull(cte.[Time and Date], '') as [Time and Date]
	, isnull(cte.operator, '') as Operator
	, W.CREATE_DATE as Order_Date
	, case 
		when operator is not null and REMAINING_OPS is NULL then 'ready to ship'
		when o.RESOURCE_ID is not null then o.RESOURCE_ID
		when o.RESOURCE_ID is null and curr_op is null and MIN_OP IS null then 'nothing to report'
		when o.RESOURCE_ID is null and curr_op is null and MIN_OP IS NOT null then 'at Review?'
		Else 'look into this' 
	end as ResourceID
	, case 
		when operator is not null and REMAINING_OPS is NULL then ''
		Else REMAINING_OPS
	end as REMAINING_OPS 
	, case 
		when operator is not null and REMAINING_OPS is NULL then ''
		when o.RESOURCE_ID in ('AUB-pri', 'AUB-tc') then ot.id
		Else ''
	end as OpType
	, case 
		when operator is not null and REMAINING_OPS is NULL then ''
		when o.RESOURCE_ID in ('AUB-pri', 'AUB-tc') then ot.[description]
		Else ''
	end as OpDescription
FROM	CTE_Base cte

LEFT OUTER JOIN WORK_ORDER W 
	ON  cte.BASE_ID = W.BASE_ID 
	AND cte.LOT_ID = W.LOT_ID 
	AND cte.SPLIT_ID = W.SPLIT_ID
	AND cte.SUB_ID = W.SUB_ID
	AND W.[TYPE] = 'W' 

left outer join OPERATION O 
	on O.WORKORDER_BASE_ID = W.BASE_ID
	AND O.WORKORDER_LOT_ID = W.LOT_ID
	AND O.WORKORDER_SPLIT_ID = W.SPLIT_ID
	AND O.WORKORDER_SUB_ID = W.SUB_ID
	AND O.SEQUENCE_NO = cte.CURR_OP
left outer join OPERATION_TYPE OT
	ON O.OPERATION_TYPE = OT.ID

WHERE ISNULL(cte.ID,'PROD') <> 'SKILLS Q.A.'


