/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [CUST_ID]
      ,[SALESREP_ID]
      ,[ShowInList]
      ,[datechanged]
      ,[Comments]
  FROM [LIVESupplemental].[dbo].[Cust_Reps]

/*
update cust_reps
set salesrep_id = NULL
where salesrep_id in ('', 'Ann', 'Cheryl', 'Christi', 'Gregg', 'Szilvia')

update cust_reps
set salesrep_id = '53'
where salesrep_id = 'Meg'

update cust_reps
set salesrep_id = '51'
where salesrep_id = 'Joe'

update cust_reps
set salesrep_id = '52'
where salesrep_id = 'Tracy'

update cust_reps
set salesrep_id = '54'
where salesrep_id = 'Sharon'

update cust_reps
set salesrep_id = '55'
where salesrep_id = 'Michele'

update cust_reps
set salesrep_id = '56'
where salesrep_id = 'Sunni'

update cust_reps
set salesrep_id = '59'
where salesrep_id = 'Tiffany'

update cust_reps
set salesrep_id = '89'
where salesrep_id = 'Dmitriy'

update cust_reps
set salesrep_id = '06'
where salesrep_id = 'Ellen'

update cust_reps
set salesrep_id = '04'
where salesrep_id = 'Jennifer'


*/