USE LIVE
GO

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT*
  FROM [LIVE].[dbo].[GROUP_USER]
--  WHERE [USER_ID] IN ('AMYH', 'BREANNEM', 'BREAV', 'CHARLEEN', 'CIANNAP', 'CREGC', 'DAINT', 'DELT', 'DIANEB', 'ERICKF', 'ERICSHAFER', 'FRED', 'JACQUELINER', 'JAMIES', 'JASON', 'JEFF', 'JEFFM', 'JESSICAS', 'JMILLER', 'KRISTINAG', 'LINY', 'LONNYW', 'LORIEB', 'MADYSONM', 'MARKF', 'MARKH', 'MENUUSER', 'MOHAMEDM', 'MORGANS', 'NICOLEL', 'NOAHM', 'RASB', 'RICKB', 'ROBBIEM', 'SHANE', 'SHANEE', 'SUSANH', 'TERRY', 'TUAN', 'VIVIANE')

/*
UPDATE [LIVE].[dbo].[GROUP_USER]
SET [USER_SIGNOFF] = 'Y'
WHERE [USER_ID] IN ('RYANS')
AND [GROUP_ID] = 'ECN Def App'

DELETE FROM  [LIVE].[dbo].[GROUP_USER]
WHERE [USER_ID] IN ('AMYH', 'BREANNEM', 'BREAV', 'CHARLEEN', 'CIANNAP', 'CREGC', 'DAINT', 'DELT', 'DIANEB', 'ERICKF', 'ERICSHAFER', 'FRED', 'JACQUELINER', 'JAMIES', 'JASON', 'JEFF', 'JEFFM', 'JESSICAS', 'JMILLER', 'KRISTINAG', 'LINY', 'LONNYW', 'LORIEB', 'MADYSONM', 'MARKF', 'MARKH', 'MENUUSER', 'MOHAMEDM', 'MORGANS', 'NICOLEL', 'NOAHM', 'RASB', 'RICKB', 'ROBBIEM', 'SHANE', 'SHANEE', 'SUSANH', 'TERRY', 'TUAN', 'VIVIANE')
AND [GROUP_ID] = 'ECN Def Imp'

INSERT INTO [LIVE].[dbo].[GROUP_USER] VALUES ('ECN Def Imp', 'CATHIE', 'Y', GETDATE(), NULL)
INSERT INTO [LIVE].[dbo].[GROUP_USER] VALUES ('ECN Def Imp', 'CHARLEST', 'Y', GETDATE(), NULL)
INSERT INTO [LIVE].[dbo].[GROUP_USER] VALUES ('ECN Def Approval', 'RYANS', 'Y', GETDATE(), NULL)
*/