USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_Gross_Margin]    Script Date: 9/3/2019 8:53:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_Gross_Margin]  

AS

BEGIN

DROP TABLE GROSS_MARGIN

IF OBJECT_ID('tempdb..#BUS_UNIT') IS NOT NULL DROP TABLE #BUS_UNIT

SET NOCOUNT ON;

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DECLARE @STARTDATE DATE = DATEADD(YEAR,-1,DATEADD(DAY,1,(EOMONTH(DATEADD(MONTH,-1,GETDATE())))))
;

-----------------------------> BOE QUERIES
SELECT * 
INTO #BUS_UNIT
FROM [SQL-LAB-2].[LIVE].dbo.USER_DEF_FIELDS UDF
WHERE PROGRAM_ID = 'VMCUSMNT'
	AND UDF.ID = 'UDF-0000072'
--SELECT * FROM #BUS_UNIT
;

WITH BOE_01 AS 
(SELECT 'BOE_01' AS [ORDER_TYPE]
	, CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
	, SUM(LT.HOURS_WORKED) AS TOTAL_HOURS_WORKED
	, ((SUM(LT.HOURS_WORKED) * 75) / COL.ORDER_QTY) AS UNIT_PRICE
	, SUM(LT.HOURS_WORKED) * 75 AS REC_AMOUNT
FROM DATAWAREHOUSE.dbo.SHIPPER S
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER_LINE SL
	ON S.PACKLIST_ID = SL.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO 
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
	AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
	AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
INNER JOIN DATAWAREHOUSE.dbo.OPERATION O
	ON WO.BASE_ID = O.WORKORDER_BASE_ID
	AND WO.LOT_ID = O.WORKORDER_LOT_ID
	AND WO.SPLIT_ID = O.WORKORDER_SPLIT_ID
	AND WO.SUB_ID = O.WORKORDER_SUB_ID
	AND WO.[TYPE] = O.WORKORDER_TYPE
INNER JOIN DATAWAREHOUSE.dbo.LABOR_TICKET LT
	ON O.SEQUENCE_NO = LT.OPERATION_SEQ_NO
	AND O.WORKORDER_BASE_ID = LT.WORKORDER_BASE_ID
	AND O.WORKORDER_LOT_ID = LT.WORKORDER_LOT_ID
	AND O.WORKORDER_SPLIT_ID = LT.WORKORDER_SPLIT_ID
	AND O.WORKORDER_SUB_ID = LT.WORKORDER_SUB_ID
	AND WO.[TYPE] = LT.WORKORDER_TYPE
WHERE SL.SHIPPED_QTY > 0
--	AND CO.CUSTOMER_ID = N'BOE602' OR CO.CUSTOMER_ID = N'BOE605')
	AND CO.CUSTOMER_ID IN (N'BOE602', N'BOE605', N'BOEEME')
	AND WO.BASE_ID NOT LIKE N'%R%'
	AND NOT EXISTS (SELECT 1 FROM LIVESupplemental.dbo.ResourceID_ReportSettings EX
		WHERE O.RESOURCE_ID = EX.RESOURCE_ID
			AND REPORT_NAME = 'Gross Margin'
			AND REPORT_SECTION = 'BOE605revF'
	)
	AND (S.INVOICED_DATE >= @STARTDATE)
GROUP BY CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
)

--BOE609 - Finish - G:\ACCTG\AR\2019\Crystal Reports\Finish 609v1 – (Hours + Setup Hrs) * 70
, BOE_02 AS
(SELECT 'BOE_02' AS [ORDER_TYPE]
	, CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
	, SUM(LT.HOURS_WORKED) AS TOTAL_HOURS_WORKED
	, ((SUM(LT.HOURS_WORKED) * 70) / COL.ORDER_QTY) AS UNIT_PRICE
	, SUM(LT.HOURS_WORKED) * 70 AS REC_AMOUNT
FROM DATAWAREHOUSE.dbo.SHIPPER S
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER_LINE SL
	ON S.PACKLIST_ID = SL.PACKLIST_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
	AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
	AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
INNER JOIN DATAWAREHOUSE.dbo.LABOR_TICKET LT
	ON WO.BASE_ID = LT.WORKORDER_BASE_ID
	AND WO.LOT_ID = LT.WORKORDER_LOT_ID
	AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
	AND WO.SUB_ID = LT.WORKORDER_SUB_ID
	AND WO.[TYPE] = LT.WORKORDER_TYPE
INNER JOIN DATAWAREHOUSE.dbo.SHOP_RESOURCE SR
	ON LT.RESOURCE_ID = SR.ID
WHERE SL.SHIPPED_QTY > 0
	AND SR.SKILLS_TYPE <> N'M'
	AND CO.CUSTOMER_ID = N'BOE609'
	AND NOT EXISTS (SELECT 1 FROM LIVESupplemental.dbo.ResourceID_ReportSettings EX
		WHERE LT.RESOURCE_ID = EX.RESOURCE_ID
			AND REPORT_NAME = 'Gross Margin'
			AND REPORT_SECTION = 'BOE609 - Finish 609v1'
	)
	AND (S.INVOICED_DATE >= @STARTDATE)
GROUP BY CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
)

, BOE_03 AS 
--BOE609 - MFG - G:\ACCTG\AR\2019\Crystal Reports\Mfg 609 V7 no 5 axis1 – (Hours + Setup Hrs) * 68.40
(SELECT 'BOE_03' AS [ORDER_TYPE]
	, CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
	, SUM(LT.HOURS_WORKED) AS TOTAL_HOURS_WORKED
	, ((SUM(LT.HOURS_WORKED) * 68.40) / COL.ORDER_QTY) AS UNIT_PRICE
	, SUM(LT.HOURS_WORKED) * 68.40 AS REC_AMOUNT
FROM DATAWAREHOUSE.dbo.SHIPPER S
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER_LINE SL
	ON S.PACKLIST_ID = SL.PACKLIST_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
	AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
	AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
	AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
INNER JOIN DATAWAREHOUSE.dbo.LABOR_TICKET LT
	ON WO.BASE_ID = LT.WORKORDER_BASE_ID
	AND WO.LOT_ID = LT.WORKORDER_LOT_ID
	AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
	AND WO.SUB_ID = LT.WORKORDER_SUB_ID
	AND WO.[TYPE] = LT.WORKORDER_TYPE
INNER JOIN DATAWAREHOUSE.dbo.SHOP_RESOURCE SR
	ON LT.RESOURCE_ID = SR.ID
WHERE  SL.SHIPPED_QTY > 0
	AND SR.SKILLS_TYPE IN (N'D', N'E', N'M')
	AND CO.CUSTOMER_ID = N'BOE609'
	AND NOT EXISTS (SELECT 1 FROM LIVESupplemental.dbo.PartID_ReportSettings EX
		WHERE COL.PART_ID = EX.PART_ID
			AND REPORT_NAME = 'Gross Margin'
			AND REPORT_SECTION = 'BOE609 Mfg 609 V7 no 5 axis1'
	)
	AND NOT EXISTS (SELECT 1 FROM LIVESupplemental.dbo.ResourceID_ReportSettings EX
		WHERE LT.RESOURCE_ID = EX.RESOURCE_ID
			AND REPORT_NAME = 'Gross Margin'
			AND REPORT_SECTION = 'BOE609 Mfg 609 V7 no 5 axis1'
	)
	AND (S.INVOICED_DATE >= @STARTDATE)
GROUP BY CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
)

, BOE_04 AS
--BOE609 - ASSY - G:\ACCTG\AR\2019\Crystal Reports\Assy 609 V7a – (Hours + Setup Hrs) * 55.10
(SELECT 'BOE_04' AS [ORDER_TYPE]
	, CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
	, SUM(LT.HOURS_WORKED) AS TOTAL_HOURS_WORKED
	, ((SUM(LT.HOURS_WORKED) * 55.10) / COL.ORDER_QTY) AS UNIT_PRICE
	, SUM(LT.HOURS_WORKED) * 55.10 AS REC_AMOUNT
FROM DATAWAREHOUSE.dbo.SHIPPER S
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER_LINE SL
	ON S.PACKLIST_ID = SL.PACKLIST_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
	AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
	AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
	AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
INNER JOIN DATAWAREHOUSE.dbo.LABOR_TICKET LT
	ON WO.BASE_ID = LT.WORKORDER_BASE_ID
	AND WO.LOT_ID = LT.WORKORDER_LOT_ID
	AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
	AND WO.SUB_ID = LT.WORKORDER_SUB_ID
	AND WO.[TYPE] = LT.WORKORDER_TYPE
INNER JOIN DATAWAREHOUSE.dbo.SHOP_RESOURCE SR
	ON LT.RESOURCE_ID = SR.ID
WHERE SL.SHIPPED_QTY > 0
	AND SR.SKILLS_TYPE IN (N'D', N'E', N'M')
	AND CO.CUSTOMER_ID = N'BOE609'
	AND EXISTS (SELECT 1 FROM LIVESupplemental.dbo.PartID_ReportSettings EX
		WHERE COL.PART_ID = EX.PART_ID
			AND REPORT_NAME = 'Gross Margin'
			AND REPORT_SECTION = 'BOE609 Assy 609 V7a'
	)
	AND NOT EXISTS (SELECT 1 FROM LIVESupplemental.dbo.ResourceID_ReportSettings EX
		WHERE LT.RESOURCE_ID = EX.RESOURCE_ID
			AND REPORT_NAME = 'Gross Margin'
			AND REPORT_SECTION = 'BOE609 Assy 609 V7a'
	)
	AND (S.INVOICED_DATE >= @STARTDATE)
GROUP BY CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
)

, BOE_05 AS
--BOE609 - 5AXIS - G:\ACCTG\AR\2019\Crystal Reports\Mfg 609 5 Axis – (Hours + Setup Hrs) * 80
(SELECT 'BOE_05' AS [ORDER_TYPE]
	, CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
	, SUM(LT.HOURS_WORKED) AS TOTAL_HOURS_WORKED5
	, ((SUM(LT.HOURS_WORKED) * 80) / COL.ORDER_QTY) AS UNIT_PRICE
	, SUM(LT.HOURS_WORKED) * 80 AS REC_AMOUNT
FROM DATAWAREHOUSE.dbo.SHIPPER S
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER_LINE SL
	ON S.PACKLIST_ID = SL.PACKLIST_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
	AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
	AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
	AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
INNER JOIN DATAWAREHOUSE.dbo.LABOR_TICKET LT
	ON WO.BASE_ID = LT.WORKORDER_BASE_ID
	AND WO.LOT_ID = LT.WORKORDER_LOT_ID
	AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
	AND WO.SUB_ID = LT.WORKORDER_SUB_ID
	AND WO.[TYPE] = LT.WORKORDER_TYPE
INNER JOIN DATAWAREHOUSE.dbo.SHOP_RESOURCE SR
	ON LT.RESOURCE_ID = SR.ID
WHERE SL.SHIPPED_QTY > 0
	AND SR.SKILLS_TYPE IN (N'D', N'E', N'M')
	AND CO.CUSTOMER_ID = N'BOE609'
	AND EXISTS (SELECT 1 FROM LIVESupplemental.dbo.PartID_ReportSettings EX
		WHERE COL.PART_ID = EX.PART_ID
			AND REPORT_NAME = 'Gross Margin'
			AND REPORT_SECTION = 'BOE609 Mfg 609 5 Axis'
	)
	AND NOT EXISTS (SELECT 1 FROM LIVESupplemental.dbo.ResourceID_ReportSettings EX
		WHERE LT.RESOURCE_ID = EX.RESOURCE_ID
			AND REPORT_NAME = 'Gross Margin'
			AND REPORT_SECTION = 'BOE609 Mfg 609 5 Axis'
	)
	AND (S.INVOICED_DATE >= @STARTDATE)
GROUP BY CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
)

, BOE_06 AS
--BOE614 - G:\ACCTG\AR\2019\Crystal Reports\boe614 boltboards 2 – (Hours + Setup Hrs) * 60
(SELECT 'BOE_06' AS [ORDER_TYPE]
	, CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
	, SUM(LT.HOURS_WORKED) AS TOTAL_HOURS_WORKED
	, ((SUM(LT.HOURS_WORKED) * 60) / COL.ORDER_QTY) AS UNIT_PRICE
	, SUM(LT.HOURS_WORKED) * 60 AS REC_AMOUNT
FROM DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
	AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
	AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
	AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
	AND DSL.SUPPLY_SUB_ID = WO.SUB_ID
INNER JOIN DATAWAREHOUSE.dbo.LABOR_TICKET LT
	ON WO.BASE_ID = LT.WORKORDER_BASE_ID
	AND WO.LOT_ID = LT.WORKORDER_LOT_ID
	AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
	AND WO.SUB_ID = LT.WORKORDER_SUB_ID
	AND WO.[TYPE] = LT.WORKORDER_TYPE
WHERE RL.QTY > 0
	AND CO.CUSTOMER_ID = N'BOE614'
	AND (R.INVOICE_DATE >= @STARTDATE)
GROUP BY CO.ID
	, WO.BASE_ID
	, COL.ORDER_QTY
)

, CTE_BOE AS 	
(SELECT ID
	, BASE_ID
	, ORDER_QTY
	, SUM(TOTAL_HOURS_WORKED) AS TOTAL_HOURS_WORKED
	, SUM(REC_AMOUNT) AS REC_AMOUNT
FROM 
	(SELECT * FROM BOE_01
		UNION ALL
		SELECT * FROM BOE_02
		UNION ALL
		SELECT * FROM BOE_03
		UNION ALL
		SELECT * FROM BOE_04
		UNION ALL
		SELECT * FROM BOE_05
		UNION ALL
		SELECT * FROM BOE_06
	) A
GROUP BY ID
	, BASE_ID
	, ORDER_QTY
)
--SELECT * FROM CTE_BOE WHERE ID = '001614604'
-----------------------------> BOE QUERIES


, CTE_CHARGES AS
(SELECT COL.CUST_ORDER_ID
	, SUM(COL.UNIT_PRICE * COL.ORDER_QTY) AS TOTAL_AMT_ORDERED
FROM DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
WHERE COL.PART_ID IS NULL
	AND COL.SERVICE_CHARGE_ID IS NOT NULL
	AND CO.CREATE_DATE >= '1/1/2015'
	AND CO.[STATUS] != 'X'
	AND COL.ORDER_QTY > 0
GROUP BY COL.CUST_ORDER_ID
)
--SELECT * FROM CTE_CHARGES

--> remove reworks!!
, CTE_LINES AS
(SELECT COL.CUST_ORDER_ID
	, COUNT(COL.LINE_NO) AS LINE_COUNT
FROM DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN CTE_CHARGES CTE
	ON COL.CUST_ORDER_ID = CTE.CUST_ORDER_ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE COL.PART_ID IS NOT NULL
	AND (DSL.SUPPLY_BASE_ID NOT LIKE '%R%' 
		OR DSL.SUPPLY_BASE_ID IS NULL)
GROUP BY COL.CUST_ORDER_ID
)
--SELECT * FROM CTE_LINES

, CTE_CHGAMTS AS
(SELECT CTE1.CUST_ORDER_ID
	, CTE1.TOTAL_AMT_ORDERED
	, CTE2.LINE_COUNT
	, CTE1.TOTAL_AMT_ORDERED / CTE2.LINE_COUNT AS CHARGE_ALLOC
FROM CTE_CHARGES CTE1
INNER JOIN CTE_LINES CTE2
	ON CTE1.CUST_ORDER_ID = CTE2.CUST_ORDER_ID
)
--SELECT * FROM CTE_CHGAMTS  where CUST_ORDER_ID = '431574'

, CTE_LINKED as 
(SELECT 'LINKED' AS [ORDER_TYPE]
	, T.TRACE_ID
	, SL.TRANSACTION_ID
	, RL.INVOICE_ID
	, RL.LINE_NO AS INV_LINE
	, T.QTY * -1 AS TRACE_QTY
	, RL.PACKLIST_ID
	, S.SHIPPED_DATE
	, CO.CREATE_DATE AS CO_CREATE_DATE
	, COL.CUST_ORDER_ID
	, COL.LINE_NO AS COL_LINE
	, CO.CUSTOMER_ID
	, COL.PART_ID
	, COL.LINE_STATUS AS SHIP_SHORT
	, COL.ORDER_QTY AS COL_ORDER_QTY
	, COL.TOTAL_SHIPPED_QTY
	, RL.QTY AS REC_QTY
	, COL.UNIT_PRICE AS COL_UNIT_PRICE
	, RL.AMOUNT AS REC_AMOUNT
	, SL.SHIPPED_QTY
	, WO.[STATUS]
	, WO.CREATE_DATE AS WO_CREATE_DATE
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY
	, WO.ACT_BURDEN_COST
	, WO.ACT_MATERIAL_COST
	, WO.ACT_LABOR_COST
	, WO.ACT_SERVICE_COST
FROM DATAWAREHOUSE.dbo.SHIPPER_LINE SL
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER S
	ON SL.PACKLIST_ID = S.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
    ON DSL.SUPPLY_TYPE = 'WO' 
    AND DSL.SUPPLY_BASE_ID = WO.BASE_ID
    AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
    AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
    AND DSL.SUPPLY_SUB_ID = WO.SUB_ID 
	AND WO.[TYPE] = 'W'
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND RL.PACKLIST_ID = SL.PACKLIST_ID
	AND RL.PACKLIST_LINE_NO = SL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.TRACE_INV_TRANS T
	ON SL.TRANSACTION_ID = T.TRANSACTION_ID
WHERE RL.PACKLIST_ID IS NOT NULL
	AND S.SHIPPED_DATE >= @STARTDATE
	AND COL.PART_ID IS NOT NULL
	AND SL.SHIPPED_QTY <> 0
	AND DSL.SUPPLY_BASE_ID IS NOT NULL
)
--SELECT * FROM CTE_LINKED WHERE CUST_ORDER_ID = '429280' --AND LINE_NO = '1'
--ORDER BY CUST_ORDER_ID, LINE_NO, INVOICE_ID

, CTE_UNLINKED as
(SELECT 'UNLINKED1' AS [ORDER_TYPE]
	, T.TRACE_ID
	, SL.TRANSACTION_ID
	, RL.INVOICE_ID
	, RL.LINE_NO AS INV_LINE
	, T.QTY * -1 AS TRACE_QTY
	, RL.PACKLIST_ID
	, S.SHIPPED_DATE
	, CO.CREATE_DATE AS CO_CREATE_DATE
	, COL.CUST_ORDER_ID
	, COL.LINE_NO AS COL_LINE
	, CO.CUSTOMER_ID
	, COL.PART_ID
	, COL.LINE_STATUS AS SHIP_SHORT
	, COL.ORDER_QTY AS COL_ORDER_QTY
	, COL.TOTAL_SHIPPED_QTY
	, RL.QTY AS REC_QTY
	, COL.UNIT_PRICE AS COL_UNIT_PRICE
	, RL.AMOUNT AS REC_AMOUNT
	, SL.SHIPPED_QTY
	, WO.[STATUS]
	, WO.CREATE_DATE AS WO_CREATE_DATE
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY
	, WO.ACT_BURDEN_COST
	, WO.ACT_MATERIAL_COST
	, WO.ACT_LABOR_COST
	, WO.ACT_SERVICE_COST
FROM DATAWAREHOUSE.dbo.SHIPPER_LINE SL
INNER JOIN DATAWAREHOUSE.dbo.TRACE_INV_TRANS  T
	ON SL.TRANSACTION_ID = T.TRANSACTION_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND COL.PART_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND SL.PACKLIST_ID = RL.PACKLIST_ID 
	AND SL.LINE_NO = RL.PACKLIST_LINE_NO 
	AND RL.PACKLIST_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER S
	ON SL.PACKLIST_ID = S.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON (T.TRACE_ID = WO.BASE_ID + '/' + WO.LOT_ID)
	AND WO.DESIRED_QTY <> 0
	AND WO.SPLIT_ID = '0'
	AND WO.SUB_ID = '0'
	AND WO.[TYPE] = 'W'
	AND WO.[STATUS] = 'C'
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE S.SHIPPED_DATE >= @STARTDATE
	AND SL.SHIPPED_QTY <> 0
	AND DSL.SUPPLY_BASE_ID IS NULL
----
UNION ALL
----
SELECT 'UNLINKED2' AS [ORDER_TYPE]
	, T.TRACE_ID
	, SL.TRANSACTION_ID
	, RL.INVOICE_ID
	, RL.LINE_NO AS INV_LINE
	, T.QTY * -1 AS TRACE_QTY
	, RL.PACKLIST_ID
	, S.SHIPPED_DATE
	, CO.CREATE_DATE AS CO_CREATE_DATE
	, COL.CUST_ORDER_ID
	, COL.LINE_NO AS COL_LINE
	, CO.CUSTOMER_ID
	, COL.PART_ID
	, COL.LINE_STATUS AS SHIP_SHORT
	, COL.ORDER_QTY AS COL_ORDER_QTY
	, COL.TOTAL_SHIPPED_QTY
	, RL.QTY AS REC_QTY
	, COL.UNIT_PRICE AS COL_UNIT_PRICE
--	, (RL.AMOUNT / ISNULL(RL.QTY, SL.SHIPPED_QTY)) AS INV_UNIT_PRICE
	, RL.AMOUNT AS REC_AMOUNT
	, SL.SHIPPED_QTY
	, WO.[STATUS]
	, WO.CREATE_DATE AS WO_CREATE_DATE
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY
	, WO.ACT_BURDEN_COST
	, WO.ACT_MATERIAL_COST
	, WO.ACT_LABOR_COST
	, WO.ACT_SERVICE_COST
FROM DATAWAREHOUSE.dbo.SHIPPER_LINE SL
INNER JOIN DATAWAREHOUSE.dbo.TRACE_INV_TRANS  T
	ON SL.TRANSACTION_ID = T.TRANSACTION_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND COL.PART_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND SL.PACKLIST_ID = RL.PACKLIST_ID 
	AND SL.LINE_NO = RL.PACKLIST_LINE_NO 
	AND RL.PACKLIST_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER S
	ON SL.PACKLIST_ID = S.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON (T.TRACE_ID = WO.BASE_ID + '/' + WO.LOT_ID + '/' + WO.SUB_ID)
	AND WO.DESIRED_QTY <> 0
	AND WO.SPLIT_ID = '0'
	AND WO.[TYPE] = 'W'
	AND WO.[STATUS] = 'C'
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE S.SHIPPED_DATE >= @STARTDATE
	AND SL.SHIPPED_QTY <> 0
	AND DSL.SUPPLY_BASE_ID IS NULL
)
--select * from cte_unlinked

, CTE_COMBINED AS
(SELECT * 
FROM CTE_LINKED
UNION ALL
SELECT * 
FROM CTE_UNLINKED 
)
--select * from CTE_COMBINED where cust_order_id = '441935'
, CTE_COSTS AS
(SELECT CMB.ORDER_TYPE
	, CMB.CUSTOMER_ID
	, CMB.CO_CREATE_DATE
	, CMB.WO_CREATE_DATE
	, CMB.SHIPPED_DATE
	, CMB.CUST_ORDER_ID
	, CMB.COL_LINE
	, CMB.PART_ID
	, CMB.SHIP_SHORT
	, CMB.BASE_ID
	, CMB.LOT_ID
	, CMB.SPLIT_ID
	, SUB_ID
	, CMB.[STATUS]
	, CMB.PACKLIST_ID
	, CMB.TRANSACTION_ID
	, CMB.INVOICE_ID
	, CMB.INV_LINE
	, CMB.TRACE_ID
--> QUANTITIES
	, CMB.COL_ORDER_QTY
	, CMB.DESIRED_QTY
	, CMB.TOTAL_SHIPPED_QTY
	, CMB.TRACE_QTY
	, CMB.SHIPPED_QTY
	, CMB.REC_QTY
--> PRICES
	, COL_UNIT_PRICE
	, CMB.REC_AMOUNT

--> COSTS
	, CMB.ACT_BURDEN_COST
	, CMB.ACT_MATERIAL_COST
	, CMB.ACT_LABOR_COST
	, CMB.ACT_SERVICE_COST

	, CASE
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		WHEN TRACE_ID IS NULL THEN (SHIPPED_QTY * (CMB.ACT_BURDEN_COST / DESIRED_QTY))
		ELSE (TRACE_QTY * (CMB.ACT_BURDEN_COST / DESIRED_QTY))
	END AS TRACE_BURDEN_COST
	, CASE
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		WHEN TRACE_ID IS NULL THEN (SHIPPED_QTY * (ACT_MATERIAL_COST / DESIRED_QTY))
		ELSE (TRACE_QTY * (ACT_MATERIAL_COST / DESIRED_QTY))
	END AS TRACE_MATERIAL_COST
	, CASE
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		WHEN TRACE_ID IS NULL THEN (SHIPPED_QTY * (ACT_LABOR_COST / DESIRED_QTY))
		ELSE (TRACE_QTY * (ACT_LABOR_COST / DESIRED_QTY))
	END AS TRACE_LABOR_COST
	, CASE
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		WHEN TRACE_ID IS NULL THEN (SHIPPED_QTY * (ACT_SERVICE_COST / DESIRED_QTY))
		ELSE (TRACE_QTY * (ACT_SERVICE_COST / DESIRED_QTY))
	END AS TRACE_SERVICE_COST
FROM CTE_COMBINED CMB 


)
--SELECT * FROM CTE_COSTS WHERE CUST_ORDER_ID = '441935'

, CTE_AMTRIB AS
(SELECT [ORDER_TYPE]
	, CUST_ORDER_ID
	, CUSTOMER_ID
	, REPLACE(REPLACE(BASE_ID, 'A', ''), 'B', '') AS BASE_ID
	, SUM(REC_AMOUNT) AS REC_AMOUNT
	, SUM(ACT_BURDEN_COST) AS ACT_BURDEN_COST
	, SUM(ACT_MATERIAL_COST) AS ACT_MATERIAL_COST
	, SUM(ACT_LABOR_COST) AS ACT_LABOR_COST
	, SUM(ACT_SERVICE_COST) AS ACT_SERVICE_COST
FROM CTE_COSTS
WHERE CUSTOMER_ID = 'AMTRIB'
GROUP BY [ORDER_TYPE]
	, CUST_ORDER_ID
	, CUSTOMER_ID
	, REPLACE(REPLACE(BASE_ID, 'A', ''), 'B', '')
	, REC_QTY
	, SHIPPED_QTY
)
--SELECT * FROM CTE_AMTRIB WHERE CUST_ORDER_ID = '441935'

, CTE_MERGE AS
(SELECT CMB.ORDER_TYPE
	, UDF.STRING_VAL AS BUS_STREAM
	, CASE
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'FIN-HOURLY' THEN 'CMP-FIN'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'FIN' THEN 'CMP-FIN'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'MFG-HOURLY' THEN 'CMP-MFG'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'MFG' THEN 'CMP-MFG'
		ELSE UDF.STRING_VAL
	END AS BUS_UNIT
	, P.PLANNER_USER_ID
	, P.BUYER_USER_ID
	, B.Salesperson_ID
	, CMB.CUSTOMER_ID
	, CMB.CO_CREATE_DATE
	, CMB.WO_CREATE_DATE
	, CMB.SHIPPED_DATE
	, CMB.CUST_ORDER_ID
	, CMB.COL_LINE
	, CMB.PART_ID
	, CMB.SHIP_SHORT
	, CMB.BASE_ID
	, CMB.LOT_ID
	, CMB.SPLIT_ID
	, SUB_ID
	, CMB.[STATUS]
	, CMB.PACKLIST_ID
	, CMB.TRANSACTION_ID
	, CMB.INVOICE_ID
	, CMB.INV_LINE
	, CMB.TRACE_ID
--> QUANTITIES
	, CMB.COL_ORDER_QTY
	, CMB.DESIRED_QTY
	, CMB.TOTAL_SHIPPED_QTY
	, CMB.TRACE_QTY
	, CMB.SHIPPED_QTY
	, CMB.REC_QTY
--> PRICES
	, COL_UNIT_PRICE

	, CASE
		WHEN CMB.BASE_ID LIKE '%R%' THEN 0						--> REWORK
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		WHEN SHIPPED_QTY < 0 THEN 0								--> RETURN 
		WHEN SHIPPED_QTY = 0 THEN 0								--> RETURN / CHARGE
		WHEN CMB.REC_AMOUNT < 0 THEN 0							--> CREDIT
		--WHEN CMB.REC_AMOUNT = 0 THEN 0						--> REMOVED FOR MIN LOT CHARGES
		WHEN CMB.REC_QTY < 0 THEN 0								--> CREDIT
		WHEN CMB.REC_QTY = 0 THEN 0								--> CREDIT
		ELSE ISNULL(CTE01.CHARGE_ALLOC, 0) 
	END AS CHARGE_ALLOC

	, CASE 
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.REC_AMOUNT
		ELSE CMB.REC_AMOUNT
	END AS REC_AMOUNT

--> COSTS
	, CMB.ACT_BURDEN_COST
	, CMB.ACT_MATERIAL_COST
	, CMB.ACT_LABOR_COST
	, CMB.ACT_SERVICE_COST

	--, CMB.TRACE_BURDEN_COST
	--, CMB.TRACE_MATERIAL_COST
	--, CMB.TRACE_LABOR_COST
	--, CMB.TRACE_SERVICE_COST

	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.ACT_BURDEN_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.TRACE_BURDEN_COST
	END AS TRACE_BURDEN_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.ACT_MATERIAL_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.TRACE_MATERIAL_COST
	END AS TRACE_MATERIAL_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.ACT_LABOR_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.TRACE_LABOR_COST
	END AS TRACE_LABOR_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.ACT_SERVICE_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.TRACE_SERVICE_COST
	END AS TRACE_SERVICE_COST
FROM CTE_COSTS CMB 
INNER JOIN #BUS_UNIT UDF
--INNER JOIN DATAWAREHOUSE.dbo.USER_DEF_FIELDS UDF
	ON UDF.DOCUMENT_ID = CMB.CUSTOMER_ID
	AND UDF.PROGRAM_ID = 'VMCUSMNT'
	AND UDF.ID = 'UDF-0000072'
INNER JOIN DATAWAREHOUSE.dbo.PART_SITE P
	ON P.PART_ID = CMB.PART_ID
INNER JOIN LIVESupplemental.dbo.buyer_assn B
	ON LEFT(P.BUYER_USER_ID, 2) = B.Account_ID
LEFT OUTER JOIN CTE_CHGAMTS CTE01
	ON CMB.CUST_ORDER_ID = CTE01.CUST_ORDER_ID
LEFT OUTER JOIN CTE_BOE BOE
	ON BOE.ID = CMB.CUST_ORDER_ID
	AND BOE.BASE_ID = CMB.BASE_ID
LEFT OUTER JOIN CTE_AMTRIB AMT
	ON AMT.CUST_ORDER_ID = CMB.CUST_ORDER_ID
	AND AMT.BASE_ID = CMB.BASE_ID
)
--SELECT * FROM CTE_MERGE WHERE CUST_ORDER_ID = '431574'

SELECT CASE
		WHEN CUSTOMER_ID = 'AMTRIB'  AND MRG.BASE_ID = REPLACE(REPLACE(MRG.BASE_ID, 'A', ''), 'B', '') THEN 'AMTRIB KITS'
		WHEN CUSTOMER_ID = 'AMTRIB' THEN 'AMTRIB'
		WHEN CUSTOMER_ID = 'SPIAER' THEN 'SPIAER'
		WHEN REC_AMOUNT < 0 AND REC_QTY < 0 THEN 'RETURN'
		WHEN REC_AMOUNT < 0 AND REC_QTY > 0 THEN 'CREDIT'
		WHEN REC_AMOUNT = 0 AND CHARGE_ALLOC > 0 THEN 'CHARGE'
		WHEN BASE_ID LIKE '%R%' THEN 'REWORK'
		WHEN REC_AMOUNT = 0 AND CHARGE_ALLOC = 0 AND [STATUS] = 'X' THEN 'CANCELLED'
		WHEN REC_AMOUNT > 0 THEN 'INVOICE'
		ELSE 'ISSUES'
	END AS REC_ISSUES
	, MRG.*
	, ((REC_AMOUNT + CHARGE_ALLOC) / ISNULL(REC_QTY, TRACE_QTY)) AS INV_UNIT_PRICE

	, (COL_UNIT_PRICE - ((REC_AMOUNT + CHARGE_ALLOC) / ISNULL(REC_QTY, TRACE_QTY))) AS UNITPRICE_DELTA

	, CASE	--REC_AMOUNT + CHARGES
	--	WHEN WO.BASE_ID LIKE '%R%' THEN 0							--> REWORK 
		WHEN SHIPPED_QTY < 0 OR REC_AMOUNT < 0 THEN REC_AMOUNT		--> RETURN OR CREDIT
		WHEN TRACE_QTY IS NULL THEN CHARGE_ALLOC + REC_AMOUNT
		ELSE ((CHARGE_ALLOC + REC_AMOUNT) / ISNULL(REC_QTY, TRACE_QTY)) * (TRACE_QTY)
	END AS TOTAL_PRICE  
	, (TRACE_BURDEN_COST + TRACE_MATERIAL_COST + TRACE_LABOR_COST + TRACE_SERVICE_COST) AS TOTAL_TRACE_COST
	, (TRACE_BURDEN_COST + TRACE_MATERIAL_COST + TRACE_LABOR_COST + TRACE_SERVICE_COST) / ISNULL(TRACE_QTY, REC_QTY) AS TRACE_UNIT_COST
INTO GROSS_MARGIN
FROM CTE_MERGE MRG

--SELECT * FROM GROSS_MARGIN 
END


