IF OBJECT_ID('tempdb..#RESULTS') IS NOT NULL DROP TABLE #RESULTS

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DECLARE @START DATE = DATEADD(YEAR,-1,DATEADD(DAY,1,(EOMONTH(DATEADD(MONTH,-1,GETDATE()))))),
@END DATE = GETDATE()-1
;

IF OBJECT_ID('tempdb..#BUS_UNIT') IS NOT NULL DROP TABLE #BUS_UNIT
SELECT * 
INTO #BUS_UNIT
FROM [SQL-LAB-2].[LIVE].dbo.USER_DEF_FIELDS UDF
WHERE PROGRAM_ID = 'VMCUSMNT'
	AND UDF.ID = 'UDF-0000072'
--SELECT * FROM #BUS_UNIT
;

-----------------------------> BOE QUERIES
IF OBJECT_ID('tempdb..#BOE_BILLING') IS NOT NULL DROP TABLE #BOE_BILLING

CREATE TABLE #BOE_BILLING
	([SPROC] NVARCHAR(15)
	, [COST ITEM] NVARCHAR(1)
	, [POS] NVARCHAR(5)
	, [PART NUMBER] NVARCHAR(50)
	, [RAMAC] NVARCHAR(50)
	, [BILLED QTY] FLOAT
	, [UNIT PRICE] FLOAT
	, [EXTENDED DOLLARS] FLOAT
	, [EXPEDITE DOLLARS] FLOAT
	, [SPECIAL FEES] FLOAT  
	, [SERVICE_FEES] [int] NULL
	, [SETUP HOURS] [decimal](14,2)
	, [RUN HOURS] [decimal](14,2)
	, [EXPEDITE HOURS] FLOAT
	, [PACK SLIPS / DATE] NVARCHAR(MAX)
	, [INVOICE ID] NVARCHAR(MAX)  
	, [COMMENTS] NVARCHAR(MAX)
	, [SORTATION] INT
	)

INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_605 @START, @END
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_ASSY @START, @END
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_MFG @START, @END   
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_FINISH @START, @END 
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_5AXIS @START, @END 
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_BOLTBOARDS @START, @END

CREATE CLUSTERED INDEX CL_IDX_RAMAC ON #BOE_BILLING (RAMAC)

IF OBJECT_ID('tempdb..#CTE_BOE') IS NOT NULL DROP TABLE #CTE_BOE
--; WITH CTE_BOE AS 	
SELECT RAMAC AS ID
	, [PART NUMBER]
	, SUM(ISNULL([EXTENDED DOLLARS], 0)) AS SUM_EXTENDED_DOLLARS
	, SUM([SETUP HOURS]) + SUM([RUN HOURS]) AS TOTAL_HOURS
INTO #CTE_BOE
FROM #BOE_BILLING
GROUP BY RAMAC
	, [PART NUMBER]
--SELECT * FROM #CTE_BOE WHERE ID = '001614604'
-----------------------------> BOE QUERIES ENDS

; WITH CTE_COMBINED AS
(SELECT CASE 
		WHEN ITIN.WORKORDER_BASE_ID != DSL.SUPPLY_BASE_ID THEN 'BASE_ID ISSUES'
		WHEN DSL.SUPPLY_BASE_ID IS NULL THEN 'UNLINKED'
		WHEN ITIN.WORKORDER_BASE_ID IS NOT NULL THEN 'LINKED'
		WHEN DSL.SUPPLY_BASE_ID IS NOT NULL THEN 'LINKED'
		WHEN ITIN.WORKORDER_BASE_ID IS NOT NULL THEN 'LINKED'
		ELSE 'ISSUES'
	END AS [ORDER_TYPE]
	, T.TRACE_ID
	, SL.TRANSACTION_ID
	, RL.INVOICE_ID
	, RL.LINE_NO AS INV_LINE
	, T.QTY * -1 AS TRACE_QTY
	, RL.PACKLIST_ID
	, S.SHIPPED_DATE
	, CO.CREATE_DATE AS CO_CREATE_DATE
	, COL.CUST_ORDER_ID
	, COL.LINE_NO AS COL_LINE
	, CO.CUSTOMER_ID
	, COL.PART_ID
	, COL.LINE_STATUS AS SHIP_SHORT
	, COL.ORDER_QTY AS COL_ORDER_QTY
	, COL.TOTAL_SHIPPED_QTY
	, RL.QTY AS REC_QTY
	, COL.UNIT_PRICE AS COL_UNIT_PRICE
	, RL.AMOUNT AS REC_AMOUNT
	, SL.SHIPPED_QTY
	, WO.[STATUS] AS WO_STATUS
	, WO.CREATE_DATE AS WO_CREATE_DATE
	, DSL.SUPPLY_BASE_ID
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY
	, WO.ACT_BURDEN_COST
	, WO.ACT_MATERIAL_COST
	, WO.ACT_LABOR_COST
	, WO.ACT_SERVICE_COST


-->  ???? why not figure out trace unit costs now

FROM DATAWAREHOUSE.dbo.SHIPPER_LINE SL
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND COL.PART_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER S
	ON SL.PACKLIST_ID = S.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND SL.PACKLIST_ID = RL.PACKLIST_ID 
	AND SL.LINE_NO = RL.PACKLIST_LINE_NO 
	AND RL.PACKLIST_ID IS NOT NULL
LEFT OUTER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.TRACE_INV_TRANS  T
	ON SL.TRANSACTION_ID = T.TRANSACTION_ID
	AND T.QTY != 0
LEFT OUTER JOIN INVENTORY_TRANS ITOUT
	ON SL.TRANSACTION_ID = ITOUT.TRANSACTION_ID
LEFT OUTER JOIN INV_TRANS_DIST ITD
	ON ITOUT.TRANSACTION_ID = ITD.OUT_TRANS_ID
LEFT OUTER JOIN INVENTORY_TRANS ITIN
	ON ITIN.TRANSACTION_ID = ITD.IN_TRANS_ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
--	ON (T.TRACE_ID = WO.BASE_ID + '/' + WO.LOT_ID + '.' + WO.SPLIT_ID)
	ON ITIN.WORKORDER_BASE_ID = WO.BASE_ID
	AND ITIN.WORKORDER_LOT_ID = WO.LOT_ID
	AND ITIN.WORKORDER_SPLIT_ID = WO.SPLIT_ID
	AND ITIN.WORKORDER_SUB_ID = WO.SUB_ID
	AND ITIN.WORKORDER_TYPE = WO.[TYPE]
	AND WO.DESIRED_QTY <> 0
	AND WO.SUB_ID = '0'
	AND WO.[TYPE] = 'W'
	AND WO.[STATUS] = 'C'
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE (1 = 1)
--	AND RL.PACKLIST_ID IS NOT NULL
	AND S.SHIPPED_DATE >= @START
	AND COL.PART_ID IS NOT NULL
	AND SL.SHIPPED_QTY <> 0
--	AND DSL.SUPPLY_BASE_ID IS NOT NULL
	AND COL.ORDER_QTY > 0
)
--SELECT * FROM CTE_COMBINED --WHERE CUST_ORDER_ID = '001550232'

, CTE_AMTRIB AS
(SELECT CUST_ORDER_ID
	, REPLACE(REPLACE(BASE_ID, 'A', ''), 'B', '') AS AMT_BASE_ID
	, SUM(ISNULL(REC_AMOUNT, 0)) AS AMT_REC_AMOUNT
	, SUM(ISNULL(ACT_BURDEN_COST, 0)) AS AMT_BURDEN_COST
	, SUM(ISNULL(ACT_MATERIAL_COST, 0)) AS AMT_MATERIAL_COST
	, SUM(ISNULL(ACT_LABOR_COST, 0)) AS AMT_LABOR_COST
	, SUM(ISNULL(ACT_SERVICE_COST, 0)) AS AMT_SERVICE_COST
FROM CTE_COMBINED
WHERE CUSTOMER_ID = 'AMTRIB'
GROUP BY CUST_ORDER_ID
	, REPLACE(REPLACE(BASE_ID, 'A', ''), 'B', '')
	, REC_QTY
	, SHIPPED_QTY
)
--SELECT * FROM CTE_AMTRIB WHERE CUST_ORDER_ID = '429280'

, CTE_CHARGES AS
(SELECT COL.CUST_ORDER_ID
	, SUM(ISNULL(RL.AMOUNT, 0)) AS TOTAL_CHARGE
FROM DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
LEFT OUTER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
WHERE COL.PART_ID IS NULL
	AND COL.SERVICE_CHARGE_ID IS NOT NULL
	AND CO.CREATE_DATE >= '1/1/2015'
	AND CO.[STATUS] != 'X'
	AND COL.ORDER_QTY > 0
GROUP BY COL.CUST_ORDER_ID
)
--SELECT * FROM CTE_CHARGES

, CTE_PARTS AS
(SELECT COL.CUST_ORDER_ID
	, SUM(ISNULL(COL.ORDER_QTY, 0)) AS PART_QTY
FROM DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN CTE_CHARGES CTE
	ON COL.CUST_ORDER_ID = CTE.CUST_ORDER_ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE COL.PART_ID IS NOT NULL
	AND COL.ORDER_QTY > 0
	AND (DSL.SUPPLY_BASE_ID NOT LIKE '%R%' 
		OR DSL.SUPPLY_BASE_ID IS NULL)
GROUP BY COL.CUST_ORDER_ID
)
--SELECT * FROM CTE_PARTS

, CTE_CHGAMTS AS
(SELECT CTE1.CUST_ORDER_ID
	, CTE1.TOTAL_CHARGE
	, CTE2.PART_QTY
	, CTE1.TOTAL_CHARGE / CTE2.PART_QTY AS UNIT_CHARGE_ALLOC
FROM CTE_CHARGES CTE1
INNER JOIN CTE_PARTS CTE2
	ON CTE1.CUST_ORDER_ID = CTE2.CUST_ORDER_ID
)
--SELECT * FROM CTE_CHGAMTS  where CUST_ORDER_ID = '346106'

, CTE_MERGE AS
(SELECT CMB.ORDER_TYPE
	, UDF.STRING_VAL AS BUS_STREAM
	, CASE
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'FIN-HOURLY' THEN 'CMP-FIN'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'FIN' THEN 'CMP-FIN'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'MFG-HOURLY' THEN 'CMP-MFG'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'MFG' THEN 'CMP-MFG'
		ELSE UDF.STRING_VAL
	END AS BUS_UNIT
	, P.PLANNER_USER_ID
	, P.BUYER_USER_ID
	, B.Salesperson_ID
	, CMB.CO_CREATE_DATE
	, CMB.WO_CREATE_DATE
	, CMB.SHIPPED_DATE
	, CMB.CUSTOMER_ID
	, CMB.CUST_ORDER_ID
	, CMB.COL_LINE
	, CMB.BASE_ID
	, CMB.LOT_ID
	, CMB.SPLIT_ID
	, CMB.SUB_ID
	, CMB.WO_STATUS
	, CMB.PACKLIST_ID
	, CMB.TRANSACTION_ID
	, CMB.INVOICE_ID
	, CMB.INV_LINE
	, CMB.PART_ID
	, CMB.SHIP_SHORT
	, CMB.TRACE_ID

	, CMB.TOTAL_SHIPPED_QTY
	, CMB.COL_ORDER_QTY
	, CMB.DESIRED_QTY
	, CMB.TRACE_QTY
	, CMB.SHIPPED_QTY
	, CMB.REC_QTY

	, CMB.COL_UNIT_PRICE
	, CMB.REC_AMOUNT

	, CASE
		WHEN CMB.BASE_ID LIKE '%R%' THEN 0						--> REWORK
		WHEN CMB.INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN CMB.INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		WHEN CMB.COL_ORDER_QTY <= 0 THEN 0
		ELSE ISNULL(CTE01.UNIT_CHARGE_ALLOC, 0) * ISNULL(TRACE_QTY, SHIPPED_QTY)
	END AS TRACE_CHARGE_ALLOC

	, CASE 
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END AS TOTAL_INVOICE_AMOUNT

	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_INVOICE_AMOUNT

	, CASE 
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_INVOICE_AMOUNT

----> COSTS
	, CMB.ACT_BURDEN_COST AS TOTAL_BURDEN_COST
	, CMB.ACT_MATERIAL_COST AS TOTAL_MATERIAL_COST
	, CMB.ACT_LABOR_COST AS TOTAL_LABOR_COST
	, CMB.ACT_SERVICE_COST AS TOTAL_SERVICE_COST

	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_BURDEN_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_BURDEN_COST
--	END / ISNULL(DESIRED_QTY, 1)) AS TRACE_BURDEN_COST
	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_BURDEN_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_MATERIAL_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_MATERIAL_COST
--	END / ISNULL(DESIRED_QTY, 1)) AS TRACE_MATERIAL_COST
	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_MATERIAL_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_LABOR_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_LABOR_COST
--	END / ISNULL(DESIRED_QTY, 1)) AS TRACE_LABOR_COST
	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_LABOR_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_SERVICE_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_SERVICE_COST
--	END / ISNULL(DESIRED_QTY, 1)) AS TRACE_SERVICE_COST
	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_SERVICE_COST

	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_BURDEN_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_BURDEN_COST 
	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_BURDEN_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_MATERIAL_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_MATERIAL_COST
	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_MATERIAL_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_LABOR_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_LABOR_COST
	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_LABOR_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_SERVICE_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_SERVICE_COST
	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_SERVICE_COST

-->  audit purposes
	, CTE01.TOTAL_CHARGE
	, CTE01.PART_QTY
	, CTE01.UNIT_CHARGE_ALLOC
	, BOE.[PART NUMBER]
	, BOE.SUM_EXTENDED_DOLLARS
	, BOE.TOTAL_HOURS
	, AMT.AMT_BASE_ID
	, AMT.AMT_REC_AMOUNT
	, AMT.AMT_BURDEN_COST
	, AMT.AMT_MATERIAL_COST
	, AMT.AMT_LABOR_COST
	, AMT.AMT_SERVICE_COST
-->

FROM CTE_COMBINED CMB 
LEFT OUTER JOIN #BUS_UNIT UDF
	ON UDF.DOCUMENT_ID = CMB.CUSTOMER_ID
	AND UDF.PROGRAM_ID = 'VMCUSMNT'
	AND UDF.ID = 'UDF-0000072'
LEFT OUTER JOIN DATAWAREHOUSE.dbo.PART_SITE P
	ON P.PART_ID = CMB.PART_ID
LEFT OUTER JOIN LIVESupplemental.dbo.buyer_assn B
	ON LEFT(P.BUYER_USER_ID, 2) = B.Account_ID
LEFT OUTER JOIN CTE_CHGAMTS CTE01
	ON CMB.CUST_ORDER_ID = CTE01.CUST_ORDER_ID
LEFT OUTER JOIN #CTE_BOE BOE
	ON BOE.ID = CMB.CUST_ORDER_ID
--	AND BOE.BASE_ID = CMB.BASE_ID
LEFT OUTER JOIN CTE_AMTRIB AMT
	ON AMT.CUST_ORDER_ID = CMB.CUST_ORDER_ID
	AND AMT.AMT_BASE_ID = CMB.BASE_ID
)
--SELECT * FROM CTE_MERGE WHERE CUST_ORDER_ID = '459410'

SELECT CASE
		WHEN CUSTOMER_ID = 'AMTRIB' THEN 'AMTRIB'
		WHEN CUSTOMER_ID = 'SPIAER' THEN 'SPIAER'
		WHEN INVOICE_ID LIKE '%CM' OR INVOICE_ID LIKE '%DM' THEN 'DM/CM'
		WHEN BASE_ID LIKE '%R%' THEN 'REWORK'
		WHEN INVOICE_ID IS NULL THEN 'NO INVOICE YET'
		WHEN BASE_ID IS NULL AND REC_QTY < 0 THEN 'RETURN RECORD'
		WHEN TOTAL_SHIPPED_QTY = 0 AND REC_QTY < 0 THEN 'RETURN NO RESHIPMENT'
		WHEN TRACE_INVOICE_AMOUNT < 0 AND REC_QTY < 0 THEN 'RETURN'
		WHEN TRACE_INVOICE_AMOUNT < 0 AND REC_QTY > 0 THEN 'CREDIT'
		WHEN TRACE_INVOICE_AMOUNT = 0 AND TRACE_CHARGE_ALLOC > 0 THEN 'CHARGE'
		WHEN REC_AMOUNT = 0 AND TRACE_INVOICE_AMOUNT = 0 AND REC_QTY != 0 THEN '$0 INVOICE???'
--		WHEN REC_AMOUNT = 0 AND CHARGE_ALLOC = 0 AND MRG.[STATUS] = 'X' THEN 'CANCELLED'
		WHEN TRACE_INVOICE_AMOUNT > 0 THEN 'INVOICED'
		ELSE 'ISSUES'
	END AS REC_ISSUES
	, MRG.*
	, (TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) AS TRACE_PRICE
	, (TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) / ISNULL(TRACE_QTY, SHIPPED_QTY) AS INV_UNIT_PRICE
	, (COL_UNIT_PRICE - ((TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) / ISNULL(TRACE_QTY, SHIPPED_QTY))) AS UNITPRICE_DELTA
	, (TRACE_BURDEN_COST + TRACE_MATERIAL_COST + TRACE_LABOR_COST + TRACE_SERVICE_COST) AS TOTAL_TRACE_COST
	, (TRACE_BURDEN_COST + TRACE_MATERIAL_COST + TRACE_LABOR_COST + TRACE_SERVICE_COST) / ISNULL(TRACE_QTY, SHIPPED_QTY) AS TRACE_UNIT_COST
	, UNIT_BURDEN_COST + UNIT_MATERIAL_COST + UNIT_LABOR_COST + UNIT_SERVICE_COST AS TOTAL_UNIT_COST
INTO #RESULTS
FROM CTE_MERGE MRG
--SELECT * FROM #RESULTS

--TRUNCATE TABLE Datawarehouse.[dbo].[GROSS_MARGIN]

--INSERT INTO Datawarehouse.[dbo].[GROSS_MARGIN]
--([REC_ISSUES] 
--	, [ORDER_TYPE] 
--	, [BUS_STREAM] 
--	, [BUS_UNIT]
--	, [PLANNER_USER_ID]
--	, [BUYER_USER_ID] 
--	, [Salesperson_ID] 
--	, [CO_CREATE_DATE]
--	, [WO_CREATE_DATE]
--	, [SHIPPED_DATE] 
--	, [CUSTOMER_ID] 
--	, [CUST_ORDER_ID]
--	, [COL_LINE] 
--	, [BASE_ID] 
--	, [LOT_ID] 
--	, [SPLIT_ID]
--	, [SUB_ID] 
--	, [WO_STATUS] 
--	, [PACKLIST_ID] 
--	, [TRANSACTION_ID]
--	, [INVOICE_ID] 
--	, [INV_LINE] 
--	, [PART_ID] 
--	, [SHIP_SHORT] 
--	, [TRACE_ID] 
--	, [TOTAL_SHIPPED_QTY] 
--	, [COL_ORDER_QTY] 
--	, [DESIRED_QTY] 
--	, [TRACE_QTY] 
--	, [SHIPPED_QTY] 
--	, [REC_QTY] 
--	, [COL_UNIT_PRICE] 
--	, [REC_AMOUNT] 
--	, [TRACE_CHARGE_ALLOC] 
--	, [TOTAL_INVOICE_AMOUNT] 
--	, [TRACE_INVOICE_AMOUNT] 
--	, [UNIT_INVOICE_AMOUNT] 
--	, [TOTAL_BURDEN_COST]
--	, [TOTAL_MATERIAL_COST] 
--	, [TOTAL_LABOR_COST]
--	, [TOTAL_SERVICE_COST] 
--	, [TRACE_BURDEN_COST] 
--	, [TRACE_MATERIAL_COST] 
--	, [TRACE_LABOR_COST]
--	, [TRACE_SERVICE_COST] 
--	, [UNIT_BURDEN_COST] 
--	, [UNIT_MATERIAL_COST] 
--	, [UNIT_LABOR_COST] 
--	, [UNIT_SERVICE_COST]
--	, [TOTAL_CHARGE]
--	, [PART_QTY] 
--	, [UNIT_CHARGE_ALLOC] 
--	, [PART NUMBER] 
--	, [SUM_EXTENDED_DOLLARS]
--	, [TOTAL_HOURS] 
--	, [AMT_BASE_ID] 
--	, [AMT_REC_AMOUNT] 
--	, [AMT_BURDEN_COST] 
--	, [AMT_MATERIAL_COST]
--	, [AMT_LABOR_COST] 
--	, [AMT_SERVICE_COST] 
--	, [TRACE_PRICE] 
--	, [INV_UNIT_PRICE] 
--	, [UNITPRICE_DELTA]
--	, [TOTAL_TRACE_COST] 
--	, [TRACE_UNIT_COST] 
--	, [TOTAL_UNIT_COST]		   
--)
	   
SELECT [REC_ISSUES] 
	, [ORDER_TYPE] 
	, [BUS_STREAM] 
	, [BUS_UNIT]
	, [PLANNER_USER_ID]
	, [BUYER_USER_ID] 
	, [Salesperson_ID] 
	, [CO_CREATE_DATE]
	, [WO_CREATE_DATE]
	, [SHIPPED_DATE] 
	, [CUSTOMER_ID] 
	, [CUST_ORDER_ID]
	, [COL_LINE] 
	, [BASE_ID] 
	, [LOT_ID] 
	, [SPLIT_ID]
	, [SUB_ID] 
	, [WO_STATUS] 
	, [PACKLIST_ID] 
	, [TRANSACTION_ID]
	, [INVOICE_ID] 
	, [INV_LINE] 
	, [PART_ID] 
	, [SHIP_SHORT] 
	, [TRACE_ID] 
	, [TOTAL_SHIPPED_QTY] 
	, [COL_ORDER_QTY] 
	, [DESIRED_QTY] 
	, [TRACE_QTY] 
	, [SHIPPED_QTY] 
	, [REC_QTY] 
	, [COL_UNIT_PRICE] 
	, [REC_AMOUNT] 
	, [TRACE_CHARGE_ALLOC] 
	, [TOTAL_INVOICE_AMOUNT] 
	, [TRACE_INVOICE_AMOUNT] 
	, [UNIT_INVOICE_AMOUNT] 
	, [TOTAL_BURDEN_COST]
	, [TOTAL_MATERIAL_COST] 
	, [TOTAL_LABOR_COST]
	, [TOTAL_SERVICE_COST] 
	, [TRACE_BURDEN_COST] 
	, [TRACE_MATERIAL_COST] 
	, [TRACE_LABOR_COST]
	, [TRACE_SERVICE_COST] 
	, [UNIT_BURDEN_COST] 
	, [UNIT_MATERIAL_COST] 
	, [UNIT_LABOR_COST] 
	, [UNIT_SERVICE_COST]
	, [TOTAL_CHARGE]
	, [PART_QTY] 
	, [UNIT_CHARGE_ALLOC] 
	, [PART NUMBER] 
	, [SUM_EXTENDED_DOLLARS]
	, [TOTAL_HOURS] 
	, [AMT_BASE_ID] 
	, [AMT_REC_AMOUNT] 
	, [AMT_BURDEN_COST] 
	, [AMT_MATERIAL_COST]
	, [AMT_LABOR_COST] 
	, [AMT_SERVICE_COST] 
	, [TRACE_PRICE] 
	, [INV_UNIT_PRICE] 
	, UNITPRICE_DELTA = ROUND([UNITPRICE_DELTA], 4)
	, [TOTAL_TRACE_COST] 
	, [TRACE_UNIT_COST] 
	, [TOTAL_UNIT_COST]		   
FROM #RESULTS

WHERE [PART_ID] = '065Z0300-453'
AND [CUST_ORDER_ID] = '448215'
AND [TRACE_ID] = '1570710/1'

ORDER BY [CUST_ORDER_ID]
	, COL_LINE
	, INVOICE_ID
