USE [Datamart]
GO
/****** Object:  StoredProcedure [dbo].[usp_Gross_Margin]    Script Date: 11/4/2019 8:11:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ALTER PROCEDURE [dbo].[usp_Gross_Margin]  
--AS
--BEGIN

--DROP TABLE DataWarehouse.dbo.GROSS_MARGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DECLARE @START DATE = DATEADD(YEAR,-1,DATEADD(DAY,1,(EOMONTH(DATEADD(MONTH,-1,GETDATE()))))),
@END DATE = GETDATE()-1
;
IF OBJECT_ID('tempdb..#BUS_UNIT') IS NOT NULL DROP TABLE #BUS_UNIT
SELECT * 
INTO #BUS_UNIT
FROM [SQL-LAB-2].[LIVE].dbo.USER_DEF_FIELDS UDF
WHERE PROGRAM_ID = 'VMCUSMNT'
	AND UDF.ID = 'UDF-0000072'
--SELECT * FROM #BUS_UNIT
;

-----------------------------> BOE QUERIES
IF OBJECT_ID('tempdb..#BOE_BILLING') IS NOT NULL DROP TABLE #BOE_BILLING

CREATE TABLE #BOE_BILLING
	([SPROC] NVARCHAR(15)
	, [COST ITEM] NVARCHAR(1)
	, [POS] NVARCHAR(5)
	, [PART NUMBER] NVARCHAR(50)
	, [RAMAC] NVARCHAR(20)
	, [BILLED QTY] FLOAT
	, [UNIT PRICE] FLOAT
	, [EXTENDED DOLLARS] FLOAT
	, [EXPEDITE DOLLARS] FLOAT
	, [SPECIAL FEES] FLOAT
	, [SETUP HOURS] FLOAT
	, [RUN HOURS] FLOAT
	, [EXPEDITE HOURS] FLOAT
	, [PACK SLIPS] NVARCHAR(MAX)
	, [COMMENTS] NVARCHAR(MAX)
	, [INVOICE ID] NVARCHAR(MAX)
	, [SORTATION] INT
	)

INSERT INTO #BOE_BILLING EXEC usp_BOE_BILLING_605 @START, @END
INSERT INTO #BOE_BILLING EXEC usp_BOE_BILLING_ASSY @START, @END
INSERT INTO #BOE_BILLING EXEC usp_BOE_BILLING_FINISH @START, @END
INSERT INTO #BOE_BILLING EXEC usp_BOE_BILLING_MFG @START, @END
INSERT INTO #BOE_BILLING EXEC usp_BOE_BILLING_5AXIS @START, @END
INSERT INTO #BOE_BILLING EXEC usp_BOE_BILLING_BOLTBOARDS @START, @END
;

WITH CTE_BOE AS 	
(SELECT RAMAC AS ID
	, [PART NUMBER]
	, SUM([EXTENDED DOLLARS]) AS SUM_EXTENDED_DOLLARS
	, SUM([SETUP HOURS]) + SUM([RUN HOURS]) AS TOTAL_HOURS
FROM 
	(SELECT * FROM #BOE_BILLING
	) A
GROUP BY RAMAC
	, [PART NUMBER]
)
--SELECT * FROM CTE_BOE WHERE ID = '001614604'
-----------------------------> BOE QUERIES

, CTE_CHARGES AS
(SELECT COL.CUST_ORDER_ID
	, SUM(RL.AMOUNT) AS TOTAL_CHARGE
FROM DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
LEFT OUTER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
WHERE COL.PART_ID IS NULL
	AND COL.SERVICE_CHARGE_ID IS NOT NULL
	AND CO.CREATE_DATE >= '1/1/2015'
	AND CO.[STATUS] != 'X'
	AND COL.ORDER_QTY > 0
GROUP BY COL.CUST_ORDER_ID
)
--SELECT * FROM CTE_CHARGES

, CTE_PARTS AS
(SELECT COL.CUST_ORDER_ID
	, SUM(COL.ORDER_QTY) AS PART_QTY
FROM DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN CTE_CHARGES CTE
	ON COL.CUST_ORDER_ID = CTE.CUST_ORDER_ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE COL.PART_ID IS NOT NULL
	AND COL.ORDER_QTY > 0
	AND (DSL.SUPPLY_BASE_ID NOT LIKE '%R%' 
		OR DSL.SUPPLY_BASE_ID IS NULL)
GROUP BY COL.CUST_ORDER_ID
)
--SELECT * FROM CTE_PARTS

, CTE_CHGAMTS AS
(SELECT CTE1.CUST_ORDER_ID
	, CTE1.TOTAL_CHARGE
	, CTE2.PART_QTY
	, CTE1.TOTAL_CHARGE / CTE2.PART_QTY AS UNIT_CHARGE_ALLOC
FROM CTE_CHARGES CTE1
INNER JOIN CTE_PARTS CTE2
	ON CTE1.CUST_ORDER_ID = CTE2.CUST_ORDER_ID
)
--SELECT * FROM CTE_CHGAMTS  where CUST_ORDER_ID = '346106'

, CTE_LINKED as 
(SELECT 'LINKED' AS [ORDER_TYPE]
	, T.TRACE_ID
	, SL.TRANSACTION_ID
	, RL.INVOICE_ID
	, RL.LINE_NO AS INV_LINE
	, T.QTY * -1 AS TRACE_QTY
	, RL.PACKLIST_ID
	, S.SHIPPED_DATE
	, CO.CREATE_DATE AS CO_CREATE_DATE
	, COL.CUST_ORDER_ID
	, COL.LINE_NO AS COL_LINE
	, CO.CUSTOMER_ID
	, COL.PART_ID
	, COL.LINE_STATUS AS SHIP_SHORT
	, COL.ORDER_QTY AS COL_ORDER_QTY
	, COL.TOTAL_SHIPPED_QTY
	, RL.QTY AS REC_QTY
	, COL.UNIT_PRICE AS COL_UNIT_PRICE
	, RL.AMOUNT AS REC_AMOUNT
	, SL.SHIPPED_QTY
	, WO.[STATUS] AS WO_STATUS
	, WO.CREATE_DATE AS WO_CREATE_DATE
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY
	, WO.ACT_BURDEN_COST
	, WO.ACT_MATERIAL_COST
	, WO.ACT_LABOR_COST
	, WO.ACT_SERVICE_COST
FROM DATAWAREHOUSE.dbo.SHIPPER_LINE SL
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER S
	ON SL.PACKLIST_ID = S.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
    ON DSL.SUPPLY_TYPE = 'WO' 
    AND DSL.SUPPLY_BASE_ID = WO.BASE_ID
    AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
    AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
    AND DSL.SUPPLY_SUB_ID = WO.SUB_ID 
	AND WO.[TYPE] = 'W'
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND RL.PACKLIST_ID = SL.PACKLIST_ID
	AND RL.PACKLIST_LINE_NO = SL.LINE_NO
--	AND RL.AMOUNT != 0
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
LEFT OUTER JOIN DATAWAREHOUSE.dbo.TRACE_INV_TRANS T
	ON SL.TRANSACTION_ID = T.TRANSACTION_ID
WHERE RL.PACKLIST_ID IS NOT NULL
	AND S.SHIPPED_DATE >= @START
	AND COL.PART_ID IS NOT NULL
	AND SL.SHIPPED_QTY <> 0
	AND DSL.SUPPLY_BASE_ID IS NOT NULL
	AND COL.ORDER_QTY > 0
)
--SELECT * FROM CTE_LINKED WHERE CUST_ORDER_ID = '429280' --AND LINE_NO = '1'
--ORDER BY CUST_ORDER_ID, LINE_NO, INVOICE_ID

, CTE_UNLINKED as
(SELECT 'UNLINKED1' AS [ORDER_TYPE]
	, T.TRACE_ID
	, SL.TRANSACTION_ID
	, RL.INVOICE_ID
	, RL.LINE_NO AS INV_LINE
	, T.QTY * -1 AS TRACE_QTY
	, RL.PACKLIST_ID
	, S.SHIPPED_DATE
	, CO.CREATE_DATE AS CO_CREATE_DATE
	, COL.CUST_ORDER_ID
	, COL.LINE_NO AS COL_LINE
	, CO.CUSTOMER_ID
	, COL.PART_ID
	, COL.LINE_STATUS AS SHIP_SHORT
	, COL.ORDER_QTY AS COL_ORDER_QTY
	, COL.TOTAL_SHIPPED_QTY
	, RL.QTY AS REC_QTY
	, COL.UNIT_PRICE AS COL_UNIT_PRICE
	, RL.AMOUNT AS REC_AMOUNT
	, SL.SHIPPED_QTY
	, WO.[STATUS] AS WO_STATUS
	, WO.CREATE_DATE AS WO_CREATE_DATE
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY
	, WO.ACT_BURDEN_COST
	, WO.ACT_MATERIAL_COST
	, WO.ACT_LABOR_COST
	, WO.ACT_SERVICE_COST
FROM DATAWAREHOUSE.dbo.SHIPPER_LINE SL
INNER JOIN DATAWAREHOUSE.dbo.TRACE_INV_TRANS  T
	ON SL.TRANSACTION_ID = T.TRANSACTION_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND COL.PART_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND SL.PACKLIST_ID = RL.PACKLIST_ID 
	AND SL.LINE_NO = RL.PACKLIST_LINE_NO 
	AND RL.PACKLIST_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER S
	ON SL.PACKLIST_ID = S.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON (T.TRACE_ID = WO.BASE_ID + '/' + WO.LOT_ID)
	AND WO.DESIRED_QTY <> 0
	AND WO.SPLIT_ID = '0'
	AND WO.SUB_ID = '0'
	AND WO.[TYPE] = 'W'
	AND WO.[STATUS] = 'C'
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE S.SHIPPED_DATE >= @START
	AND SL.SHIPPED_QTY <> 0
	AND DSL.SUPPLY_BASE_ID IS NULL
	AND COL.ORDER_QTY > 0
----
UNION ALL
----
SELECT 'UNLINKED2' AS [ORDER_TYPE]
	, T.TRACE_ID
	, SL.TRANSACTION_ID
	, RL.INVOICE_ID
	, RL.LINE_NO AS INV_LINE
	, T.QTY * -1 AS TRACE_QTY
	, RL.PACKLIST_ID
	, S.SHIPPED_DATE
	, CO.CREATE_DATE AS CO_CREATE_DATE
	, COL.CUST_ORDER_ID
	, COL.LINE_NO AS COL_LINE
	, CO.CUSTOMER_ID
	, COL.PART_ID
	, COL.LINE_STATUS AS SHIP_SHORT
	, COL.ORDER_QTY AS COL_ORDER_QTY
	, COL.TOTAL_SHIPPED_QTY
	, RL.QTY AS REC_QTY
	, COL.UNIT_PRICE AS COL_UNIT_PRICE
	, RL.AMOUNT AS REC_AMOUNT
	, SL.SHIPPED_QTY
	, WO.[STATUS] AS WO_STATUS
	, WO.CREATE_DATE AS WO_CREATE_DATE
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY
	, WO.ACT_BURDEN_COST
	, WO.ACT_MATERIAL_COST
	, WO.ACT_LABOR_COST
	, WO.ACT_SERVICE_COST
FROM DATAWAREHOUSE.dbo.SHIPPER_LINE SL
INNER JOIN DATAWAREHOUSE.dbo.TRACE_INV_TRANS  T
	ON SL.TRANSACTION_ID = T.TRANSACTION_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND COL.PART_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND SL.PACKLIST_ID = RL.PACKLIST_ID 
	AND SL.LINE_NO = RL.PACKLIST_LINE_NO 
	AND RL.PACKLIST_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER S
	ON SL.PACKLIST_ID = S.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON (T.TRACE_ID = WO.BASE_ID + '/' + WO.LOT_ID + '/' + WO.SUB_ID)
	AND WO.DESIRED_QTY <> 0
	AND WO.SPLIT_ID = '0'
	AND WO.[TYPE] = 'W'
	AND WO.[STATUS] = 'C'
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE S.SHIPPED_DATE >= @START
	AND SL.SHIPPED_QTY <> 0
	AND DSL.SUPPLY_BASE_ID IS NULL
	AND COL.ORDER_QTY > 0
----
UNION ALL
----
SELECT 'UNLINKED3' AS [ORDER_TYPE]
	, T.TRACE_ID
	, SL.TRANSACTION_ID
	, RL.INVOICE_ID
	, RL.LINE_NO AS INV_LINE
	, T.QTY * -1 AS TRACE_QTY
	, RL.PACKLIST_ID
	, S.SHIPPED_DATE
	, CO.CREATE_DATE AS CO_CREATE_DATE
	, COL.CUST_ORDER_ID
	, COL.LINE_NO AS COL_LINE
	, CO.CUSTOMER_ID
	, COL.PART_ID
	, COL.LINE_STATUS AS SHIP_SHORT
	, COL.ORDER_QTY AS COL_ORDER_QTY
	, COL.TOTAL_SHIPPED_QTY
	, RL.QTY AS REC_QTY
	, COL.UNIT_PRICE AS COL_UNIT_PRICE
	, RL.AMOUNT AS REC_AMOUNT
	, SL.SHIPPED_QTY
	, WO.[STATUS] AS WO_STATUS
	, WO.CREATE_DATE AS WO_CREATE_DATE
	, WO.BASE_ID
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY
	, WO.ACT_BURDEN_COST
	, WO.ACT_MATERIAL_COST
	, WO.ACT_LABOR_COST
	, WO.ACT_SERVICE_COST
FROM DATAWAREHOUSE.dbo.SHIPPER_LINE SL
INNER JOIN DATAWAREHOUSE.dbo.TRACE_INV_TRANS  T
	ON SL.TRANSACTION_ID = T.TRANSACTION_ID
INNER JOIN DATAWAREHOUSE.dbo.CUST_ORDER_LINE COL
	ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND COL.PART_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
	AND SL.PACKLIST_ID = RL.PACKLIST_ID 
	AND SL.LINE_NO = RL.PACKLIST_LINE_NO 
	AND RL.PACKLIST_ID IS NOT NULL
INNER JOIN DATAWAREHOUSE.dbo.SHIPPER S
	ON SL.PACKLIST_ID = S.PACKLIST_ID 
INNER JOIN DATAWAREHOUSE.dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN DATAWAREHOUSE.dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
INNER JOIN DATAWAREHOUSE.dbo.WORK_ORDER WO
	ON (T.TRACE_ID = WO.BASE_ID + '/' + WO.LOT_ID + '.' + WO.SPLIT_ID)
	AND WO.DESIRED_QTY <> 0
	AND WO.SUB_ID = '0'
	AND WO.[TYPE] = 'W'
	AND WO.[STATUS] = 'C'
LEFT OUTER JOIN DATAWAREHOUSE.dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE S.SHIPPED_DATE >= @START
	AND SL.SHIPPED_QTY <> 0
	AND DSL.SUPPLY_BASE_ID IS NULL
	AND COL.ORDER_QTY > 0
)

, CTE_COMBINED AS
(SELECT * 
FROM CTE_LINKED
UNION ALL
SELECT * 
FROM CTE_UNLINKED 
)
--SELECT * FROM CTE_COMBINED WHERE CUST_ORDER_ID = '001550232'

, CTE_AMTRIB AS
(SELECT CUST_ORDER_ID
	, REPLACE(REPLACE(BASE_ID, 'A', ''), 'B', '') AS AMT_BASE_ID
	, SUM(REC_AMOUNT) AS AMT_REC_AMOUNT
	, SUM(ACT_BURDEN_COST) AS AMT_BURDEN_COST
	, SUM(ACT_MATERIAL_COST) AS AMT_MATERIAL_COST
	, SUM(ACT_LABOR_COST) AS AMT_LABOR_COST
	, SUM(ACT_SERVICE_COST) AS AMT_SERVICE_COST
FROM CTE_COMBINED
WHERE CUSTOMER_ID = 'AMTRIB'
GROUP BY CUST_ORDER_ID
	, REPLACE(REPLACE(BASE_ID, 'A', ''), 'B', '')
	, REC_QTY
	, SHIPPED_QTY
)
--SELECT * FROM CTE_AMTRIB WHERE CUST_ORDER_ID = '429280'

, CTE_MERGE AS
(SELECT CMB.ORDER_TYPE
	, UDF.STRING_VAL AS BUS_STREAM
	, CASE
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'FIN-HOURLY' THEN 'CMP-FIN'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'FIN' THEN 'CMP-FIN'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'MFG-HOURLY' THEN 'CMP-MFG'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'MFG' THEN 'CMP-MFG'
		ELSE UDF.STRING_VAL
	END AS BUS_UNIT
	, P.PLANNER_USER_ID
	, P.BUYER_USER_ID
	, B.Salesperson_ID
	, CMB.CO_CREATE_DATE
	, CMB.WO_CREATE_DATE
	, CMB.SHIPPED_DATE
	, CMB.CUSTOMER_ID
	, CMB.CUST_ORDER_ID
	, CMB.COL_LINE
	, CMB.BASE_ID
	, CMB.LOT_ID
	, CMB.SPLIT_ID
	, CMB.SUB_ID
	, CMB.WO_STATUS
	, CMB.PACKLIST_ID
	, CMB.TRANSACTION_ID
	, CMB.INVOICE_ID
	, CMB.INV_LINE
	, CMB.PART_ID
	, CMB.SHIP_SHORT
	, CMB.TRACE_ID

	, CMB.TOTAL_SHIPPED_QTY
	, CMB.COL_ORDER_QTY
	, CMB.DESIRED_QTY
	, CMB.TRACE_QTY
	, CMB.SHIPPED_QTY
	, CMB.REC_QTY

	, CMB.COL_UNIT_PRICE
	, CMB.REC_AMOUNT

	, CASE
		WHEN CMB.BASE_ID LIKE '%R%' THEN 0						--> REWORK
		WHEN CMB.INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN CMB.INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		WHEN CMB.COL_ORDER_QTY <= 0 THEN 0
		ELSE ISNULL(CTE01.UNIT_CHARGE_ALLOC, 0) * ISNULL(TRACE_QTY, SHIPPED_QTY)
	END AS TRACE_CHARGE_ALLOC

	, CASE 
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END AS TOTAL_INVOICE_AMOUNT

	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_INVOICE_AMOUNT

	, CASE 
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_INVOICE_AMOUNT

----> COSTS
	, CMB.ACT_BURDEN_COST AS TOTAL_BURDEN_COST
	, CMB.ACT_MATERIAL_COST AS TOTAL_MATERIAL_COST
	, CMB.ACT_LABOR_COST AS TOTAL_LABOR_COST
	, CMB.ACT_SERVICE_COST AS TOTAL_SERVICE_COST

	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_BURDEN_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_BURDEN_COST
	END / ISNULL(DESIRED_QTY, 1)) AS TRACE_BURDEN_COST
--	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_BURDEN_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_MATERIAL_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_MATERIAL_COST
	END / ISNULL(DESIRED_QTY, 1)) AS TRACE_MATERIAL_COST
--	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_MATERIAL_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_LABOR_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_LABOR_COST
	END / ISNULL(DESIRED_QTY, 1)) AS TRACE_LABOR_COST
--	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_LABOR_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_SERVICE_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_SERVICE_COST
	END / ISNULL(DESIRED_QTY, 1)) AS TRACE_SERVICE_COST
--	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_SERVICE_COST

	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_BURDEN_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_BURDEN_COST 
	END / ISNULL(DESIRED_QTY, 1) AS UNIT_BURDEN_COST
--	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_BURDEN_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_MATERIAL_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_MATERIAL_COST
	END / ISNULL(DESIRED_QTY, 1) AS UNIT_MATERIAL_COST
--	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_MATERIAL_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_LABOR_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_LABOR_COST
	END / ISNULL(DESIRED_QTY, 1) AS UNIT_LABOR_COST
--	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_LABOR_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_SERVICE_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_SERVICE_COST
	END / ISNULL(DESIRED_QTY, 1) AS UNIT_SERVICE_COST
--	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_SERVICE_COST

-->  audit purposes
	, CTE01.TOTAL_CHARGE
	, CTE01.PART_QTY
	, CTE01.UNIT_CHARGE_ALLOC
	, BOE.[PART NUMBER]
	, BOE.SUM_EXTENDED_DOLLARS
	, BOE.TOTAL_HOURS
	, AMT.AMT_BASE_ID
	, AMT.AMT_REC_AMOUNT
	, AMT.AMT_BURDEN_COST
	, AMT.AMT_MATERIAL_COST
	, AMT.AMT_LABOR_COST
	, AMT.AMT_SERVICE_COST
-->

FROM CTE_COMBINED CMB 
LEFT OUTER JOIN #BUS_UNIT UDF
	ON UDF.DOCUMENT_ID = CMB.CUSTOMER_ID
	AND UDF.PROGRAM_ID = 'VMCUSMNT'
	AND UDF.ID = 'UDF-0000072'
LEFT OUTER JOIN DATAWAREHOUSE.dbo.PART_SITE P
	ON P.PART_ID = CMB.PART_ID
LEFT OUTER JOIN LIVESupplemental.dbo.buyer_assn B
	ON LEFT(P.BUYER_USER_ID, 2) = B.Account_ID
LEFT OUTER JOIN CTE_CHGAMTS CTE01
	ON CMB.CUST_ORDER_ID = CTE01.CUST_ORDER_ID
LEFT OUTER JOIN CTE_BOE BOE
	ON BOE.ID = CMB.CUST_ORDER_ID
--	AND BOE.BASE_ID = CMB.BASE_ID
LEFT OUTER JOIN CTE_AMTRIB AMT
	ON AMT.CUST_ORDER_ID = CMB.CUST_ORDER_ID
	AND AMT.AMT_BASE_ID = CMB.BASE_ID
)
--SELECT * FROM CTE_MERGE WHERE CUST_ORDER_ID = '431574'

SELECT CASE
		WHEN CUSTOMER_ID = 'AMTRIB' THEN 'AMTRIB'
		WHEN CUSTOMER_ID = 'SPIAER' THEN 'SPIAER'
		WHEN INVOICE_ID LIKE '%DM' OR INVOICE_ID LIKE '%DM' THEN 'DM/CM'
		WHEN BASE_ID LIKE '%R%' THEN 'REWORK'
		WHEN TRACE_INVOICE_AMOUNT < 0 AND REC_QTY < 0 THEN 'RETURN'
		WHEN TRACE_INVOICE_AMOUNT < 0 AND REC_QTY > 0 THEN 'CREDIT'
		WHEN TRACE_INVOICE_AMOUNT = 0 AND TRACE_CHARGE_ALLOC > 0 THEN 'CHARGE'
--		WHEN REC_AMOUNT = 0 AND CHARGE_ALLOC = 0 AND MRG.[STATUS] = 'X' THEN 'CANCELLED'
		WHEN TRACE_INVOICE_AMOUNT > 0 THEN 'INVOICE'
		ELSE 'ISSUES'
	END AS REC_ISSUES
	, MRG.*

	, (TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) AS TRACE_PRICE
	, (TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) / ISNULL(TRACE_QTY, SHIPPED_QTY) AS INV_UNIT_PRICE

	, (COL_UNIT_PRICE - ((TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) / ISNULL(TRACE_QTY, SHIPPED_QTY))) AS UNITPRICE_DELTA

	, (TRACE_BURDEN_COST + TRACE_MATERIAL_COST + TRACE_LABOR_COST + TRACE_SERVICE_COST) AS TOTAL_TRACE_COST
	, (TRACE_BURDEN_COST + TRACE_MATERIAL_COST + TRACE_LABOR_COST + TRACE_SERVICE_COST) / ISNULL(TRACE_QTY, SHIPPED_QTY) AS TRACE_UNIT_COST

	, UNIT_BURDEN_COST + UNIT_MATERIAL_COST + UNIT_LABOR_COST + UNIT_SERVICE_COST AS TOTAL_UNIT_COST

--INTO DataWarehouse.dbo.GROSS_MARGIN
FROM CTE_MERGE MRG
--SELECT * FROM DataWarehouse.dbo.GROSS_MARGIN

--END