USE DATAWAREHOUSE
GO

DECLARE @START DATE = '4/1/2020'
, @END DATE = '4/8/2020'

SELECT ADP.[REPORTS TO NAME] AS SUPERVISOR
	, E.FIRST_NAME +' ' + E.LAST_NAME AS [NAME]
	, HOURS_WORKED AS HRS
	, LT.SHIFT_DATE AS SHIFT_DATE
	, LT.TRANSACTION_DATE AS TRANSACTION_DATE
	, LT.CLOCK_IN
	, LT.CLOCK_OUT
	, LT.GOOD_QTY AS LT_QTY
	, LT.SETUP_COMPLETED AS OP_COMPLETED
	, LT.[DESCRIPTION] AS LABOR_TICKET_COMMENT
	, WO.BASE_ID
	, WO.[STATUS]   
	, WO.LOT_ID
	, WO.SPLIT_ID
	, WO.SUB_ID
	, WO.DESIRED_QTY AS WO_QTY
	, LT.RESOURCE_ID
	, WO.PART_ID
	, P.[DESCRIPTION]
	, P.BUYER_USER_ID
	, P.PLANNER_USER_ID
	, P.COMMODITY_CODE
	, LT.TRANSACTION_ID
FROM LABOR_TICKET LT
LEFT OUTER JOIN WORK_ORDER WO
	ON WO.[TYPE] = LT.WORKORDER_TYPE
	AND WO.BASE_ID = LT.WORKORDER_BASE_ID
	AND WO.LOT_ID = LT.WORKORDER_LOT_ID
	AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
	AND WO.SUB_ID = LT.WORKORDER_SUB_ID
LEFT OUTER JOIN PART P
	ON P.ID = WO.PART_ID
LEFT OUTER JOIN EMPLOYEE E
	ON E.ID = LT.EMPLOYEE_ID
LEFT OUTER JOIN SHOP_RESOURCE SR
	ON LT.RESOURCE_ID = SR.ID
LEFT OUTER JOIN LIVESUPPLEMENTAL.dbo.ADP_EMP ADP
	ON CONVERT(NVARCHAR(15), RIGHT('0000' + LT.EMPLOYEE_ID, 6)) = ADP.[File Number]
	AND ADP.[REPORTS TO NAME] IN (@SUPERVISOR)
WHERE LT.WORKORDER_TYPE = 'W'
	AND LT.TRANSACTION_DATE >= @START
	AND LT.TRANSACTION_DATE <= @END
