-- VISUAL ENTERPRISE > LABOR REPORTS > LABOR_CLOSE_OP_COUNTS_AUB_NORTH

declare @caldate datetime = '3/11/2018'
;

WITH CTE_EE AS
(SELECT DISTINCT 
	LT.EMPLOYEE_ID
	, CONVERT(DATE, LT.TRANSACTION_DATE) AS TRANSDATE
	, E.FIRST_NAME
	, E.LAST_NAME 
	, E.SHIFT_ID
	, S.[DESCRIPTION]
	, ADP.[REPORTS TO]
	, ADP.[Job Title]
	, CASE 
		WHEN LEFT(LT.DEPARTMENT_ID,3) = '100' THEN 'AUB-SOUTH'
		WHEN LEFT(LT.DEPARTMENT_ID,3) = '300' THEN 'AUB-NORTH'
		WHEN LEFT(LT.DEPARTMENT_ID,3) = '400' THEN 'BALLARD'
	END AS [LOCATION]
	, LT.DEPARTMENT_ID
	, CASE 
		WHEN COUNT(LT.WORKORDER_BASE_ID) IS NULL THEN 0 
		ELSE COUNT(LT.WORKORDER_BASE_ID) 
	END AS CNTBASE
FROM LABOR_TICKET LT
INNER JOIN CALENDAR CAL
	ON CONVERT(DATE,LT.TRANSACTION_DATE) = CAL.CALENDARDATE
INNER JOIN EMPLOYEE E
	ON E.ID = LT.EMPLOYEE_ID
INNER JOIN SHIFT S
	ON E.SHIFT_ID = S.ID
LEFT OUTER JOIN LIVESUPPLEMENTAL.DBO.EMP_ADP ADP
	ON E.ID = ADP.EMPID
WHERE  CAL.CALENDARDATE BETWEEN 
		(SELECT FIRSTDATEOFWEEK  
		FROM CALENDAR 
		WHERE CALENDARDATE = @CALDATE)
		AND 
		(SELECT LASTDATEOFWEEK  
		FROM CALENDAR 
		WHERE CALENDARDATE = @CALDATE)
	AND LT.SETUP_COMPLETED = 'Y' 
	AND LT.TYPE ='R'
GROUP BY LT.EMPLOYEE_ID
	, CONVERT(DATE,LT.TRANSACTION_DATE)
	, E.FIRST_NAME
	, E.LAST_NAME
	, E.SHIFT_ID
	, LT.DEPARTMENT_ID
	, S.[DESCRIPTION]
	, ADP.[REPORTS TO]
	, ADP.[Job Title]

), 

CTE_DATE AS
(SELECT CAL.CALENDARDATE
	, CAL.FIRSTDATEOFWEEK
	, CAL.LASTDATEOFWEEK 
FROM CALENDAR CAL
WHERE CAL.CALENDARDATE BETWEEN 
	(SELECT FIRSTDATEOFWEEK  
	FROM CALENDAR 
	WHERE CALENDARDATE = @CALDATE)
	AND 
	(SELECT LASTDATEOFWEEK  
	FROM CALENDAR 
	WHERE CALENDARDATE = @CALDATE)
), 

CTE_BASE AS
(SELECT DISTINCT 
	C.CALENDARDATE
	, C.FIRSTDATEOFWEEK
	, C.LASTDATEOFWEEK 
	, E.EMPLOYEE_ID
	, E.FIRST_NAME
	, E.LAST_NAME
	, E.SHIFT_ID
	, E.[LOCATION]
	, E.DEPARTMENT_ID
	, E.[DESCRIPTION]
	, E.[REPORTS TO]
	, E.[Job Title]
	, E.[LOCATION]
FROM CTE_DATE C
	CROSS JOIN CTE_EE E
)

SELECT 1 AS SORT
	, ECD.EMPLOYEE_ID
	, ECD.CALENDARDATE
	, ECD.FIRST_NAME
	, ECD.LAST_NAME 
	, ECD.SHIFT_ID
	, ECD.[DESCRIPTION]
	, ECD.[REPORTS TO]
	, ECD.[Job Title]
	, ECD.[LOCATION]
	, ECD.DEPARTMENT_ID
	, CASE 
		WHEN MIN(EP.CNTBASE) IS NULL THEN 0 
		ELSE MIN(EP.CNTBASE)
	END AS CNTBASE
FROM CTE_BASE ECD
LEFT OUTER JOIN CTE_EE EP
	ON ECD.CALENDARDATE = EP.TRANSDATE
	AND ECD.EMPLOYEE_ID = EP.EMPLOYEE_ID
GROUP BY ECD.EMPLOYEE_ID
	, ECD.CALENDARDATE
	, ECD.FIRST_NAME
	, ECD.LAST_NAME 
	, ECD.SHIFT_ID
	, ECD.[LOCATION]
	, ECD.DEPARTMENT_ID
	, ECD.[DESCRIPTION]
	, ECD.[REPORTS TO]
	, ECD.[Job Title]

UNION ALL

SELECT 2 SORT
	, A.EMPLOYEE_ID
	, NULL AS CALENDARDATE
	, A.FIRST_NAME
	, A.LAST_NAME 
	, A.SHIFT_ID
	, A.[LOCATION]
	, A.DEPARTMENT_ID
	, A.[DESCRIPTION]
	, A.[REPORTS TO]
	, A.[Job Title]
	, CASE 
		WHEN A.SHIFT_ID IN ('01', '02', '03') THEN 
			CASE 
				WHEN CAST(SUM(A.CNTBASE) AS DECIMAL(10,3)) IS NULL THEN 0
				ELSE CAST(SUM(A.CNTBASE) AS DECIMAL(10,3))/5 
			END
		WHEN A.SHIFT_ID IN ('04','08') THEN 
			CASE 
				WHEN CAST(SUM(A.CNTBASE) AS DECIMAL(10,3)) IS NULL THEN 0
				ELSE CAST(SUM(A.CNTBASE) AS DECIMAL(10,3))/3 
			END
		WHEN A.SHIFT_ID IN ('05','06','07') THEN
			CASE 
				WHEN CAST(SUM(A.CNTBASE) AS DECIMAL(10,3)) IS NULL   THEN 0
				ELSE CAST(SUM(A.CNTBASE) AS DECIMAL(10,3))/4 
			END
		END AS CNTBASE
FROM 
	(SELECT ECD.EMPLOYEE_ID
		, ECD.CALENDARDATE
		, ECD.FIRST_NAME
		, ECD.LAST_NAME 
		, ECD.SHIFT_ID
		, ECD.[LOCATION]
		, ECD.DEPARTMENT_ID
		, ECD.[DESCRIPTION]
		, ECD.[REPORTS TO]
		, ECD.[Job Title]
		, CASE 
			WHEN MIN(EP.CNTBASE) IS NULL THEN 0 
			ELSE MIN(EP.CNTBASE)
		END AS CNTBASE
	FROM CTE_BASE ECD
		LEFT OUTER JOIN CTE_EE EP
			ON ECD.CALENDARDATE = EP.TRANSDATE
			AND ECD.EMPLOYEE_ID  = EP.EMPLOYEE_ID
	GROUP BY ECD.EMPLOYEE_ID
		, ECD.CALENDARDATE 
		, ECD.FIRST_NAME
		, ECD.LAST_NAME 
		, ECD.SHIFT_ID
		, ECD.[DESCRIPTION]
		, ECD.[REPORTS TO]
		, ECD.[Job Title]
		, ECD.DEPARTMENT_ID
		, ECD.[LOCATION]
	) AS A
GROUP BY  A.EMPLOYEE_ID
	, A.FIRST_NAME
	, A.LAST_NAME 
	, A.SHIFT_ID
	, E.[LOCATION]
	, a.DEPARTMENT_ID
	, A.[DESCRIPTION]
	, A.[REPORTS TO]
	, A.[Job Title]
	, A.[LOCATION]
