SELECT 
	CO.CUSTOMER_ID,
	COL.PART_ID,
	UDF.STRING_VAL,
	CASE 
		WHEN COL.PART_ID iS not null THEN COL.PART_ID 
		WHEN COL.MISC_REFERENCE LIKE ('NR%')
			OR COL.MISC_REFERENCE LIKE ('%Non%')
			OR COL.MISC_REFERENCE LIKE ('Tool%')
			OR COL.MISC_REFERENCE LIKE ('Program%')
			OR COL.MISC_REFERENCE LIKE ('Set%')
			OR COL.MISC_REFERENCE LIKE ('COST%')  THEN 'NRE '
		WHEN COL.MISC_REFERENCE LIKE 'Exp%'  THEN 'Expedite' 
		ELSE 'UNKNOWN'
	END AS PART_ID2,
	COL.MISC_REFERENCE,
	CO.STATUS,
	COL.ORDER_QTY,
	CASE 
		WHEN COL.DESIRED_SHIP_DATE iS not null  THEN COL.DESIRED_SHIP_DATE 
		ELSE CO.DESIRED_SHIP_DATE 
	END AS DUE_DATE,
	COL.DESIRED_SHIP_DATE,
	COL.ORDER_QTY - COL.TOTAL_SHIPPED_QTY AS OPEN_QTY,
	COL.TOTAL_SHIPPED_QTY,
	COL.LINE_STATUS,
	CO.DESIRED_SHIP_DATE co_desired_ship_date,
	COL.CUST_ORDER_ID,
	P.BUYER_USER_ID,
	CASE 
		WHEN Account_Holder IS NULL THEN '_blank' 
		ELSE Account_Holder
	END AS BUYER, 
	COL.USER_10,
	CO.ORDER_DATE,
	CO.CUSTOMER_PO_REF,
	CA.CITY + ', '+ CA.STATE AS CITY_STATE,
	CA.COUNTRY,
	CASE 
		WHEN ADDR_2 LIKE '%HOLD%'  THEN 'HOLD'
		WHEN CITY LIKE '%HOLD%'  THEN 'HOLD' 
		WHEN CA.STATE IS NULL AND ca.country <> 'USA'  THEN CA.country
		ELSE CA.STATE             
	END AS SHIP_TO,
	COL.CUST_ORDER_ID +'/'+CONVERT(VARCHAR(3),COL.LINE_NO) AS CO_LINE,
	CASE 
		WHEN COL.USER_2 iS not null THEN right(COL.USER_2,3)  
	END AS LINE_UDF2,
	CO.CUSTOMER_PO_REF +'_' +  CASE 
		WHEN COL.USER_2 iS not null THEN COL.USER_2
	END AS PO_LINE,  
	COL.USER_2,
	P.PLANNER_USER_ID,
	COL.PROMISE_DATE
FROM 
	CUSTOMER_ORDER CO
LEFT OUTER JOIN 
	CUST_ORDER_LINE COL
	ON CO.ID = COL.CUST_ORDER_ID
LEFT OUTER JOIN 
	CUST_ADDRESS CA
	ON CO.CUSTOMER_ID = CA.CUSTOMER_ID
	AND CO.SHIP_TO_ADDR_NO = CA.ADDR_NO
LEFT OUTER JOIN 
	PART P
	ON COL.PART_ID = P.ID
inner JOIN 
	USER_DEF_FIELDS AS UDF 
	ON P.ID = UDF.DOCUMENT_ID
	and UDF.ID = 'UDF-0000035' 
	AND UDF.STRING_VAL LIKE '%titan%'
LEFT OUTER JOIN 
	LIVESUPPLEMENTAL.DBO.buyer_assignments ba
	on ACCOUNT = LEFT(p.buyer_user_ID,2)
WHERE 
	COL.LINE_STATUS <> 'C'
	AND COL.DESIRED_SHIP_DATE IS NOT NULL
	AND CO.STATUS not in ('C', 'X')
	AND COL.ORDER_QTY - COL.TOTAL_SHIPPED_QTY > 0
	AND P.PLANNER_USER_ID IN ('MRP','NEW','PLAN')
--	AND P.PLANNER_USER_ID IN ('619M','MRP','NEW','PLAN','TTO')
	--and CASE 
	--	WHEN Account_Holder IS NULL THEN '_blank' 
	--	ELSE Account_Holder
	--END in (@buyer)
ORDER BY 
	COL.DESIRED_SHIP_DATE