use DataWarehouse
go

SELECT 
	p.ID
	, p.[DESCRIPTION]
	, p.PLANNER_USER_ID
	, max(wo1.create_date)
FROM PART p
	INNER JOIN WORK_ORDER wo1
		ON p.ID = wo1.PART_ID
		AND WO1.[TYPE] = 'W'
		AND wo1.[STATUS] <> 'X'
	LEFT OUTER JOIN WORK_ORDER wo
		ON p.ID = wo.PART_ID
		AND WO.[TYPE] = 'M'
WHERE P.FABRICATED = 'Y'
	AND (P.ID NOT LIKE '%REWORK%' AND p.ID <> 'TEST')
	AND p.PLANNER_USER_ID not in ('NA', 'TOOLING', '609F')
	AND wo.BASE_ID IS NULL
GROUP BY ID
       , p.[DESCRIPTION]
       , p.PLANNER_USER_ID
HAVING max(wo1.create_date) > '1/1/2017'


--SELECT * FROM WORK_ORDER WHERE PART_ID = '472W1157-2'
