USE LIVE
GO

WITH CTE_EE AS
(SELECT 
	CASE
		WHEN LEFT(A.[DEPT CODE], 3) = '600' THEN ''
		WHEN A.[STATUS] = 'Terminated' AND EE.ID IS NULL THEN ''
		WHEN A.[STATUS] = 'Active' AND EE.ID IS NULL THEN 'NOT IN VISUAL; '
		WHEN A.[FILE#] IS NULL AND EE.ACTIVE =  'Y' THEN 'NOT IN ADP; '
		WHEN A.[STATUS] = 'Active' AND EE.ACTIVE = 'N' THEN 'ACTIVE IN ADP, NOT VISUAL; '
		WHEN A.[STATUS] = 'Terminated' AND EE.ACTIVE = 'Y' THEN 'ACTIVE IN VISUAL, NOT ADP; '
		WHEN A.[STATUS] = 'Active' AND EE.ACTIVE = 'Y' THEN
			CASE --> LAST NAME CHECK
				WHEN A.[LAST NAME] <> EE.LAST_NAME THEN 'LNAME CHECK; '
				ELSE ''
			END + CASE --> FIRST NAME CHECK
				WHEN A.[PREFERRED NAME] <> '' AND A.[PREFERRED NAME] = EE.FIRST_NAME THEN ''
				WHEN A.[FIRST NAME] = EE.FIRST_NAME THEN ''
				ELSE 'PREF FNAME CHECK; '
			END + CASE --> DEPT CHECK
				WHEN A.[DEPT CODE] <> EE.DEPARTMENT_ID THEN 'DEPT CODE CHECK; '
				ELSE ''
			END + CASE --> SUPERVISOR CHECK
				WHEN (A.[REPORTS TO] IS NULL AND A.[JOB TITLE] NOT LIKE 'CEO') THEN 'NO SUPERVISOR IN ADP; '
				ELSE ''
			END + CASE --> BASE RATE CHECK
				WHEN (LR.STARTDATEOFRATE < GETDATE() AND LR.ENDDATEOFRATE > GETDATE() AND ES.BASE_PAY_RATE <> LR.BASE_PAY_RATE) THEN 'BASE RATE CHECK; '
				ELSE ''
			END + CASE --> SHIFT CHECK
				WHEN ISNUMERIC(EE.SHIFT_ID) = 1 AND CONVERT(INT, EE.SHIFT_ID) = CONVERT(INT, LEFT(A.[SHIFT CODE], 1)) THEN ''
				ELSE 'SHIFT CHECK'
			END
		ELSE ''
	END AS ISSUES
	, A.[FILE#] AS ADP_EMPID 
	, EE.ID AS VISUAL_EMPID 
	, A.[LAST NAME] AS ADP_LNAME
	, EE.LAST_NAME AS VISUAL_LNAME
	, A.[FIRST NAME] AS ADP_FNAME
	, A.[PREFERRED NAME] AS ADP_PREFNAME
	, EE.FIRST_NAME AS VISUAL_FNAME
	, A.[JOB TITLE] AS ADP_JOBTITLE
	, A.[DEPT CODE] AS ADP_DEPT
	, EE.DEPARTMENT_ID AS VISUAL_DEPT
	, A.[Shift Code] AS ADP_SHIFT
	, EE.SHIFT_ID AS VISUAL_SHIFT
	, ES.BASE_PAY_RATE AS VISUAL_BASERATE
	, A.[STATUS] AS ADP_STATUS
	, EE.ACTIVE AS VISUAL_STATUS
	, A.[REPORTS TO] AS ADP_REPORTSTO
FROM LIVESupplemental.dbo.ADP_Import A
	LEFT OUTER JOIN DEPARTMENT D
		ON A.[DEPT CODE] =  D.ID
	LEFT OUTER JOIN EMPLOYEE EE
		ON dbo.fnNumPadleft(EE.ID, 6) = A.[FILE#]
	LEFT OUTER JOIN EMPLOYEE_SITE ES
		ON EE.ID = ES.EMPLOYEE_ID
		AND ES.SITE_ID = 'SK01'
	LEFT OUTER JOIN [SHIFT] S
		ON S.ID = EE.SHIFT_ID 
	LEFT OUTER JOIN LIVESupplemental.dbo.LABOR_RATES LR
		ON D.ID = LR.DEPARTMENT_ID
WHERE
	EMPLOYEE_ID NOT IN ('0104', '0148', '3737')
)

SELECT * FROM CTE_EE WHERE ISSUES <> ''

select * FROM LIVESupplemental.dbo.ADP_Import A where FILE# in ('001422', '001502', '001648', '001714', '001724', '001884', '001924', '001936', '001955', '002071', '002226', '002316', '002390', '002467', '002495', '002496', '002589', '002638', '002647', '002656', '002657', '002668', '002679', '002690', '002705', '002734', '002735', '002736', '002749', '002750', '002779', '002797', '002798', '002807', '002808', '002813', '002814', '002833', '002861', '002897', '002898', '002918', '002957', '002970', '003014', '003017', '003031', '003032', '003053', '003106', '003113', '003126', '003181', '003195', '003201', '003209', '003226', '003306', '003307', '003428', '003429', '003469', '003470', '003475', '003507', '003520', '003536', '003540', '003565')
select id from EMPLOYEE