
SELECT [NCM_ID]
, [STATUS]
, [CLOSED_DATE]
, [DISP_CLOSED_DATE]
, [VERIFY_DATE]
, [VERIFY_DUE_DATE] as [Destruction Date]
, [VERIFY_BY_REC_ID]
, [VERIFY_STATUS]
 FROM [IQM_Baseline_App].[dbo].[VQ_NONCONFORMANCE]
  where STATUS = 'Open' and VERIFY_STATUS = 'Closed' and VERIFY_DUE_DATE is not null

/* If the tag is closed and parts destroyed, set the status to closed
   We use VERIFY_DUE_DATE to store the destruction date and time. 
UPDATE [IQM_Baseline_App].[dbo].[VQ_NONCONFORMANCE]
SET CLOSED_DATE = DISP_CLOSED_DATE
, [STATUS] = 'Closed'
, VERIFY_DATE = DISP_CLOSED_DATE
, VERIFY_BY_REC_ID = '1155'
where STATUS = 'Open' and VERIFY_STATUS = 'Closed' and VERIFY_DUE_DATE is not null

*/