DECLARE @Backdate DATE = GETDATE() - 365
DECLARE @NowDate DATE = GETDATE()

;WITH 
cte_all_parts
AS (
SELECT 
	w.[type] AS workorder_type
	, w.base_id AS workorder_base_id
	, w.lot_id AS workorder_lot_id
	, w.split_id AS workorder_split_id
	, w.sub_id AS workorder_sub_id
	, w.part_id
	, p.description
	, w.DESIRED_WANT_DATE
	, w.DESIRED_QTY
	, w.STATUS
	, CASE 
		WHEN p.commodity_code IS NULL THEN 'Missing C-ORDER'
		ELSE 'Aub-South'  
	END AS wCust_ID
	, 'No' AS IsCoProduct
FROM    work_order AS w
        INNER JOIN part AS p
        ON p.id = w.part_id
WHERE   
	w.[type] = 'W'
	AND w.[status] <> 'X' AND w.[STATUS] <> 'C'
	AND p.ID NOT LIKE 'AIRBUS%'
	AND p.PLANNER_USER_ID not IN ('MRP', 'PLAN', 'NEW', 'TTO', 'TOOLING', '605M', '609M', '619M')
)

, CTE_wo as 
(
SELECT 
	w.[status]
	, workorder_type
	, workorder_base_id as workorder_base_id
	, workorder_lot_id as workorder_lot_id
	, workorder_split_id as workorder_split_id
	, workorder_sub_id as workorder_sub_id
	, part_id
	, desired_want_date
	, desired_qty
	, dbo.sfn_current_operation('W',workorder_base_id, workorder_lot_id, workorder_split_id, workorder_sub_id) AS Curr_Op
	, isnull(dbo.sfn_remaining_operations('W',workorder_base_id, workorder_lot_id, workorder_split_id, workorder_sub_id), 'No remaining Operations') AS remaining_ops
	, w.[DESCRIPTION]
	, w.wCust_ID
	, IsCoProduct
FROM cte_all_parts w
WHERE w.[STATUS] <> 'C'
) 

SELECT
	a.[status]
	, a.workorder_type
	, a.workorder_base_id AS job
	, a.workorder_lot_id
	, a.workorder_split_id
	, a.workorder_sub_id
	, IsCoProduct
	, cust_order_id
	, line_no
	, cust_id
	, customer_po_ref
	, a.part_id
	, cntbefore
	, CASE
		WHEN cntbefore > 0 THEN 'No'
		ELSE 'Yes'
	END AS is_first_time
	, order_qty
	, create_date
	, due_date
	, flowdays
	, curr_op	
	, a.Resource_ID
	, a.OPERATION_TYPE
	, remaining_ops 
	, EX as Expedite
FROM
	(SELECT
		w.workorder_type
		, w.workorder_base_id
		, w.workorder_lot_id
		, w.workorder_split_id
		, w.workorder_sub_id
		, w.[status]
		, cl.cust_order_id
		, cl.line_no
		, ISNULL(c.id , w.wCust_ID) AS cust_id
		, co.customer_po_ref
		, co.create_date
		, w.part_id
		, ra.location
		, CONVERT(INT, ISNULL(cl.order_qty, w.desired_qty)) AS order_qty
		, w.description
		, ISNULL(ISNULL(cl.desired_ship_date, co.desired_ship_date), w.desired_want_date) AS  due_date
		, dbo.fn_WorkDays(isnull(co.create_date, @NowDate), coalesce(CL.DESIRED_SHIP_DATE, CO.DESIRED_SHIP_DATE, W.DESIRED_WANT_DATE)) as flowdays
		, CASE 
			WHEN cl.SERVICE_CHARGE_ID = 'EX' THEN 'Y'
			ELSE 'N'
		END AS EX
		, isnull(convert(varchar(15), w.curr_op), 'No current operations') as curr_op
		, ra.Resource_ID
		, o.OPERATION_TYPE
		, remaining_ops
		,(SELECT COUNT(1) 
		FROM cte_all_parts x
		WHERE w.part_id = x.part_id
			AND x.workorder_base_id <> w.workorder_base_id
			AND x.workorder_type = 'W'
			AND x.[STATUS] <> 'X'
		) AS cntbefore
		, IsCoProduct
	FROM   cte_WO AS w
		LEFT OUTER JOIN(demand_supply_link AS dsl
			INNER JOIN cust_order_line AS cl
				ON dsl.demand_base_id = cl.cust_order_id
					AND cl.line_no = dsl.demand_seq_no
			INNER JOIN customer_order AS co
				ON cl.cust_order_id = co.id
			INNER JOIN customer AS c
				ON co.customer_id = c.id
				)
			ON w.workorder_base_id = dsl.supply_base_id
				AND w.workorder_lot_id = dsl.supply_lot_id
				AND w.workorder_split_id = dsl.supply_split_id
				AND w.workorder_sub_id = dsl.supply_sub_id
				AND dsl.demand_type = 'CO'
				AND dsl.supply_type = 'WO'
		inner join OPERATION o
			on o.workorder_type = w.workorder_type
				and o.workorder_base_id = w.workorder_base_id
				and o.workorder_lot_id = w.workorder_lot_id
				and o.workorder_split_id = w.workorder_split_id
				and o.workorder_sub_id = w.workorder_sub_id
				AND isnull(w.Curr_Op, 0) = o.sequence_no
		inner join LIVESupplemental.dbo.resourceid_assignments ra
			on o.RESOURCE_ID = ra.Resource_ID
				AND ra.location = 'Auburn North'
				AND (ra.SKILLS_TYPE = 'A' OR ra.SKILLS_TYPE = 'M')
	WHERE  COALESCE(cl.desired_ship_date, co.desired_ship_date, w.desired_want_date) > @Backdate
		AND isnull(w.Curr_Op, 0) = o.sequence_no
		and ra.location = 'Auburn North'
	) as a     
WHERE (a.cust_id is not null and a.cust_ID not in ('BOE609', 'TRIFAB'))
GROUP BY
	a.status
	, a.workorder_type
	, a.workorder_base_id
	, a.workorder_lot_id
	, a.workorder_split_id
	, a.workorder_sub_id
	, cust_order_id
	, line_no
	, cust_id
	, customer_po_ref
	, a.part_id
	, order_qty
	, create_date
	, due_date
	, flowdays
	, curr_op
	, a.Resource_ID
	, a.OPERATION_TYPE
	, remaining_ops
	, cntbefore
	, IsCoProduct
	, EX