SELECT ADP.[Reports To] AS SUPERVISOR
	, EMPLOYEE_ID 
	, EE.FIRST_NAME + ' ' + EE.LAST_NAME AS [NAME]
	, EE.SHIFT_ID
	, TRANSACTION_DATE AS [trans_Date]
	, WORKORDER_BASE_ID AS Base_ID
	, WORKORDER_LOT_ID AS Lot_ID
	, WORKORDER_SPLIT_ID AS Split_ID
	, WORKORDER_SUB_ID AS Sub_ID
	, OPERATION_SEQ_NO AS Seq_No
	, ISNULL(SR.USER_2, 'part mark') as [Group]
	, RESOURCE_ID AS Resource_ID
	, HOURS_WORKED AS [Hours]
	, PPD.RejectTag AS TAG
	, PPD.DefectNC AS NC
	, PPD.SubProcessNC AS PAINT
	, PPD.WoQty
	, PPD.RejectedQTY
	, PPD.IntDate AS [TAG DATE]
	, PPD.Operation
FROM LABOR_TICKET LT
INNER JOIN EMPLOYEE EE
	ON LT.EMPLOYEE_ID = EE.ID
INNER JOIN [SHIFT] S
	ON EE.SHIFT_ID = S.ID
INNER JOIN SHOP_RESOURCE SR
	ON LT.RESOURCE_ID = SR.ID
inner JOIN tblNonconformances PPD
--LEFT OUTER JOIN tblNonconformances PPD
	ON LT.WORKORDER_BASE_ID = PPD.WorkOrder
	AND LT.WORKORDER_LOT_ID = PPD.Lot
	AND LT.WORKORDER_SPLIT_ID = PPD.Split
	AND LT.WORKORDER_SUB_ID = PPD.Sub
	AND LT.OPERATION_SEQ_NO = PPD.Opp
INNER JOIN LIVESupplemental.dbo.emp_ADP ADP
	ON LT.EMPLOYEE_ID = ADP.empID
WHERE TRANSACTION_DATE >= '8/1/2018'
	AND TRANSACTION_DATE <= GETDATE()
	AND ADP.[Reports To] ='Hassman, Shane'
	AND LT.WORKORDER_BASE_ID IS NOT NULL

