declare @StartDate datetime = '1/1/2017', 
 @EndDate datetime = '5/1/2017'

select 
base_id, 
lot_id, 
split_id, 
sub_id, 
wo.part_id,
DESIRED_WANT_DATE, 
wo.status,
--ra.location, 
--ra.ppd_process,
o.SEQUENCE_NO,
o.status,
lt.OPERATION_SEQ_NO, 
lt.RESOURCE_ID,
lt.EMPLOYEE_ID, 
--FIRST_NAME, 
--last_name, 
lt.HOURS_WORKED,
lt.CLOCK_IN,
lt.CLOCK_OUT,
wo.ACT_MATERIAL_COST,
wo.ACT_SERVICE_COST,
lt.ACT_LABOR_COST,
lt.ACT_BURDEN_COST,
wo.DESIRED_QTY,
lt.GOOD_QTY
from work_order wo
left outer join operation o
    on  o.workorder_base_id = wo.base_id
    and o.workorder_lot_id = wo.lot_id
    and o.workorder_split_id = wo.split_id
    and o.workorder_sub_id = wo.sub_id
    and wo.[type] = 'W'
--	and wo.STATUS = 'C'
left outer join 
    labor_ticket lt
    on  lt.workorder_base_id = wo.base_id
    and lt.workorder_lot_id = wo.lot_id
    and lt.workorder_split_id = wo.split_id
    and lt.workorder_sub_id = wo.sub_id
    and wo.[type] = 'W'
	and o.SEQUENCE_NO = lt.OPERATION_SEQ_NO
left outer join 
    livesupplemental.dbo.ResourceID_Assignments ra
    on  lt.resource_ID = ra.resource_ID 
left outer join 
    employee ee
    on ee.id = lt.EMPLOYEE_ID
where 
    (wo.part_id like '%rework%' or wo.base_id like '%R%')
    and wo.create_date >= @StartDate
    and wo.create_date <= @EndDate
--	and base_id = '1373706'
--	and lt.transaction_id is null
	and wo.DESIRED_QTY < lt.GOOD_QTY
	and wo.status in ('R', 'C')
order by 
    base_id, 
    lot_id, 
    split_id, 
    sub_id, 
--    ra.location, 
    lt.OPERATION_SEQ_NO

/*
select * from WO_CURRENTLY_AT where WORKORDER_BASE_ID = '1373706'
select * from WO_CURRENTLY_AT_Pre where WORKORDER_BASE_ID like '137370%'

select * from operation where sequence_no = '40' and workorder_base_id = '1373706'
select * from labor_ticket where operation_seq_no = '40' and workorder_base_id = '1373706'
*/