SELECT * FROM [APPLICATION] --program_id, menu_string
SELECT * FROM [APPLICATION_LINK] --program_id, group_id, accelerator???
SELECT * FROM [LOGINS] --user_id, program_id
SELECT * FROM [PROGRAM_NAME] --user_id, menu_id, program_id, menu_text
SELECT * FROM [USER_PGM_AUTHORITY] --
SELECT * FROM [APPLICATION_USER] --user_id, 
SELECT * FROM [USER_PROFILE] --user_id, profile_id


/*
SELECT * FROM   
(SELECT P.[USER_ID]
	, [PROGRAM_ID]
	, CASE
		WHEN [PROFILE_STRING] IS NOT NULL THEN [PROFILE_STRING]
		ELSE [PERMISSION]
	END AS [CHOICE]
	, CASE
		WHEN EE.[USER_ID] IS NULL THEN 'N'
		ELSE 'Y'
		END AS EE
--	, [PROFILE_STRING]
FROM [LIVE].[dbo].[USER_PGM_AUTHORITY] P
LEFT OUTER JOIN EMPLOYEE EE
ON EE.[USER_ID] = P.[USER_ID]
WHERE PERMISSION != 'N'
) X
PIVOT(MAX([CHOICE])
FOR [PROGRAM_ID] IN (
VMAENMNT
, VFGLAWIN
, VMACTENT
, VMACTMNT
, VMALCUTL
, VFAPLGLB
, VMAPLGLB
, VMAUDMNT
, VFBNKMNT
, VMBOMRPT
, VFGLBMNT
, VQCAPRPT
, VFARCENT
, VFCASHBK
, VFCSHWIN
, VMCODMNT
, VFARCLCT
, VMCSNRCV
, VMCSNUSG
, VFCONSOL
, VMCONMNT
, VMCSTSIM
, VMCSTBOM
, VMAPLTLS
, VMAPLUTL
, VCCURMNT
, VMCBORPT
, VMCBKRPT
, VMCUSGRP
, VMCUSINQ
, VMCUSMNT
, VMORDENT
, VMCSJRPT
, VMDBOARD
, VMDOCMNT
, VMECNENT
, VMECNHST
, VMEMPMNT
, VMENGRPT
, VMESTWIN
, VMCHKIDX
, VMCHKTRG
, VFGLTENT
, VFSCPGEN
, VMGLBSCH
, VMPFTRPT
, VMIBTENT
, VMIBTRCV
, VMIBTSHP
, VMINVOUT
, VMINVENT
, VMPIVRPT
, VFAPIENT
, VFARIENT
, VMINVGEN
, VMBTSLP
, VMLABENT
, VQTEST
, VMMFGWIN
, VMPLNWIN
, VTMATTRC
, VMNTFMNT
, VMSRVDIS
, VMSRVMNT
, VMSRVPLN
, VMSRVENT
, VMPRTMNT
, VTTRCMNT
, VTTRPMNT
, VFAPVINQ
, VFAPCENT
, VFAPSCHD
, VMPHYINV
, VFMFGJRN
, VMPRFMNT
, VMSCHRPT
, VMPBCENT
, VMPURWIN
, VMPURENT
, VMRCVENT
, VMREQENT
, VQAPLGLB
, VFARCINQ
, VMRCVINS
, VMRCVRPT
, VFRPTWIN
, VMDLAYRP
, VMRMAENT
, VFREVALU
, VMREVRPT
, VMQRYRUN
, VMCSRRPT
, VMTAXMNT
, VMSCHWIN
, VMSHPENT
, VMSDSRPT
, VMRESMNT
, VMSUPPFM
, VMTSKMNT
, VQDEFINE
, VMTHRWIN
, VMUMTMNT
, VMRUTRPT
, VMVNDGRP
, VMVNDINQ
, VMVNDMNT
, VMRFQENT
, VMMSGMNT
, VMQUERY
, VFDICSH
, VMDIXCHG
, VMDIGEN
, VMWHSMNT
, VMWIPRPT
, VQWOINP
, VMWRQRPT
, VMTRVRPT
, VMWRKCST
, VMWRKFLO
, VMWRKTRK)
) AS PIVOT_TABLE;
*/