/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [OP_TYPE]
      ,[PRINT_]
      ,[DESCRIPTION]
      ,[ROWID]
      ,[CUST_FILTER_APPLIED]
  FROM [LIVE].[dbo].[SKILLS_CERT_DESC]
  where op_type = 'f21.17'

/*
update [dbo].[SKILLS_CERT_DESC]
set [description] = 'F-21.17; BAC5845 per substitution document 65-88700; USE BMS10-60Y, Type I, Color 702'
where op_type = 'F21.17'

update [dbo].[SKILLS_CERT_DESC]
set [description] = 'F-21.17; BMS10-11AC, Type II, color BAC702; BAC5736Y-PSDs 6-198'
where op_type = 'F21.17'


*/