/****** Script for SelectTopNRows command from SSMS  ******/
SELECT EE.ACTIVE, T.*
  FROM [LIVE].[dbo].[TASK] T
  LEFT OUTER JOIN EMPLOYEE EE
  ON T.USER_ID = EE.USER_ID
  WHERE [STATUS] NOT IN ('C', 'X')
  AND T.[TYPE] != 'REQ'
--  AND USER_ID = 'CIANNAP'