
--must be on lab-1
SELECT TOP (1000) [ROWID]
      ,[Customer_ID]
      ,[EMAIL]
  FROM [LIVESupplemental].[dbo].[Truck_Manifest_Email]
--  where customer_id = 'aerman'

  /*
  update [LIVESupplemental].[dbo].[Truck_Manifest_Email]
  set email = 'BrianH@skillsinc.com, Sunni@skillsinc.com, kchupa@amtnw.com, achase@amtnw.com'
  where customer_id in ('AMTRIB', 'AERMAN')
  */