SELECT *
  FROM [LIVE].[dbo].[PURC_REQUISITION]
  where id = '6379'

/*
  update [PURC_REQUISITION]
  set assigned_to = 'TRACEY'
  where id = '6379'
  and assigned_to = 'TRACY'

*/
SELECT *
  FROM [LIVE].[dbo].[TASK]
  WHERE USER_ID = 'TRACY'

  /*
  UPDATE TASK
  SET USER_ID = 'TRACEY'
  WHERE USER_ID = 'TRACY'
  AND TASK_NO = 6134
  */