USE [Datamart]
GO
/****** Object:  StoredProcedure [dbo].[usp_BOE_BILLING_TUKWILA]    Script Date: 2/26/2020 2:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		traci treffert
-- Create date: 9/23/2019
-- Description:	Boeing Billing for BOEEME TUKWILA
--		converted from original code in Crystal Reports to be used as SSRS report
--		take the logic/process out of hardcoded CR report and put in SQL for ease of maintenance
--		logic to also be included in Gross Margin processing
-- =============================================

ALTER PROCEDURE [dbo].[usp_BOE_BILLING_TUKWILA] (@STARTDATE DATE, @ENDDATE DATE)  
AS

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DECLARE @CHARGE FLOAT, @SPECIAL FLOAT, @SERVICE FLOAT
--SET @STARTDATE = '8/1/2019' 
--SET @ENDDATE = '9/23/2019'
SET @CHARGE = (SELECT CHARGE FROM LIVESupplemental.dbo.[BOE_Billing_Charges] WHERE [REPORT] = 'usp_BOE_BILLING_TUKWILA')
;

SELECT 'TUKWILA' AS SPROC 
	, 0 AS [COST ITEM]
	, 1 AS POS
	, [PART NUMBER]
	, RAMAC
	, [BILLED QTY]
	, CASE
		WHEN ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) < 250 THEN 250 / [BILLED QTY]
		ELSE ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) / [BILLED QTY] 
	END AS [UNIT PRICE]
	, CASE
		WHEN ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) < 250 THEN 250 
		ELSE ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE)  
	END AS [EXTENDED DOLLARS]
	, 0 AS [EXPEDITE DOLLARS]
	, 0 AS [SPECIAL FEES]
	, SUM(SORT_SETUP) AS [SETUP HOURS]
	, SUM(SORT_RUN) AS [RUN HOURS]
	, 0 AS [EXPEDITE HOURS]
	, [PACK SLIPS]
	, STUFF(REPLACE('/' + CONVERT(NVARCHAR(15), INVOICED_DATE, 101), '/0', '/'), 1, 1, '') + CASE
		WHEN ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) < 250 THEN ', MIN LOT'
		ELSE ', WRAP' 
	END AS COMMENTS
	, [INVOICE ID]
	, CASE
		WHEN ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) < 250 THEN 1
		ELSE 9 
	END AS SORTATION
FROM 
	(
	SELECT CO.ID AS RAMAC
		, LT.WORKORDER_BASE_ID
		, LT.HOURS_WORKED
		, COL.PART_ID AS [PART NUMBER]
		, COL.TOTAL_SHIPPED_QTY AS [BILLED QTY]
		, LT.[TYPE]
		, LT.TRANSACTION_ID
		, CO.CUSTOMER_ID
		, SR.USER_1
		, SL.SHIPPED_QTY
		, S.INVOICE_ID AS [INVOICE ID]
		, S.INVOICED_DATE
		, S.PACKLIST_ID AS [PACK SLIPS]
		, SR.RESOURCE_ID
		, CASE
			WHEN LT.[TYPE] = 'S' THEN LT.HOURS_WORKED
			ELSE 0
		END AS SORT_SETUP
		, CASE
			WHEN LT.[TYPE] = 'R' THEN LT.HOURS_WORKED
			ELSE 0
		END AS SORT_RUN
	FROM DataWarehouse.dbo.SHIPPER S
	INNER JOIN DataWarehouse.dbo.SHIPPER_LINE SL
		ON S.PACKLIST_ID = SL.PACKLIST_ID
	INNER JOIN DataWarehouse.dbo.CUST_ORDER_LINE COL
		ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
		AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	INNER JOIN DataWarehouse.dbo.CUSTOMER_ORDER CO
		ON COL.CUST_ORDER_ID = CO.ID
	INNER JOIN DataWarehouse.dbo.DEMAND_SUPPLY_LINK DSL
		ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
		AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
	INNER JOIN DataWarehouse.dbo.WORK_ORDER WO
		ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
		AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
		AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
	INNER JOIN DataWarehouse.dbo.LABOR_TICKET LT
		ON WO.BASE_ID = LT.WORKORDER_BASE_ID
		AND WO.LOT_ID = LT.WORKORDER_LOT_ID
		AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
		AND WO.SUB_ID = LT.WORKORDER_SUB_ID
		AND WO.[TYPE] = LT.WORKORDER_TYPE
	INNER JOIN DataWarehouse.dbo.SHOP_RESOURCE_SITE SR
		ON LT.RESOURCE_ID = SR.RESOURCE_ID
	INNER JOIN CUST_ADDRESS CA
		ON CO.CUSTOMER_ID = CA.CUSTOMER_ID
		AND S.SHIP_TO_ADDR_NO = CA.ADDR_NO
	WHERE SL.SHIPPED_QTY > 0
		AND WO.BASE_ID NOT LIKE N'%R%'
		AND CO.CUSTOMER_ID = N'BOEEME'
		AND NOT EXISTS (SELECT 1 FROM LIVESupplemental.dbo.ResourceID_ReportSettings EX
			WHERE LT.RESOURCE_ID = EX.RESOURCE_ID
				AND REPORT_NAME = 'usp_BOE_BILLING_TUKWILA'
				AND REPORT_SECTION = 'MAIN EXCLUSION'
				)
		AND CA.CITY = 'TUKWILA'
		AND (S.INVOICED_DATE >= @STARTDATE AND S.INVOICED_DATE <= @ENDDATE)
	) A
GROUP BY [PART NUMBER]
	, RAMAC
	, [BILLED QTY]
	, [PACK SLIPS]
	, [INVOICE ID]
	, [INVOICED_DATE]
