USE [Datamart]
GO
/****** Object:  StoredProcedure [dbo].[usp_BOE_BILLING_MFG]    Script Date: 9/23/2020 7:49:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		traci treffert
-- Create date: 9/17/2019
-- Description:	Boeing Billing for BOE609 MFG
--		converted from original code in Crystal Reports to be used as SSRS report
--		take the logic/process out of hardcoded CR report and put in SQL for ease of maintenance
--		logic to also be included in Gross Margin processing
-- =============================================

ALTER PROCEDURE [dbo].[usp_BOE_BILLING_MFG] (@STARTDATE DATE, @ENDDATE DATE)  
AS

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DECLARE @CHARGE FLOAT = (SELECT CHARGE FROM LIVESupplemental.dbo.[BOE_Billing_Charges] WHERE [REPORT] = 'usp_BOE_BILLING_MFG')
, @SPECIAL FLOAT = (SELECT SPECIAL FROM LIVESupplemental.dbo.[BOE_Billing_Charges] WHERE [REPORT] = 'usp_BOE_BILLING_MFG')
, @SERVICE FLOAT = (SELECT [SERVICE] FROM LIVESupplemental.dbo.[BOE_Billing_Charges] WHERE [REPORT] = 'usp_BOE_BILLING_MFG')
--, @STARTDATE DATE = '8/28/2020' 
--, @ENDDATE DATE = '8/31/2020'
;

SELECT SPROC 
	, [COST ITEM]
	, [POS]
	, [PART NUMBER]
	, [RAMAC]
	, [BILLED QTY]
	, [INVOICE ID]
	, [PACK SLIPS / DATE]
	, [EXPEDITE HOURS]
	, [EXPEDITE DOLLARS]
	, [SPECIAL FEES]
	, [COMMENTS]
	, CASE 
		WHEN [Description] IS NOT NULL 
			THEN [Mfg_Unit SETUP Hours] * [BILLED QTY]
		ELSE SUM(SORT_SETUP) 
	END AS [SETUP HOURS]
	, CASE 
		WHEN [Description] IS NOT NULL 
			THEN [Mfg_Unit Run Hours] * [BILLED QTY]
		ELSE SUM(SORT_RUN) + (SERVICE_FEE)
	END AS [RUN HOURS]
	, CASE
		WHEN [BILLED QTY] <= 0 THEN 0
		WHEN [Description] IS NOT NULL 
			THEN ([Mfg_Unit Setup Hours] + [Mfg_Unit Run Hours]) * [BILLED QTY] 
		ELSE (SUM(SORT_SETUP) + SUM(SORT_RUN) + (SERVICE_FEE))
	END * @CHARGE + CASE
		WHEN [BILLED QTY] < [Batch Qty] AND [Description] LIKE 'Stanchion%' THEN 175
		ELSE 0
	END AS [EXTENDED DOLLARS]
	, CASE
		WHEN [BILLED QTY] <= 0 THEN 0
		WHEN [Description] IS NOT NULL 
			THEN ([Mfg_Unit Setup Hours] + [Mfg_Unit Run Hours]) * [BILLED QTY]
		ELSE (SUM(SORT_SETUP) + SUM(SORT_RUN) + (SERVICE_FEE)) 
	END * @CHARGE / [BILLED QTY] AS [UNIT PRICE]
FROM 
	(SELECT 'MFG' AS SPROC 
		, '0' AS [COST ITEM]
		, '1' AS [POS]
		, COL.PART_ID AS [PART NUMBER]
		, CO.ID AS [RAMAC]
		, COL.TOTAL_SHIPPED_QTY AS [BILLED QTY]
		, S.INVOICE_ID AS [INVOICE ID]
		, SL.PACKLIST_ID + ',' + STUFF(REPLACE('/' + CONVERT(NVARCHAR(15), INVOICED_DATE, 101), '/0', '/'), 1, 1, '') 
			+ ',MFG,WRAP' AS [PACK SLIPS / DATE]
		, 0 AS [EXPEDITE HOURS]
		, 0 AS [EXPEDITE DOLLARS]
		, ROUND((WO.ACT_SERVICE_COST/@SERVICE), 2) AS SERVICE_FEE
		, CASE
			WHEN WO.ACT_SERVICE_COST > 0 THEN @SPECIAL
			ELSE 0
		END + CASE
			WHEN TOTAL_SHIPPED_QTY < [Batch Qty] AND CB.[Description] LIKE 'Stanchion%' THEN 175
			ELSE 0
		END AS [SPECIAL FEES]
		, CASE
			WHEN CB.[DESCRIPTION] IS NULL THEN ''
			WHEN CB.[Batch Qty] > COL.TOTAL_SHIPPED_QTY 
				THEN 'QTY ' + CAST(CAST(TOTAL_SHIPPED_QTY AS INT) AS NVARCHAR) + ',MIN LOT,'
			ELSE '' 
		END + CASE
			WHEN CB.[DESCRIPTION] IS NULL THEN ''
			ELSE 'FIXED HOURS' 
		END AS [COMMENTS]
		, CASE
			WHEN CB.[DESCRIPTION] IS NOT NULL THEN 0
			WHEN LT.[TYPE] = 'S' THEN LT.HOURS_WORKED
			ELSE 0
		END AS SORT_SETUP
		, CASE
			WHEN CB.[DESCRIPTION] IS NOT NULL THEN 0
			WHEN LT.[TYPE] = 'R' THEN LT.HOURS_WORKED
			ELSE 0
		END AS SORT_RUN
		, CB.[DESCRIPTION]
		, CB.[Mfg_Unit Setup Hours]
		, CB.[Mfg_Unit Run Hours]
		, CB.[Batch Qty]
--> VERIFICATION FIELDS
		, LT.WORKORDER_BASE_ID
		, LT.HOURS_WORKED
		, COL.PART_ID
		, COL.TOTAL_SHIPPED_QTY
		, LT.[TYPE]
		, LT.TRANSACTION_ID
		, CO.CUSTOMER_ID
		, SR.USER_1
		, SL.SHIPPED_QTY
		, S.INVOICE_ID
		, S.INVOICED_DATE
		, S.PACKLIST_ID
		, SR.RESOURCE_ID
		, WO.ACT_SERVICE_COST
	FROM DataWarehouse.dbo.SHIPPER S
	INNER JOIN DataWarehouse.dbo.SHIPPER_LINE SL
		ON S.PACKLIST_ID = SL.PACKLIST_ID
	INNER JOIN DataWarehouse.dbo.CUST_ORDER_LINE COL
		ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
		AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	INNER JOIN DataWarehouse.dbo.CUSTOMER_ORDER CO
		ON COL.CUST_ORDER_ID = CO.ID
	INNER JOIN DataWarehouse.dbo.DEMAND_SUPPLY_LINK DSL
		ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
		AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
	INNER JOIN DataWarehouse.dbo.WORK_ORDER WO
		ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
		AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
		AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
	INNER JOIN DataWarehouse.dbo.LABOR_TICKET LT
		ON WO.BASE_ID = LT.WORKORDER_BASE_ID
		AND WO.LOT_ID = LT.WORKORDER_LOT_ID
		AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
		AND WO.SUB_ID = LT.WORKORDER_SUB_ID
		AND WO.[TYPE] = LT.WORKORDER_TYPE
	INNER JOIN DataWarehouse.dbo.OPERATION O
		ON WO.BASE_ID = O.WORKORDER_BASE_ID
		AND WO.LOT_ID = O.WORKORDER_LOT_ID
		AND WO.SPLIT_ID = O.WORKORDER_SPLIT_ID
		AND WO.SUB_ID = O.WORKORDER_SUB_ID
		AND WO.[TYPE] = O.WORKORDER_TYPE
		AND LT.OPERATION_SEQ_NO = O.SEQUENCE_NO
	INNER JOIN DataWarehouse.dbo.SHOP_RESOURCE_SITE SR
		ON LT.RESOURCE_ID = SR.RESOURCE_ID
		AND ISNULL(SR.USER_9, '') != 'BOE BILLING EXCLUDE'
	LEFT OUTER JOIN LIVESupplemental.dbo.[BOE_Stanchion_Cargo_Bay] CB
		ON CB.[PART NUMBER] = COL.PART_ID
	WHERE SL.SHIPPED_QTY > 0
		AND SR.USER_1 IN (N'D', N'E', N'M')
		AND CO.CUSTOMER_ID = N'BOE609'
		AND NOT EXISTS (SELECT 1 FROM LIVESupplemental.dbo.PartID_ReportSettings EX
			WHERE COL.PART_ID = EX.PART_ID
				AND REPORT_NAME = 'usp_BOE_BILLING_MFG'
				AND REPORT_SECTION = 'MAIN EXCLUSION'
		)
		AND CASE
			WHEN COL.PART_ID IN ('411N2001-1', '411A2001-1B') THEN 'OK'
			WHEN LT.WORKORDER_BASE_ID LIKE '%R%' THEN 'NOT OK'
			WHEN WO.PART_ID LIKE '%REWORK%' THEN 'NOT OK'
			ELSE 'OK'
		END = 'OK'
		AND (S.INVOICED_DATE >= @STARTDATE AND S.INVOICED_DATE <= @ENDDATE)
--		AND CO.ID = '001701580'
	) A
GROUP BY SPROC 
	, [COST ITEM]
	, [POS]
	, [PART NUMBER]
	, [RAMAC]
	, [BILLED QTY]
	, [INVOICE ID]
	, [PACK SLIPS / DATE]
	, [EXPEDITE HOURS]
	, [EXPEDITE DOLLARS]
	, [SPECIAL FEES]
	, [COMMENTS]
	, [Batch Qty]
	, SERVICE_FEE
	, [Description]
	, [Mfg_Unit SETUP Hours]
	, [Mfg_Unit Run Hours]
