USE [Datamart]
GO
/****** Object:  StoredProcedure [dbo].[usp_BOE_BILLING_5AXIS]    Script Date: 9/23/2020 7:48:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		traci treffert
-- Create date: 9/17/2019
-- Description:	Boeing Billing for BOE609 5AXIS
--		converted from original code in Crystal Reports to be used as SSRS report
--		take the logic/process out of hardcoded CR report and put in SQL for ease of maintenance
--		logic to also be included in Gross Margin processing
-- =============================================

ALTER PROCEDURE [dbo].[usp_BOE_BILLING_5AXIS] (@STARTDATE DATE, @ENDDATE DATE)
AS

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DECLARE @CHARGE FLOAT = (SELECT CHARGE FROM LIVESupplemental.dbo.[BOE_Billing_Charges] WHERE [REPORT] = 'usp_BOE_BILLING_5AXIS')
--, @STARTDATE DATE = '5/1/2020' 
--, @ENDDATE DATE = '8/31/2020'
;

SELECT '5AXIS' AS SPROC 
	, 0 AS [COST ITEM]
	, '1' AS [POS]
	, COL.PART_ID AS [PART NUMBER]
	, CO.ID AS [RAMAC]
	, COL.TOTAL_SHIPPED_QTY AS [BILLED QTY]
	, (AX.[Setup Time] * CEILING(COL.TOTAL_SHIPPED_QTY / AX.[SFC Count]) + (AX.[Average Run Hours] * COL.TOTAL_SHIPPED_QTY)) 
		* @CHARGE / COL.TOTAL_SHIPPED_QTY AS [UNIT PRICE]
	, (AX.[Setup Time] * CEILING(COL.TOTAL_SHIPPED_QTY / AX.[SFC Count]) + (AX.[Average Run Hours] * COL.TOTAL_SHIPPED_QTY)) 
		* @CHARGE AS [EXTENDED DOLLARS]
	, 0 AS [EXPEDITE DOLLARS]
	, 0 AS [SPECIAL FEES]
	, 0 AS SERVICE_FEE
	, AX.[Setup Time] * CEILING(COL.TOTAL_SHIPPED_QTY / AX.[SFC Count]) AS [SETUP HOURS]
	, AX.[Average Run Hours] * COL.TOTAL_SHIPPED_QTY AS [RUN HOURS]
	, 0 AS [EXPEDITE HOURS]
	, S.PACKLIST_ID + ',' + STUFF(REPLACE('/' + CONVERT(NVARCHAR(15), INVOICED_DATE, 101), '/0', '/'), 1, 1, '') 
		+ ',AXIS,WRAP' AS [PACK SLIPS / DATE]
	, 'FIXED HOURS' AS COMMENTS
--	, S.INVOICE_ID AS [INVOICE ID]
	FROM DataWarehouse.dbo.SHIPPER S
	INNER JOIN DataWarehouse.dbo.SHIPPER_LINE SL
		ON S.PACKLIST_ID = SL.PACKLIST_ID
	INNER JOIN DataWarehouse.dbo.CUST_ORDER_LINE COL
		ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
		AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	INNER JOIN DataWarehouse.dbo.CUSTOMER_ORDER CO
		ON COL.CUST_ORDER_ID = CO.ID
	INNER JOIN DataWarehouse.dbo.DEMAND_SUPPLY_LINK DSL
		ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
		AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
	INNER JOIN DataWarehouse.dbo.WORK_ORDER WO
		ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
		AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
		AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
	INNER JOIN DataWarehouse.dbo.LABOR_TICKET LT
		ON WO.BASE_ID = LT.WORKORDER_BASE_ID
		AND WO.LOT_ID = LT.WORKORDER_LOT_ID
		AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
		AND WO.SUB_ID = LT.WORKORDER_SUB_ID
		AND WO.[TYPE] = LT.WORKORDER_TYPE
	INNER JOIN DataWarehouse.dbo.SHOP_RESOURCE_SITE SR
		ON LT.RESOURCE_ID = SR.RESOURCE_ID
		AND ISNULL(SR.USER_9, '') != 'BOE BILLING EXCLUDE'
	LEFT OUTER JOIN LIVESupplemental.dbo.[BOE_Billing_5AXIS] AX
		ON AX.[Part ID] = COL.PART_ID
	WHERE SL.SHIPPED_QTY > 0
		AND SR.USER_1 IN (N'D', N'E', N'M')
		AND CO.CUSTOMER_ID = N'BOE609'
		AND EXISTS (SELECT 1 FROM LIVESupplemental.dbo.PartID_ReportSettings EX
			WHERE COL.PART_ID = EX.PART_ID
				AND REPORT_NAME = 'usp_BOE_BILLING_5AXIS'
				AND REPORT_SECTION = 'MAIN INCLUSION'
		)
		AND CASE
			WHEN COL.PART_ID IN ('411N2001-1', '411A2001-1B') THEN 'OK'
			WHEN LT.WORKORDER_BASE_ID LIKE '%R%' THEN 'NOT OK'
			WHEN WO.PART_ID LIKE '%REWORK%' THEN 'NOT OK'
			ELSE 'OK'
		END = 'OK'
		AND (S.INVOICED_DATE >= @STARTDATE AND S.INVOICED_DATE <= @ENDDATE)
GROUP BY COL.PART_ID
	, CO.ID
	, COL.TOTAL_SHIPPED_QTY
	, S.PACKLIST_ID
	, S.INVOICED_DATE
	, S.INVOICE_ID
	, AX.[Setup Time] 
	, AX.[SFC Count]
	, AX.[Average Run Hours]
