USE [Datamart]
GO
/****** Object:  StoredProcedure [dbo].[usp_BOE_BILLING_EME]    Script Date: 9/23/2020 7:49:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		traci treffert
-- Create date: 9/22/2020
-- Description:	Boeing Billing for BOEEME
--		converted from original code in Crystal Reports to be used as SSRS report
--		take the logic/process out of hardcoded CR report and put in SQL for ease of maintenance
--		logic to also be included in Gross Margin processing
--
--  ISSUES WITH BILLING BASED UPON PART_IDS;  SEE COMPARISON
-- =============================================

ALTER PROCEDURE [dbo].[usp_BOE_BILLING_EME] (@STARTDATE DATE, @ENDDATE DATE)  
AS

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DECLARE @CHARGE FLOAT = (SELECT CHARGE FROM LIVESupplemental.dbo.[BOE_Billing_Charges] WHERE [REPORT] = 'usp_BOE_BILLING_EME')
--, @STARTDATE DATE = '6/1/2019' 
--, @ENDDATE DATE = '9/23/2019'
;

SELECT SPROC 
	, [COST ITEM]
	, POS
	, [PART NUMBER]
	, RAMAC
	, [BILLED QTY]
	, [INVOICE ID]
	, [PACK SLIPS]
	, [EXPEDITE DOLLARS]
	, [SPECIAL FEES]
	, [EXPEDITE HOURS]
	, CASE
		WHEN ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) < 250 THEN 250 / [BILLED QTY]
		ELSE ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) / [BILLED QTY] 
	END AS [UNIT PRICE]
	, CASE
		WHEN ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) < 250 THEN 250 
		ELSE ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE)  
	END AS [EXTENDED DOLLARS]
	, SUM(SORT_SETUP) AS [SETUP HOURS]
	, SUM(SORT_RUN) AS [RUN HOURS]
	, STUFF(REPLACE('/' + CONVERT(NVARCHAR(15), INVOICED_DATE, 101), '/0', '/'), 1, 1, '') + CASE
		WHEN ((SUM(SORT_SETUP) + SUM(SORT_RUN)) * @CHARGE) < 250 THEN ',MIN LOT'
		ELSE ',WRAP' 
	END AS COMMENTS
FROM 
	(SELECT CASE
			WHEN CA.CITY IN ('HELENA', 'TUKWILA') THEN CA.CITY
			ELSE ''
		END AS SPROC 
		, 0 AS [COST ITEM]
		, 1 AS POS
		, CO.ID AS RAMAC
		, 0 AS [EXPEDITE DOLLARS]
		, 0 AS [SPECIAL FEES]
		, 0 AS [EXPEDITE HOURS]
		, LT.WORKORDER_BASE_ID
		, LT.HOURS_WORKED
		, COL.PART_ID AS [PART NUMBER]
		, COL.TOTAL_SHIPPED_QTY AS [BILLED QTY]
		, LT.[TYPE]
		, LT.TRANSACTION_ID
		, CO.CUSTOMER_ID
		, SR.USER_1
		, SL.SHIPPED_QTY
		, S.INVOICE_ID AS [INVOICE ID]
		, S.INVOICED_DATE
		, S.PACKLIST_ID AS [PACK SLIPS]
		, SR.RESOURCE_ID
		, CASE
			WHEN LT.[TYPE] = 'S' THEN LT.HOURS_WORKED
			ELSE 0
		END AS SORT_SETUP
		, CASE
			WHEN LT.[TYPE] = 'R' THEN LT.HOURS_WORKED
			ELSE 0
		END AS SORT_RUN
	FROM DataWarehouse.dbo.SHIPPER S
	INNER JOIN DataWarehouse.dbo.SHIPPER_LINE SL
		ON S.PACKLIST_ID = SL.PACKLIST_ID
	INNER JOIN DataWarehouse.dbo.CUST_ORDER_LINE COL
		ON SL.CUST_ORDER_ID = COL.CUST_ORDER_ID
		AND SL.CUST_ORDER_LINE_NO = COL.LINE_NO
	INNER JOIN DataWarehouse.dbo.CUSTOMER_ORDER CO
		ON COL.CUST_ORDER_ID = CO.ID
	INNER JOIN DataWarehouse.dbo.DEMAND_SUPPLY_LINK DSL
		ON COL.CUST_ORDER_ID = DSL.DEMAND_BASE_ID
		AND COL.LINE_NO = DSL.DEMAND_SEQ_NO
	INNER JOIN DataWarehouse.dbo.WORK_ORDER WO
		ON DSL.SUPPLY_BASE_ID = WO.BASE_ID
		AND DSL.SUPPLY_LOT_ID = WO.LOT_ID
		AND DSL.SUPPLY_SPLIT_ID = WO.SPLIT_ID
	INNER JOIN DataWarehouse.dbo.LABOR_TICKET LT
		ON WO.BASE_ID = LT.WORKORDER_BASE_ID
		AND WO.LOT_ID = LT.WORKORDER_LOT_ID
		AND WO.SPLIT_ID = LT.WORKORDER_SPLIT_ID
		AND WO.SUB_ID = LT.WORKORDER_SUB_ID
		AND WO.[TYPE] = LT.WORKORDER_TYPE
	INNER JOIN DataWarehouse.dbo.SHOP_RESOURCE_SITE SR
		ON LT.RESOURCE_ID = SR.RESOURCE_ID
		AND ISNULL(SR.USER_9, '') != 'BOE BILLING EXCLUDE'
	INNER JOIN CUST_ADDRESS CA
		ON CO.CUSTOMER_ID = CA.CUSTOMER_ID
		AND S.SHIP_TO_ADDR_NO = CA.ADDR_NO
	WHERE SL.SHIPPED_QTY > 0
		AND WO.BASE_ID NOT LIKE N'%R%'
		AND WO.PART_ID NOT LIKE '%REWORK%'
		AND CO.CUSTOMER_ID = N'BOEEME'
		AND (S.INVOICED_DATE >= @STARTDATE AND S.INVOICED_DATE <= @ENDDATE)
	) A
GROUP BY SPROC 
	, [COST ITEM]
	, POS
	, [PART NUMBER]
	, RAMAC
	, [BILLED QTY]
	, [INVOICE ID]
	, INVOICED_DATE
	, [PACK SLIPS]
	, [EXPEDITE DOLLARS]
	, [SPECIAL FEES]
	, [EXPEDITE HOURS]
