USE [Datamart]
GO
/****** Object:  StoredProcedure [dbo].[usp_Gross_Margin_Ops]    Script Date: 11/18/2019 9:40:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_Gross_Margin_Ops]  

AS

BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DROP TABLE DATAWAREHOUSE.dbo.GROSS_MARGIN_OPS

SELECT WORKORDER_BASE_ID
	, WORKORDER_LOT_ID
	, WORKORDER_SPLIT_ID
	, WORKORDER_SUB_ID
	, SEQUENCE_NO
	, RESOURCE_ID
	, SETUP_HRS
	, O.CLOSE_DATE
	, OPERATION_TYPE
	, ACT_ATL_LAB_COST
	, ACT_ATL_BUR_COST
	, ACT_ATL_SER_COST
	, ACT_TTL_MAT_COST
	, ACT_TTL_LAB_COST
	, ACT_TTL_BUR_COST
	, ACT_TTL_SER_COST
	, SPLIT_ADJUSTMENT
	, O.STATUS_EFF_DATE
INTO DATAWAREHOUSE.dbo.GROSS_MARGIN_OPS
FROM DATAWAREHOUSE.dbo.WORK_ORDER WO
INNER JOIN DATAWAREHOUSE.dbo.OPERATION O
ON O.WORKORDER_TYPE = WO.[TYPE]
AND O.WORKORDER_BASE_ID = WO.BASE_ID
AND O.WORKORDER_LOT_ID = WO.LOT_ID
AND O.WORKORDER_SPLIT_ID = WO.SPLIT_ID
AND O.WORKORDER_SUB_ID = WO.SUB_ID
WHERE EXISTS (SELECT 1
	FROM DATAWAREHOUSE.dbo.GROSS_MARGIN T
	WHERE T.BASE_ID = O.WORKORDER_BASE_ID
		AND T.LOT_ID = O.WORKORDER_LOT_ID
		AND T.SPLIT_ID = O.WORKORDER_SPLIT_ID
		AND T.SUB_ID = O.WORKORDER_SUB_ID
		AND O.WORKORDER_TYPE = 'W'
	)
ORDER BY WORKORDER_BASE_ID

--SELECT * FROM DATAWAREHOUSE.dbo.GROSS_MARGIN_OPS

END