USE [Datamart]
GO
/****** Object:  StoredProcedure [dbo].[usp_Gross_Margin_tlt]    Script Date: 12/15/2020 9:57:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**********************************************************************************************
Description:	Gross Marging Version 2
Sample:			EXEC Datamart.[dbo].usp_Gross_Margin 

Date        Modified By         Change Description
----------  ------------------  ------------------------------------------------------------
11/22/2019	Traci and Luke		v1 
11/24/2019	William Thompson	v2 used xact
11/29/2019	William	Thompson	v2.1 re-write, transactions rewrite, unit rewrite, using BOE_BILLING v2 broken depends
12/05/2019	William Thompson	amt rib, v2.2
12/12/2019	William Thompson	offsetting negative (refund for charges) line item.
01/22/2020	William Thompson	13 month rolling.
09/17/2020	William Thompson	updated defective boe billing code to type cast numeric in udf
10/1/2020	William Thompson	converted defective boe billing finish code to ETL
12/15/2020	traci treffert		clean up the spaghetti code

*********************************************************************************************/

CREATE PROCEDURE [dbo].[usp_Gross_Margin_tlt]  
AS

truncate table DataWarehouse.dbo.GROSS_MARGIN

SET NOCOUNT ON;
--set nocount off;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET DEADLOCK_PRIORITY LOW

DECLARE @START DATE = DATEADD(DAY, 1, EOMONTH(DATEADD(YEAR, -1, GETDATE()), 0)) 
	, @END DATE = GETDATE()-1

IF OBJECT_ID('tempdb..#RESULTS') IS NOT NULL DROP TABLE #RESULTS;
CREATE TABLE #RESULTS
	([REC_ISSUES] [VARCHAR](7) NULL
	, [ORDER_TYPE] [VARCHAR](9) NULL
	, [BUS_STREAM] [NVARCHAR](254) NULL
	, [BUS_UNIT] [NVARCHAR](254) NULL
	, [PLANNER_USER_ID] [NVARCHAR](20) NULL
	, [BUYER_USER_ID] [NVARCHAR](20) NULL
	, [SALESPERSON_ID] [NVARCHAR](255) NULL
	, [CO_CREATE_DATE] [DATETIME] NULL
	, [WO_CREATE_DATE] [DATETIME] NULL
	, [SHIPPED_DATE] [DATETIME] NULL
	, [CUSTOMER_ID] [NVARCHAR](15) NULL
	, [CUST_ORDER_ID] [NVARCHAR](15) NULL
	, [COL_LINE] [SMALLINT] NULL
	, [BASE_ID] [NVARCHAR](30) NULL
	, [LOT_ID] [NVARCHAR](3) NULL
	, [SPLIT_ID] [NVARCHAR](3) NULL
	, [SUB_ID] [NVARCHAR](3) NULL
	, [WO_STATUS] [NCHAR](1) NULL
	, [PACKLIST_ID] [NVARCHAR](15) NULL
	, [TRANSACTION_ID] [INT] NULL
	, [INVOICE_ID] [NVARCHAR](15) NULL
	, [INV_LINE] [SMALLINT] NULL
	, [PART_ID] [NVARCHAR](30) NULL
	, [SHIP_SHORT] [NCHAR](1) NULL
	, [TRACE_ID] [NVARCHAR](30) NULL
	, [TOTAL_SHIPPED_QTY] [DECIMAL](14,4) NULL
	, [COL_ORDER_QTY] [DECIMAL](14,4) NULL
	, [DESIRED_QTY] [DECIMAL](14,4) NULL
	, [TRACE_QTY] [DECIMAL](16,4) NULL
	, [SHIPPED_QTY] [DECIMAL](14,4) NULL
	, [REC_QTY] [NUMERIC](14,4) NULL
	, [COL_UNIT_PRICE] [DECIMAL](15,6) NULL
	, [REC_AMOUNT] [NUMERIC](15,2) NULL
	, [TRACE_CHARGE_ALLOC] [DECIMAL](38,8) NULL
	, [TOTAL_INVOICE_AMOUNT] [FLOAT] NULL
	, [TRACE_INVOICE_AMOUNT] [FLOAT] NULL
	, [UNIT_INVOICE_AMOUNT] [FLOAT] NULL
	, [TOTAL_BURDEN_COST] [DECIMAL](15,2) NULL
	, [TOTAL_MATERIAL_COST] [DECIMAL](15,2) NULL
	, [TOTAL_LABOR_COST] [DECIMAL](15,2) NULL
	, [TOTAL_SERVICE_COST] [DECIMAL](15,2) NULL
	, [TRACE_BURDEN_COST] [DECIMAL](38,6) NULL
	, [TRACE_MATERIAL_COST] [DECIMAL](38,6) NULL
	, [TRACE_LABOR_COST] [DECIMAL](38,6) NULL
	, [TRACE_SERVICE_COST] [DECIMAL](38,6) NULL
	, [UNIT_BURDEN_COST] [DECIMAL](38,6) NULL
	, [UNIT_MATERIAL_COST] [DECIMAL](38,6) NULL
	, [UNIT_LABOR_COST] [DECIMAL](38,6) NULL
	, [UNIT_SERVICE_COST] [DECIMAL](38,6) NULL
	, [TOTAL_CHARGE] [DECIMAL](15,2) NULL
	, [PART_QTY] [DECIMAL](38,4) NULL
	, [UNIT_CHARGE_ALLOC] [DECIMAL](38,21) NULL
	, [PART NUMBER] [NVARCHAR](30) NULL
	, [SUM_EXTENDED_DOLLARS] [FLOAT] NULL
	, [TOTAL_HOURS] [DECIMAL](38,2) NULL
	, [AMT_BASE_ID] [NVARCHAR](4000) NULL
	, [AMT_REC_AMOUNT] [NUMERIC](38,2) NULL
	, [AMT_BURDEN_COST] [DECIMAL](38,2) NULL
	, [AMT_MATERIAL_COST] [DECIMAL](38,2) NULL
	, [AMT_LABOR_COST] [DECIMAL](38,2) NULL
	, [AMT_SERVICE_COST] [DECIMAL](38,2) NULL
	, [TRACE_BURDEN_COST_HDR] [DECIMAL](38,6) NULL
	, [TRACE_MATERIAL_COST_HDR] [DECIMAL](38,6) NULL
	, [TRACE_LABOR_COST_HDR] [DECIMAL](38,6) NULL
	, [TRACE_SERVICE_COST_HDR] [DECIMAL](38,6) NULL
	, [TRACE_PRICE] [FLOAT] NULL
	, [INV_UNIT_PRICE] [FLOAT] NULL
	, [UNITPRICE_DELTA] [FLOAT] NULL
	, [TOTAL_TRACE_COST] [DECIMAL](38,6) NULL
	, [TRACE_UNIT_COST] [DECIMAL](38,6) NULL
	, [TOTAL_UNIT_COST] [DECIMAL](38,6) NULL
	)
;

IF OBJECT_ID('tempdb..#BUS_UNIT') IS NOT NULL DROP TABLE #BUS_UNIT
SELECT * 
INTO #BUS_UNIT
FROM [SQL-LAB-2].[LIVE].dbo.USER_DEF_FIELDS UDF
WHERE PROGRAM_ID = 'VMCUSMNT'
	AND UDF.ID = 'UDF-0000072'
--SELECT * FROM #BUS_UNIT
;

-----------------------------> BOE BILLING STARTS
IF OBJECT_ID('tempdb..#BOE_BILLING') IS NOT NULL DROP TABLE #BOE_BILLING

CREATE TABLE #BOE_BILLING
	([SPROC] NVARCHAR(15)
	, [COST ITEM] NVARCHAR(1)
	, [POS] NVARCHAR(5)
	, [PART NUMBER] NVARCHAR(30)
	, [RAMAC] NVARCHAR(20)
	, [BILLED QTY] FLOAT
	, [UNIT PRICE] FLOAT
	, [EXTENDED DOLLARS] FLOAT
	, [EXPEDITE DOLLARS] FLOAT
	, [SPECIAL FEES] FLOAT  
	, [SERVICE_FEES] [int] NULL
	, [SETUP HOURS] [decimal](14,2)
	, [RUN HOURS] [decimal](14,2)
	, [EXPEDITE HOURS] FLOAT
	, [PACK SLIPS / DATE] NVARCHAR(MAX)
	, [INVOICE ID] NVARCHAR(MAX)  
	, [COMMENTS] NVARCHAR(MAX)
	, [SORTATION] INT
	)

INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_605 @START, @END
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_ASSY @START, @END
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_MFG @START, @END   
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_FINISH @START, @END 
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_5AXIS @START, @END 
INSERT INTO #BOE_BILLING EXEC Datamart.dbo.usp_BOE_BILLING_BOLTBOARDS @START, @END

CREATE CLUSTERED INDEX CL_IDX_RAMAC ON #BOE_BILLING (RAMAC)
-----------------------------> BOE BILLING ENDS
;

WITH CTE_BOE AS 	
(SELECT RAMAC AS ID
	, [PART NUMBER]
	, SUM([EXTENDED DOLLARS]) AS SUM_EXTENDED_DOLLARS
	, SUM([SETUP HOURS]) + SUM([RUN HOURS]) AS TOTAL_HOURS
	, SUM([SPECIAL FEES]) AS [SPECIAL FEES]
FROM #BOE_BILLING
GROUP BY RAMAC
	, [PART NUMBER]
)

, CTE_CHARGES AS
(SELECT COL.CUST_ORDER_ID
	, SUM(RL.AMOUNT) AS TOTAL_CHARGE
FROM dbo.CUST_ORDER_LINE COL
INNER JOIN dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
LEFT OUTER JOIN dbo.RECEIVABLE_LINE RL
	ON RL.CUST_ORDER_ID = COL.CUST_ORDER_ID
	AND RL.CUST_ORDER_LINE_NO = COL.LINE_NO
LEFT OUTER JOIN dbo.RECEIVABLE R
	ON RL.INVOICE_ID = R.INVOICE_ID
WHERE COL.PART_ID IS NULL
	AND COL.SERVICE_CHARGE_ID IS NOT NULL
	AND CO.CREATE_DATE >= '1/1/2015'
	AND CO.[STATUS] != 'X'
	AND COL.ORDER_QTY > 0
    AND RL.AMOUNT > 0
GROUP BY COL.CUST_ORDER_ID
HAVING SUM(RL.AMOUNT) > 0
)

, CTE_PARTS AS
(SELECT COL.CUST_ORDER_ID
	, SUM(COL.ORDER_QTY) AS PART_QTY
FROM dbo.CUST_ORDER_LINE COL
INNER JOIN dbo.CUSTOMER_ORDER CO
	ON COL.CUST_ORDER_ID = CO.ID
INNER JOIN CTE_CHARGES CTE
	ON COL.CUST_ORDER_ID = CTE.CUST_ORDER_ID
LEFT OUTER JOIN dbo.DEMAND_SUPPLY_LINK DSL
	ON DSL.DEMAND_TYPE = 'CO'
	AND DSL.DEMAND_BASE_ID = COL.CUST_ORDER_ID
	AND DSL.DEMAND_SEQ_NO = COL.LINE_NO
WHERE COL.PART_ID IS NOT NULL
	AND COL.ORDER_QTY > 0
	AND (DSL.SUPPLY_BASE_ID NOT LIKE '%R%' 
		OR DSL.SUPPLY_BASE_ID IS NULL)
GROUP BY COL.CUST_ORDER_ID
)
--SELECT * FROM CTE_PARTS

, CTE_CHGAMTS AS
(SELECT CTE1.CUST_ORDER_ID
	, CTE1.TOTAL_CHARGE
	, CTE2.PART_QTY
	, CASE  
	    WHEN CTE1.TOTAL_CHARGE > 0 THEN
	CTE1.TOTAL_CHARGE / CTE2.PART_QTY
	ELSE NULL END AS UNIT_CHARGE_ALLOC
FROM CTE_CHARGES CTE1
INNER JOIN CTE_PARTS CTE2
	ON CTE1.CUST_ORDER_ID = CTE2.CUST_ORDER_ID
)
--SELECT * FROM CTE_CHGAMTS  where CUST_ORDER_ID = '346106'

---- BEGIN ------------------>>>>  replace this logic with inventory_dist

, CTE_COMBINED AS
(SELECT * 
FROM CTE_LINKED
UNION ALL
SELECT * 
FROM CTE_UNLINKED 
)
--SELECT * FROM CTE_COMBINED WHERE CUST_ORDER_ID = '001550232'

---- END ------------------>>>>  replace this logic with inventory_dist

, CTE_AMTRIB AS
(SELECT CUST_ORDER_ID
	, REPLACE(REPLACE(BASE_ID, 'A', ''), 'B', '') AS AMT_BASE_ID
	, SUM(REC_AMOUNT) AS AMT_REC_AMOUNT
	, SUM(ACT_BURDEN_COST) AS AMT_BURDEN_COST
	, SUM(ACT_MATERIAL_COST) AS AMT_MATERIAL_COST
	, SUM(ACT_LABOR_COST) AS AMT_LABOR_COST
	, SUM(ACT_SERVICE_COST) AS AMT_SERVICE_COST
FROM CTE_COMBINED
WHERE CUSTOMER_ID = 'AMTRIB'
GROUP BY CUST_ORDER_ID
	, REPLACE(REPLACE(BASE_ID, 'A', ''), 'B', '')
	, REC_QTY
	, SHIPPED_QTY
)
--SELECT * FROM CTE_AMTRIB WHERE CUST_ORDER_ID = '429280'

, CTE_MERGE AS
(SELECT CMB.ORDER_TYPE
	, UDF.STRING_VAL AS BUS_STREAM
	, CASE
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'FIN-HOURLY' THEN 'CMP-FIN'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'FIN' THEN 'CMP-FIN'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'MFG-HOURLY' THEN 'CMP-MFG'
		WHEN CMB.CUSTOMER_ID = 'BOE609' AND P.PLANNER_USER_ID = 'MFG' THEN 'CMP-MFG'
		ELSE UDF.STRING_VAL
	END AS BUS_UNIT
	, P.PLANNER_USER_ID
	, P.BUYER_USER_ID
	, B.Salesperson_ID
	, CMB.CO_CREATE_DATE
	, CMB.WO_CREATE_DATE
	, CMB.SHIPPED_DATE
	, CMB.CUSTOMER_ID
	, CMB.CUST_ORDER_ID
	, CMB.COL_LINE
	, CMB.BASE_ID
	, CMB.LOT_ID
	, CMB.SPLIT_ID
	, CMB.SUB_ID
	, CMB.WO_STATUS
	, CMB.PACKLIST_ID
	, CMB.TRANSACTION_ID
	, CMB.INVOICE_ID
	, CMB.INV_LINE
	, CMB.PART_ID
	, CMB.SHIP_SHORT
	, CMB.TRACE_ID
	, CMB.TOTAL_SHIPPED_QTY
	, CMB.COL_ORDER_QTY
	, CMB.DESIRED_QTY
	, CMB.TRACE_QTY
	, CMB.SHIPPED_QTY
	, CMB.REC_QTY
	, CMB.COL_UNIT_PRICE
	, CMB.REC_AMOUNT
	, CASE
		WHEN CMB.BASE_ID LIKE '%R%' THEN 0						--> REWORK
		WHEN CMB.INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN CMB.INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		WHEN CMB.COL_ORDER_QTY <= 0 THEN 0
		WHEN BOE.ID IS NOT NULL THEN BOE.[SPECIAL FEES]
		ELSE ISNULL(CTE01.UNIT_CHARGE_ALLOC, 0) * ISNULL(TRACE_QTY, SHIPPED_QTY)
	END AS TRACE_CHARGE_ALLOC
	, CASE 
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END AS TOTAL_INVOICE_AMOUNT
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END / ISNULL(REC_QTY, SHIPPED_QTY)) AS TRACE_INVOICE_AMOUNT
	, CASE 
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_REC_AMOUNT
		WHEN BOE.ID IS NOT NULL THEN BOE.SUM_EXTENDED_DOLLARS
		ELSE CMB.REC_AMOUNT
	END / ISNULL(REC_QTY, SHIPPED_QTY) AS UNIT_INVOICE_AMOUNT

----> COSTS
	, CMB.ACT_BURDEN_COST AS TOTAL_BURDEN_COST_LINE   --
	, CMB.ACT_MATERIAL_COST AS TOTAL_MATERIAL_COST_LINE
	, CMB.ACT_LABOR_COST AS TOTAL_LABOR_COST_LINE
	, CMB.ACT_SERVICE_COST AS TOTAL_SERVICE_COST_LINE
	, CMB.ACT_BURDEN_COST_HDR AS TOTAL_BURDEN_COST
	, CMB.ACT_MATERIAL_COST_HDR AS TOTAL_MATERIAL_COST
	, CMB.ACT_LABOR_COST_HDR AS TOTAL_LABOR_COST
	, CMB.ACT_SERVICE_COST_HDR AS TOTAL_SERVICE_COST

  -- trace
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_BURDEN_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_BURDEN_COST_HDR
		END / CMB.DESIRED_QTY ) AS TRACE_BURDEN_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_BURDEN_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_BURDEN_COST_HDR
		END / CMB.DESIRED_QTY) AS TRACE_BURDEN_COST_HDR
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_MATERIAL_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_MATERIAL_COST_HDR
		END / CMB.DESIRED_QTY) AS TRACE_MATERIAL_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_MATERIAL_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_MATERIAL_COST_HDR
		END / CMB.DESIRED_QTY)  AS TRACE_MATERIAL_COST_HDR
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_LABOR_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_LABOR_COST_HDR
		END / CMB.DESIRED_QTY) AS TRACE_LABOR_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_LABOR_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_LABOR_COST_HDR
		END / CMB.DESIRED_QTY) AS TRACE_LABOR_COST_HDR
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_SERVICE_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_SERVICE_COST_HDR
		END / CMB.DESIRED_QTY) AS TRACE_SERVICE_COST
	, ISNULL(TRACE_QTY, SHIPPED_QTY) * (CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_SERVICE_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		ELSE CMB.ACT_SERVICE_COST_HDR
		END / CMB.DESIRED_QTY) AS TRACE_SERVICE_COST_HDR
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_BURDEN_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_BURDEN_COST_HDR   -- Version 2
		END / (CMB.DESIRED_QTY) AS UNIT_BURDEN_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_MATERIAL_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_MATERIAL_COST_HDR  -- Version 2
	END / (CMB.DESIRED_QTY) AS UNIT_MATERIAL_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_LABOR_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_LABOR_COST_HDR  -- Version 2
	END / (CMB.DESIRED_QTY) AS UNIT_LABOR_COST
	, CASE
		WHEN AMT.CUST_ORDER_ID IS NOT NULL THEN AMT.AMT_SERVICE_COST
		WHEN CMB.CUSTOMER_ID = 'AMTRIB' AND CMB.BASE_ID != REPLACE(REPLACE(CMB.BASE_ID, 'A', ''), 'B', '') THEN 0
		WHEN INVOICE_ID LIKE '%DM%' THEN 0						--> DM
		WHEN INVOICE_ID LIKE '%CM%' THEN 0						--> CM
		ELSE CMB.ACT_SERVICE_COST_HDR
	END / (CMB.DESIRED_QTY) AS UNIT_SERVICE_COST

-->  audit purposes
	, CTE01.TOTAL_CHARGE
	, CTE01.PART_QTY
	, CTE01.UNIT_CHARGE_ALLOC
	, BOE.[PART NUMBER]
	, BOE.SUM_EXTENDED_DOLLARS
	, BOE.TOTAL_HOURS
	, AMT.AMT_BASE_ID
	, AMT.AMT_REC_AMOUNT
	, AMT.AMT_BURDEN_COST
	, AMT.AMT_MATERIAL_COST
	, AMT.AMT_LABOR_COST
	, AMT.AMT_SERVICE_COST
-->

FROM CTE_COMBINED CMB 
LEFT OUTER JOIN #BUS_UNIT UDF
	ON UDF.DOCUMENT_ID = CMB.CUSTOMER_ID
	AND UDF.PROGRAM_ID = 'VMCUSMNT'
	AND UDF.ID = 'UDF-0000072'
LEFT OUTER JOIN dbo.PART_SITE P
	ON P.PART_ID = CMB.PART_ID
LEFT OUTER JOIN LIVESupplemental.dbo.buyer_assn B
	ON LEFT(P.BUYER_USER_ID, 2) = B.Account_ID
LEFT OUTER JOIN CTE_CHGAMTS CTE01
	ON CMB.CUST_ORDER_ID = CTE01.CUST_ORDER_ID
LEFT OUTER JOIN CTE_BOE BOE
	ON BOE.ID = CMB.CUST_ORDER_ID
--	AND BOE.BASE_ID = CMB.BASE_ID
LEFT OUTER JOIN CTE_AMTRIB AMT
	ON AMT.CUST_ORDER_ID = CMB.CUST_ORDER_ID
	AND AMT.AMT_BASE_ID = CMB.BASE_ID
)
--SELECT *  into #temp7 FROM CTE_MERGE   -- WHERE CUST_ORDER_ID = '431574'


SELECT 
   CASE
		WHEN CUSTOMER_ID = 'AMTRIB' THEN 'AMTRIB'
		WHEN CUSTOMER_ID = 'SPIAER' THEN 'SPIAER'
		WHEN INVOICE_ID LIKE '%DM' OR INVOICE_ID LIKE '%DM' THEN 'DM/CM'
		WHEN BASE_ID LIKE '%R%' THEN 'REWORK'
		WHEN TRACE_INVOICE_AMOUNT < 0 AND REC_QTY < 0 THEN 'RETURN'
		WHEN TRACE_INVOICE_AMOUNT < 0 AND REC_QTY > 0 THEN 'CREDIT'
		WHEN TRACE_INVOICE_AMOUNT = 0 AND TRACE_CHARGE_ALLOC > 0 THEN 'CHARGE'
--		WHEN REC_AMOUNT = 0 AND CHARGE_ALLOC = 0 AND MRG.[STATUS] = 'X' THEN 'CANCELLED'
		WHEN TRACE_INVOICE_AMOUNT > 0 THEN 'INVOICE'
		ELSE 'ISSUES'
	END AS REC_ISSUES
, (TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) / ISNULL(NULLIF(TRACE_QTY,0.), SHIPPED_QTY) AS TRACE_PRICE
, (TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) / ISNULL(NULLIF(TRACE_QTY,0.), SHIPPED_QTY) AS INV_UNIT_PRICE

, (COL_UNIT_PRICE - ((TRACE_CHARGE_ALLOC + TRACE_INVOICE_AMOUNT) / ISNULL(NULLIF(TRACE_QTY,0.), SHIPPED_QTY))) AS UNITPRICE_DELTA

, (TRACE_BURDEN_COST + TRACE_MATERIAL_COST + TRACE_LABOR_COST + TRACE_SERVICE_COST) AS TOTAL_TRACE_COST
FROM CTE_MERGE MRG
	

INSERT INTO Datawarehouse.[dbo].[GROSS_MARGIN]
           (
	[REC_ISSUES] ,[ORDER_TYPE] ,[BUS_STREAM] ,[BUS_UNIT]
	,[PLANNER_USER_ID] ,[BUYER_USER_ID] ,[Salesperson_ID] ,[CO_CREATE_DATE]
	,[WO_CREATE_DATE] ,[SHIPPED_DATE] ,[CUSTOMER_ID] ,[CUST_ORDER_ID]
	,[COL_LINE] ,[BASE_ID] ,[LOT_ID] ,[SPLIT_ID]
	,[SUB_ID] ,[WO_STATUS] ,[PACKLIST_ID] ,[TRANSACTION_ID]
	,[INVOICE_ID] ,[INV_LINE] ,[PART_ID] ,[SHIP_SHORT] ,[TRACE_ID] 
	,[TOTAL_SHIPPED_QTY] ,[COL_ORDER_QTY] ,[DESIRED_QTY] ,[TRACE_QTY] 
	,[SHIPPED_QTY] ,[REC_QTY] ,[COL_UNIT_PRICE] 
	,[REC_AMOUNT] ,[TRACE_CHARGE_ALLOC] ,[TOTAL_INVOICE_AMOUNT] 
	,[TRACE_INVOICE_AMOUNT] ,[UNIT_INVOICE_AMOUNT] ,[TOTAL_BURDEN_COST],[TOTAL_MATERIAL_COST] 
	,[TOTAL_LABOR_COST],[TOTAL_SERVICE_COST] ,[TRACE_BURDEN_COST] ,[TRACE_MATERIAL_COST] ,[TRACE_LABOR_COST]
	,[TRACE_SERVICE_COST] ,[UNIT_BURDEN_COST] ,[UNIT_MATERIAL_COST] ,[UNIT_LABOR_COST] ,[UNIT_SERVICE_COST]
	,[TOTAL_CHARGE],[PART_QTY] ,[UNIT_CHARGE_ALLOC] ,[PART NUMBER] ,[SUM_EXTENDED_DOLLARS]
	,[TOTAL_HOURS] ,[AMT_BASE_ID] ,[AMT_REC_AMOUNT] ,[AMT_BURDEN_COST] ,[AMT_MATERIAL_COST]
	,[AMT_LABOR_COST] ,[AMT_SERVICE_COST] ,[TRACE_PRICE] ,[INV_UNIT_PRICE] ,[UNITPRICE_DELTA]
	,[TOTAL_TRACE_COST] ,[TRACE_UNIT_COST] ,[TOTAL_UNIT_COST]		   
   )  -- end parens
	   
   
   SELECT
	[REC_ISSUES] ,[ORDER_TYPE] ,[BUS_STREAM] ,[BUS_UNIT]
	,[PLANNER_USER_ID] ,[BUYER_USER_ID] ,[Salesperson_ID] ,[CO_CREATE_DATE] ,[WO_CREATE_DATE]
	,[SHIPPED_DATE] ,[CUSTOMER_ID] ,[CUST_ORDER_ID] ,[COL_LINE] ,[BASE_ID]
	,[LOT_ID] ,[SPLIT_ID] ,[SUB_ID] ,[WO_STATUS] ,[PACKLIST_ID]
	,[TRANSACTION_ID] ,[INVOICE_ID] ,[INV_LINE] ,[PART_ID] ,[SHIP_SHORT]
	,[TRACE_ID] ,[TOTAL_SHIPPED_QTY] ,[COL_ORDER_QTY] ,[DESIRED_QTY] ,[TRACE_QTY]
	,[SHIPPED_QTY] ,[REC_QTY] ,[COL_UNIT_PRICE] ,[REC_AMOUNT] ,[TRACE_CHARGE_ALLOC]
	,[TOTAL_INVOICE_AMOUNT] ,[TRACE_INVOICE_AMOUNT] ,[UNIT_INVOICE_AMOUNT] ,[TOTAL_BURDEN_COST] ,[TOTAL_MATERIAL_COST]
	,[TOTAL_LABOR_COST] ,[TOTAL_SERVICE_COST] ,[TRACE_BURDEN_COST] ,[TRACE_MATERIAL_COST] ,[TRACE_LABOR_COST]
	,[TRACE_SERVICE_COST] ,[UNIT_BURDEN_COST] ,[UNIT_MATERIAL_COST] ,[UNIT_LABOR_COST] ,[UNIT_SERVICE_COST]
	,[TOTAL_CHARGE] ,[PART_QTY] ,[UNIT_CHARGE_ALLOC] ,[PART NUMBER] ,[SUM_EXTENDED_DOLLARS]
	,[TOTAL_HOURS] ,[AMT_BASE_ID] ,[AMT_REC_AMOUNT] ,[AMT_BURDEN_COST] ,[AMT_MATERIAL_COST]
	,[AMT_LABOR_COST] ,[AMT_SERVICE_COST] ,[TRACE_PRICE] ,[INV_UNIT_PRICE] 
	, UNITPRICE_DELTA = round([UNITPRICE_DELTA],4)
	,[TOTAL_TRACE_COST] ,[TRACE_UNIT_COST] ,[TOTAL_UNIT_COST]

  FROM #RESULTS
  order by [CUST_ORDER_ID],INVOICE_ID,COL_LINE


