/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [TypeOf]
      ,[MonthNumber]
      ,[StartDate]
      ,[Budget]
  FROM [DataWarehouse].[dbo].[WIPBudget]

update WIPBudget set Budget = '28367.54' where MonthNumber = '7' and TypeOf = 'Finish'
update WIPBudget set Budget = '28367.54' where MonthNumber = '8' and TypeOf = 'Finish'
update WIPBudget set Budget = '25788.67' where MonthNumber = '9' and TypeOf = 'Finish'
update WIPBudget set Budget = '29656.97' where MonthNumber = '10' and TypeOf = 'Finish'
update WIPBudget set Budget = '24499.24' where MonthNumber = '11' and TypeOf = 'Finish'
update WIPBudget set Budget = '25788.67' where MonthNumber = '12' and TypeOf = 'Finish'

update WIPBudget set Budget = '30082.06' where MonthNumber = '7' and TypeOf = 'Manufacturing'
update WIPBudget set Budget = '30082.06' where MonthNumber = '8' and TypeOf = 'Manufacturing'
update WIPBudget set Budget = '27347.33' where MonthNumber = '9' and TypeOf = 'Manufacturing'
update WIPBudget set Budget = '31449.43' where MonthNumber = '10' and TypeOf = 'Manufacturing'
update WIPBudget set Budget = '25979.96' where MonthNumber = '11' and TypeOf = 'Manufacturing'
update WIPBudget set Budget = '27347.33' where MonthNumber = '12' and TypeOf = 'Manufacturing'
