# Database connection and credentials
DATABASE_HOST=http://127.0.0.1:8529
DATABASE_USERNAME=root
# Set this to your root password or leave blank to be prompted
DATABASE_PASSWORD=<password>
DATABASE_NAME=manufacturing_graph
# Optional dev user to create
DATABASE_DEV_USER=nx_dev
DATABASE_DEV_PASSWORD=<password>
