Displaying Test Results




# Displaying Test Results

There are five buttons in the lower right corner of
the List of Tests window. This group of buttons also includes three
radio buttons: By Operation, By Part and By Test. The radio button
you select determines whether the buttons perform their function on
data corresponding to an operation, a part, or the test step.

For example, if you select the By Operation radio button and the
click the Graph button, VISUAL displays
a graph of the test step results for the operation in the header.
If you select the By Part radio button then click the Graph button,
VISUAL plots the test step results for the Part displayed in the header.
If you select the By Test radio button then click the Graph button,
VISUAL plots all the test results for the selected test step.

The Graph button plots the test results
for the test step, either for the displayed operation, displayed part
or the entire test step.

The Histogram button plots a frequency
histogram for the test results of the selected test step, either for
the displayed operation, displayed part or entire test step.

The Capability button brings up the Process
Capability dialog box for the test results of the selected test step,
and the analysis is done either for the displayed operation, displayed
part or entire test step, depending on the radio button selection.

The Results button brings up a dialog
box that shows the recorded test results for the selected test step.
The results that appear are either for the displayed operation, displayed
part or entire test step, depending on the radio button selection.

The XBar button brings up a dialog box
that shows subgroup information (e.g. subgroup mean, grand mean) for
the test results of the selected test step, either for the displayed
operation, displayed part or entire test step, depending on the radio
button selection.

[![btn_mini.gif](btn_mini.gif "btn_mini.gif")](User_defined_Help_Files_List_of_Tests.md) User-defined Help