Entering Test results




# Entering Test Results

After you have assigned test IDs to operations, you
need to report labor for those operations before you can input test
results. Use Labor Ticket Entry to report labor.

After you have reported labor for on operation, highlight the operation
line item for which you want to input test results.

1. Click the Input
   button.

The Test Input dialog box appears for that
operation.

2. In the Enter Date/Time
   and Tester area, select the appropriate radio button:

Once for all tests
- All tests have the same date, time, and tester.

For each subgroup
- Each subgroup has a different date, time, and tester.

For each test
- Each test has a different date, time, and tester.

For each reading
- Each reading has a different date, time, and tester.

3. In the Enter Date/Time
   and Tester area, enter the number of subgroups that were tested.
4. In the Subgroup Information
   area, enter the date and time of the readings and the tester.

You can click the Date/Time
Config button to modify date and time information.

The system defaults to the current time
and date.

5. In the Input area line
   item table, enter the results of the test for each of the pieces
   tested.
6. Click the Save
   button to save the test information.

A dialog box appears, asking you if you
want to run decision tests.

If you click No, the Test Input dialog box
closes.

If you click Yes,
the Check Lack of Statistical Control dialog box appears for that
operation.

7. Enter the appropriate
   information then click Run.

VISUAL checks for parts that are outside
of statistical control, based on the values you entered. The results
appear in the Current Count column in the dialog box.

8. Click the Close
   button when you are finished.
9. Click the Save
   Decision Tests button to save the decision tests that you
   just ran.

[![btn_mini.gif](btn_mini.gif "btn_mini.gif")](User_defined_Help_Files_Manufacturing_Window.md) User-defined Help